<div class="modal-header">
  <h4 class="modal-title" translate="south.items.move-to-group-title"></h4>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="confirm()" id="form">
    <div class="form-group">
      <label class="form-label" translate="south.items.select-group"></label>
      <div>
        <div ngbDropdown class="d-inline-block w-100">
          <button
            type="button"
            class="form-select w-100 d-flex justify-content-between align-items-center text-start"
            id="group-select"
            ngbDropdownToggle
          >
            <span class="text-truncate" [translate]="getSelectedGroupName()"></span>
          </button>
          <div ngbDropdownMenu aria-labelledby="group-select" class="w-100">
            <button type="button" ngbDropdownItem (click)="selectGroup(null)" translate="south.items.group-none"></button>
            @for (group of groups; track group.id) {
              <button type="button" ngbDropdownItem (click)="selectGroup(group.id)">{{ group.name }}</button>
            }
            <div class="dropdown-divider"></div>
            <button type="button" ngbDropdownItem (click)="onCreateNewGroup()" translate="south.items.create-new-group"></button>
          </div>
        </div>
      </div>
      <val-errors controlName="groupId" />
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="confirm()" [disabled]="!form.valid" translate="common.save"></button>
    <button type="button" class="btn btn-cancel" (click)="cancel()" translate="common.cancel"></button>
  </div>
</div>
