<oib-box>
  <ng-template oibBoxTitle>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <span translate="north.subscriptions.title" id="title"></span>
        @if (subscriptions.length) {
          <span class="mx-1">({{ subscriptions.length }})</span>
        }
      </div>
      <div>
        @if (southConnectors.length !== subscriptions.length) {
          <button class="btn btn-primary btn-sm oib-box-btn" (click)="addSubscription($event)" translate="north.subscriptions.add"></button>
        }
        <oib-help url="https://oibus.optimistik.com/docs/guide/north-connectors/common-settings#subscriptions" />
      </div>
    </div>
  </ng-template>

  @if (subscriptions.length) {
    <div class="mb-3">
      <table class="table table-sm table-hover oib-table">
        <thead class="light">
          <tr>
            <th translate="north.subscriptions.name"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (subscription of subscriptions; track subscription.id) {
            <tr>
              <td>{{ subscription.name }} ({{ subscription.type }})</td>
              <td class="text-nowrap action-buttons">
                <div class="pull-right">
                  <!-- Delete button -->
                  <button
                    type="button"
                    class="btn btn-link delete-scan-mode px-1 py-0"
                    [ngbTooltip]="'north.subscriptions.tooltips.delete' | translate"
                    (click)="deleteSubscription(subscription)"
                  >
                    <span class="fa fa-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @else {
    <div>
      <div class="mb-3 oib-grey-container" id="no-subscription" translate="north.subscriptions.none"></div>
    </div>
  }
</oib-box>
