@if (registration) {
  <div class="oib-padded-container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="oib-header-container d-flex align-items-center justify-content-between">
          <div class="d-flex">
            <div class="oib-block-title">
              <img class="oib-title-image pt-2" src="/oi.svg" />
            </div>
            <h1 class="oib-title" translate="oia-module.title"></h1>
          </div>
        </div>
        @if (registration.status === 'NOT_REGISTERED') {
          <div class="w-100 text-center oib-search-form mt-2 py-3">
            <div class="mb-2">
              <span translate="oia-module.registration.not-registered"></span>
            </div>
            <button type="button" class="btn btn-primary btn-lg" id="register-button" (click)="register()">
              <span translate="oia-module.registration.register"></span>
            </button>
          </div>
        }
        @if (registration.status === 'PENDING') {
          <div class="oib-search-form mt-2 py-3">
            <div class="w-100 text-center">
              <div class="mb-2">
                <span translate="oia-module.registration.pending"></span>
                <span translate="common.colon-separator"></span>
              </div>
              <div>
                <h1>{{ registration.activationCode }}</h1>
              </div>
              <div>
                <span translate="oia-module.registration.expiration-date"></span>
                <span translate="common.colon-separator"></span>
                <span>{{ registration.activationExpirationDate! | datetime: 'mediumWithSeconds' }}</span>
              </div>
              <button type="button" class="btn btn-outline-secondary btn-sm" id="unregister-button" (click)="unregister()">
                <span translate="oia-module.registration.unregister"></span>
              </button>
            </div>
          </div>
        }
        @if (registration.status === 'REGISTERED') {
          <div class="oib-search-form mt-2 py-3">
            <div class="w-100 text-center">
              <span
                translate="oia-module.registration.registered"
                [translateParams]="{ activationDate: registration.activationDate | datetime: 'mediumWithSeconds' }"
              ></span>
            </div>
            <div class="w-100 text-center mb-2">
              <a [href]="registration.host" target="_blank">{{ registration.host }}</a>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-outline-secondary btn-sm me-2" id="register-unregister-button" (click)="unregister()">
                <span translate="oia-module.registration.unregister"></span>
              </button>
              <button type="button" class="btn btn-outline-secondary btn-sm" id="edit-register-button" (click)="editRegister()">
                <span>Edit register</span>
              </button>
            </div>
          </div>
        }
      </div>
    </div>
    @if (registration.status === 'REGISTERED') {
      <div class="row justify-content-center mt-3">
        <div class="col">
          <h2 class="oib-title" translate="oia-module.commands.title"></h2>
          @if (commands.totalElements !== 0) {
            <div>
              <oib-pagination class="d-flex justify-content-end" [page]="commands" [navigate]="true"></oib-pagination>
            </div>
          }
          <form class="px-3 mb-4 d-none d-lg-block oib-search-form" id="search-form" [formGroup]="searchForm" (ngSubmit)="searchCommands()">
            <div class="row gx-2 py-3">
              <label class="col-auto col-form-label"><i class="fa fa-search fa-lg"></i></label>
              <label for="status" class="col-auto col-form-label" translate="oia-module.commands.status"></label>
              <div class="col-2">
                <oib-multi-select formControlName="status" id="status">
                  @for (status of statusList; track status) {
                    <oib-multi-select-option [value]="status" [label]="status | oibusCommandStatusEnum"></oib-multi-select-option>
                  }
                </oib-multi-select>
              </div>
              <label for="types" class="col-auto col-form-label" translate="oia-module.commands.type"></label>
              <div class="col-2">
                <oib-multi-select formControlName="types" id="types">
                  @for (type of typeList; track type) {
                    <oib-multi-select-option [value]="type" [label]="type | oibusCommandTypeEnum"></oib-multi-select-option>
                  }
                </oib-multi-select>
              </div>
              <div class="col">
                <button class="col-auto btn btn-primary" id="search-button" form="search-form" translate="common.search"></button>
              </div>
            </div>
          </form>
          <ng-container>
            @if (commands.totalElements !== 0) {
              <div>
                <table class="table table-sm table-hover">
                  <thead class="table-light">
                    <tr>
                      <th translate="oia-module.commands.creation-date"></th>
                      <th translate="oia-module.commands.type"></th>
                      <th translate="oia-module.commands.status"></th>
                      <th translate="oia-module.commands.completion-date"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (command of commands.content; track command.id) {
                      <tr>
                        <td>{{ command.retrievedDate! | datetime: 'mediumWithSeconds' }}</td>
                        <td>{{ command.type | oibusCommandTypeEnum }}</td>
                        <td>{{ command.status | oibusCommandStatusEnum }}</td>
                        <td>
                          @if (command.completedDate) {
                            <span>{{ command.completedDate | datetime: 'mediumWithSeconds' }}</span>
                          }
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            } @else {
              <div class="oib-grey-container empty" translate="oia-module.commands.none"></div>
            }
          </ng-container>
        </div>
      </div>
    }
  </div>
}
