@import '../../../../common';

:host {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 1rem;
  margin-top: 0.4rem;
  z-index: 5000;
  font-size: 1.25rem;
  opacity: 0.95;
}

.bump {
  animation: bump 300ms ease;
}

@keyframes bump {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
