<div class="oib-box-title align-items-center ps-2 py-1 d-flex">
  <span>
    <b>{{ label }}</b>
  </span>
  <button type="button" [disabled]="editedElement" class="btn btn-link ms-2 py-0 add-button" (click)="editNewElement()">
    <span class="fa fa-plus-circle"></span>&ngsp;
  </button>
</div>

<div class="row mx-1 mt-1 px-1" *ngIf="elementsIncludingNew.length > 0">
  <div class="col-2" *ngFor="let field of displayedFields"><b>{{ field.label }}</b></div>
</div>
<div>
  <div class="component-drop-list" [class.empty]="elementsIncludingNew.length === 0">
    <div *ngIf="elementsIncludingNew.length === 0" class="p-2 oib-grey-container" translate="oib-array.no-elements"></div>
    <div *ngFor="let element of elementsIncludingNew; index as index; last as last">
      <oib-edit-element
        *ngIf="isEdited(element); else displayElement"
        class="my-1"
        [formDescription]="formDescription"
        [element]="element"
        [existingElements]="elements"
        (saved)="save($event)"
        (cancelled)="cancelEdition()"
      >
      </oib-edit-element>
      <ng-template #displayElement>
        <div class="row form-data px-1 field-display mx-1 oib-fake-table">
          <div class="col-2" *ngFor="let field of displayedFields">{{ getFieldValue(element, field.key, field.pipe) }}</div>
          <div class="col-2 text-end text-nowrap">
            <button type="button" [disabled]="editDisabled" class="btn btn-link px-1 py-0 edit-button" (click)="edit(element)">
              <span class="fa fa-pencil"></span>
            </button>
            <button type="button" [disabled]="editDisabled" class="btn btn-link px-1 py-0 delete-button" (click)="remove(index)">
              <span class="fa fa-trash"></span>
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
