@import '../../../../common.scss';

.data-list-header {
  background-color: #e9ecef;
  border-bottom: 0px;
  border-top: 0px;
  border-radius: 1rem;
}

.component-drop-list {
  min-height: 2rem;
  border-radius: 1rem;
  &.empty {
    background-color: #e9ecef;
  }
}

.oib-fake-table {
  align-items: center;
}

.oib-fake-table:hover {
  background-color: $mediumGrey;
  .btn-link {
    color: $darkGrey;
  }
  .btn-link:hover {
    color: $yellow;
  }
}

.oib-fake-container:nth-child(odd) {
  background-color: $veryLightGrey;
  &:hover {
    background-color: $mediumGrey;
  }
}

.oib-fake-container:nth-child(even) {
  background-color: $white;
  &:hover {
    background-color: $mediumGrey;
  }
}

.oib-editing-element {
  background-color: $white;
}
