@import '../../../common';

.version-update-progress-container {
  margin-top: 1rem;
  position: relative;
  height: 2rem;

  ngb-progressbar {
    width: 100%;
    height: 100%;

    // Override Bootstrap's progress bar color to gray
    ::ng-deep .progress-bar {
      background-color: #6c757d !important; // Gray color
    }
  }

  .progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white; // Ensure contrast
    font-weight: bold;
    pointer-events: none;
  }
}
