<script>
  $('').tooltip(options);
</script>
<div class="oib-padded-container">
  <div class="d-flex">
    <div class="oib-title-container mb-3">
      <div class="oib-block-title">
        <img class="oib-title-image pt-2" src="/home/north.svg" />
      </div>
      <h1 class="oib-title">
        <span translate="north.list"></span>
        <span class="ms-4">
          <button class="btn btn-primary" id="create-modal" (click)="createNorth()">
            <span class="fa fa-plus"></span>
          </button>
        </span>
      </h1>
    </div>
  </div>

  <form class="px-3 mb-4 d-none d-lg-block oib-search-form" id="search-form" [formGroup]="searchForm">
    <div class="row gx-2 py-3">
      <label class="col-auto col-form-label"><i class="fa fa-search fa-lg"></i></label>
      <label for="name" class="col-auto col-form-label" translate="north.search-by-name"></label>
      <div class="col-2">
        <input type="text" class="form-control" id="name" formControlName="name" />
      </div>
    </div>
  </form>

  <div class="justify-content-between d-flex">
    @if (allNorths && allNorths.length > 0) {
      <oib-legend [legendList]="LEGEND" />
    }
    <!-- only display it if there is more than 1 page -->
    @if (displayedNorths.totalPages > 1) {
      <oib-pagination class="d-flex justify-content-end" [page]="displayedNorths" (pageChanged)="changePage($event)" />
    }
  </div>

  <!-- the loading spinner when north are not yet loaded -->
  @if (!allNorths) {
    <oib-loading-spinner />
  } @else {
    <!-- the list of north or a caption if empty -->
    @if (displayedNorths.content.length !== 0) {
      <div>
        <table class="mt-2 table table-sm table-hover oib-table">
          <thead>
            <tr>
              <th></th>
              <th translate="north.name"></th>
              <th translate="north.type" style="width: 9rem"></th>
              <th translate="north.description"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (north of displayedNorths.content; track north.id) {
              <tr>
                @if (!north.enabled) {
                  <td>
                    <div class="grey-dot"></div>
                  </td>
                } @else {
                  <td>
                    <div class="green-dot"></div>
                  </td>
                }
                <td>{{ north.name }}</td>
                <td>{{ north.type }}</td>
                <td>{{ north.description }}</td>
                <td class="text-nowrap action-buttons">
                  <div class="pull-right">
                    <button
                      class="btn btn-link py-0 px-1 m-0"
                      id="north-enable"
                      (click)="toggleConnector(north.id, north.name, !north.enabled)"
                      [disabled]="states.get(north.id)?.isPending | async"
                    >
                      @if (states.get(north.id)?.isPending | async) {
                        <span class="fa fa-spinner fa-spin" role="status"></span>
                      }
                      @if (north.enabled && (states.get(north.id)?.isPending | async) === false) {
                        <span class="fa fa-pause" role="status"></span>
                      }
                      @if (!north.enabled && (states.get(north.id)?.isPending | async) === false) {
                        <span class="fa fa-play" role="status"></span>
                      }
                    </button>
                    <!-- Display button -->
                    <a class="btn btn-link display-north px-1 py-0" id="display-link" [routerLink]="[north.id]">
                      <span class="fa fa-search"></span>
                    </a>
                    <!-- Edit button -->
                    <a class="btn btn-link edit-north px-1 py-0" id="edit-link" [routerLink]="[north.id, 'edit']">
                      <span class="fa fa-pencil"></span>
                    </a>
                    <!-- Duplicate button -->
                    <a class="btn btn-link duplicate-north px-1 py-0" routerLink="create" [queryParams]="{ duplicate: north.id }">
                      <span class="fa fa-copy"></span>
                    </a>
                    <!-- Delete button -->
                    <button type="button" class="btn btn-link delete-north px-1 py-0" (click)="deleteNorth(north)">
                      <span class="fa fa-trash"></span>
                    </button>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <div class="oib-grey-container empty" translate="north.none"></div>
    }
  }
</div>
