@import '../../common';

.image-block {
  text-align: center;
  color: $white;
  border-radius: 1rem;
  background-color: $darkGrey;
  width: 5rem;
  height: 4rem;
  margin-left: 0 !important;
}

img.title-image {
  height: 3rem;
  padding-top: 1rem;
}

// container of the page title
.oib-header-container {
  display: flex;
}

.justify-content-between{
  margin: 0;
  margin-bottom: 1rem;
}

h1 {
  margin-top: 0.8rem;
  margin-left: 1rem
}
