<div class="oib-padded-container">
  <div class="d-flex">
    <div class="oib-title-container mb-3">
      <div class="oib-block-title">
        <img class="oib-title-image pt-2" src="../assets/home/north.svg" />
      </div>
      <h1 class="oib-title">
        <span translate="north.list"></span>
        <span class="ms-4">
          <button class="btn btn-primary" id="create-modal" (click)="createNorth()">
            <span class="fa fa-plus"></span>
          </button>
        </span>
      </h1>
    </div>
    <!-- only display it if there is more than 1 page -->
    <oib-pagination
      *ngIf="displayedNorths.totalPages > 1"
      class="d-flex justify-content-end"
      [page]="displayedNorths"
      (pageChanged)="changePage($event)"
    ></oib-pagination>
  </div>

  <form class="px-3 mb-4 d-none d-lg-block oib-search-form" id="search-form" [formGroup]="searchForm">
    <div class="row gx-2 py-3">
      <label class="col-auto col-form-label"><i class="fa fa-search fa-lg"></i></label>
      <label for="name" class="col-auto col-form-label" translate="north.search-by-name"></label>
      <div class="col-2">
        <input type="text" class="form-control" id="name" formControlName="name" />
      </div>
    </div>
  </form>

  <!-- the loading spinner when north are not yet loaded -->
  <oib-loading-spinner *ngIf="!allNorths"></oib-loading-spinner>

  <!-- the list of north or a caption if empty -->
  <ng-container *ngIf="allNorths">
    <div *ngIf="displayedNorths.content.length !== 0; else empty">
      <table class="mt-2 table table-sm table-hover oib-table">
        <thead>
          <tr>
            <th style="width: 1%"></th>
            <th translate="north.name" style="width: 10%"></th>
            <th translate="north.type" style="width: 10%"></th>
            <th translate="north.description" style="width: 70%"></th>
            <th style="width: 3%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let north of displayedNorths.content">
            <td *ngIf="!north.enabled"><div class="red-dot"></div></td>
            <td *ngIf="north.enabled"><div class="green-dot"></div></td>
            <td>{{ north.name }}</td>
            <td>{{ north.type }}</td>
            <td>{{ north.description }}</td>
            <td class="text-nowrap action-buttons">
              <div class="pull-right">
                <button
                  class="btn btn-link py-0 px-1 m-0"
                  id="north-enable"
                  (click)="toggleConnector(north.id, north.name, !north.enabled)"
                  [disabled]="states.get(north.id)?.isPending | async"
                >
                  <span class="fa fa-spinner fa-spin" role="status" *ngIf="states.get(north.id)?.isPending | async"></span>
                  <span
                    class="fa fa-pause"
                    role="status"
                    *ngIf="north.enabled && (states.get(north.id)?.isPending | async) === false"
                  ></span>
                  <span
                    class="fa fa-play"
                    role="status"
                    *ngIf="!north.enabled && (states.get(north.id)?.isPending | async) === false"
                  ></span>
                </button>
                <!-- Display button -->
                <a class="btn btn-link display-north px-1 py-0" id="display-link" [routerLink]="[north.id]">
                  <span class="fa fa-search"></span>
                </a>
                <!-- Edit button -->
                <a class="btn btn-link edit-north px-1 py-0" id="edit-link" [routerLink]="[north.id, 'edit']">
                  <span class="fa fa-pencil"></span>
                </a>
                <!-- Duplicate button -->
                <a class="btn btn-link duplicate-north px-1 py-0" routerLink="create" [queryParams]="{ duplicate: north.id }">
                  <span class="fa fa-copy"></span>
                </a>
                <!-- Delete button -->
                <button type="button" class="btn btn-link delete-north px-1 py-0" (click)="deleteNorth(north)">
                  <span class="fa fa-trash"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #empty>
      <div class="oib-grey-container empty" translate="north.none"></div>
    </ng-template>
  </ng-container>
</div>
