<oib-box>
  <ng-template oibBoxTitle>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <span translate="history-query.transformers.title" id="title"></span>
      </div>
      <div>
        <button
          class="btn btn-primary btn-sm oib-box-btn"
          (click)="addTransformer($event)"
          translate="history-query.transformers.add"
        ></button>
        <oib-help url="https://oibus.optimistik.com/docs/guide/north-connectors/common-settings#transformers" />
      </div>
    </div>
  </ng-template>
  @if (transformersWithOptions.length) {
    <div class="mb-3 px-2">
      <table class="table table-sm table-hover oib-table">
        <thead class="light">
          <tr>
            <th translate="history-query.transformers.input-type"></th>
            <th translate="history-query.transformers.transformer"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (transformerWithOptions of transformersWithOptions; track transformerWithOptions.transformer.id) {
            <tr>
              <td>
                <span>{{ 'enums.oibus-input-data-type.' + transformerWithOptions.inputType | translate }}</span>
              </td>
              <td>
                @if (transformerWithOptions.transformer.type === 'standard') {
                  <span>{{
                    'configuration.oibus.manifest.transformers.standard.' + transformerWithOptions.transformer.functionName | translate
                  }}</span>
                } @else {
                  <span>{{ transformerWithOptions.transformer.name }}</span>
                }
              </td>
              <td class="text-nowrap action-buttons">
                <div class="pull-right">
                  <button type="button" class="btn btn-link px-1 py-0" (click)="editTransformer(transformerWithOptions)">
                    <span class="fa fa-pencil"></span>
                  </button>
                  <button type="button" class="btn btn-link px-1 py-0" (click)="deleteTransformer(transformerWithOptions)">
                    <span class="fa fa-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @else {
    <div>
      <div class="mb-3 oib-grey-container" id="no-transformer" translate="history-query.transformers.none"></div>
    </div>
  }
</oib-box>
