<div class="mb-3">
  <table class="table table-sm table-hover oib-table">
    <thead class="light">
      <tr>
        <th>
          <input
            [checked]="mainFilesCheckboxState === 'CHECKED'"
            [indeterminate]="mainFilesCheckboxState === 'INDETERMINATE'"
            (click)="onFileMainCheckBoxClick(checkbox.checked)"
            type="checkbox"
            #checkbox
            id="toggle-all-parameters"
          /><label></label>
        </th>
        <th>
          <button class="py-1" style="background: none; border: none; font-weight: bold" (click)="toggleColumnSort('modificationDate')">
            <span translate="north.cache-settings.file-date" class="me-2"></span>
            <span class="fa {{ ['fa-sort', 'fa-sort-asc', 'fa-sort-desc'][columnSortStates.modificationDate] }}"></span>
          </button>
        </th>
        <th>
          <button class="py-1" style="background: none; border: none; font-weight: bold" (click)="toggleColumnSort('filename')">
            <span translate="north.cache-settings.filename" class="me-2"></span>
            <span class="fa {{ ['fa-sort', 'fa-sort-asc', 'fa-sort-desc'][columnSortStates.filename] }}"></span>
          </button>
        </th>
        <th>
          <button class="py-1" style="background: none; border: none; font-weight: bold" (click)="toggleColumnSort('size')">
            <span translate="north.cache-settings.file-size" class="me-2"></span>
            <span class="fa {{ ['fa-sort', 'fa-sort-asc', 'fa-sort-desc'][columnSortStates.size] }}"></span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="data" *ngFor="let file of pages.content">
        <td>
          <input
            type="checkbox"
            (click)="onFileCheckboxClick(checkbox.checked, file)"
            #checkbox
            [checked]="checkboxByFiles.get(file.filename)"
            class="toggle-parameter"
            [id]="'error-file-' + file.filename"
          /><label></label>
        </td>
        <td>{{ file.modificationDate | datetime:'mediumWithSeconds'}}</td>
        <td>{{ file.filename }}</td>
        <td>{{ file.size | fileSize }}</td>
        <td class="text-nowrap action-buttons">
          <div class="pull-right">
            <button
              *ngFor="let action of actions"
              type="button"
              class="btn btn-link px-1 py-0"
              (click)="onItemActionClick(action, file)"
              triggers="hover"
              placement="top"
              [ngbTooltip]="tipContent"
            >
              <ng-template #tipContent><span translate="{{actionButtonData[action].text}}"></span></ng-template>
              <span class="fa {{actionButtonData[action].icon}}"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
