<div class="mb-3">
  <table class="table table-sm table-hover oib-table">
    <thead class="light">
      <tr>
        <th>
          <input
            [checked]="mainFilesCheckboxState() === 'CHECKED'"
            [indeterminate]="mainFilesCheckboxState() === 'INDETERMINATE'"
            (change)="onFileMainCheckBoxClick(checkbox.checked)"
            type="checkbox"
            #checkbox
            id="toggle-all-parameters"
          /><label></label>
        </th>
        <th>
          <button
            class="py-1 px-0 sort-by-modification-date"
            style="background: none; border: none; font-weight: bold"
            (click)="toggleColumnSort('modificationDate')"
          >
            <span translate="north.cache-settings.file-date" class="me-2"></span>
            <span
              class="fa"
              [class.fa-sort]="currentColumnSort() === 'modificationDate' && currentColumnOrder() === 0"
              [class.fa-sort-asc]="currentColumnSort() === 'modificationDate' && currentColumnOrder() === 1"
              [class.fa-sort-desc]="currentColumnSort() === 'modificationDate' && currentColumnOrder() === 2"
            ></span>
          </button>
        </th>
        <th>
          <button
            class="py-1 px-0 sort-by-filename"
            style="background: none; border: none; font-weight: bold"
            (click)="toggleColumnSort('filename')"
          >
            <span translate="north.cache-settings.filename" class="me-2"></span>
            <span
              class="fa"
              [class.fa-sort]="currentColumnSort() === 'filename' && currentColumnOrder() === 0"
              [class.fa-sort-asc]="currentColumnSort() === 'filename' && currentColumnOrder() === 1"
              [class.fa-sort-desc]="currentColumnSort() === 'filename' && currentColumnOrder() === 2"
            ></span>
          </button>
        </th>
        <th>
          <button
            class="py-1 px-0 sort-by-size"
            style="background: none; border: none; font-weight: bold"
            (click)="toggleColumnSort('size')"
          >
            <span translate="north.cache-settings.file-size" class="me-2"></span>
            <span
              class="fa"
              [class.fa-sort]="currentColumnSort() === 'size' && currentColumnOrder() === 0"
              [class.fa-sort-asc]="currentColumnSort() === 'size' && currentColumnOrder() === 1"
              [class.fa-sort-desc]="currentColumnSort() === 'size' && currentColumnOrder() === 2"
            ></span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (file of pages().content; track file) {
        <tr class="data">
          <td>
            <input
              type="checkbox"
              (change)="onFileCheckboxClick(checkbox.checked, file)"
              #checkbox
              [checked]="checkboxByFiles().get(file.filename)"
              class="toggle-parameter"
              [id]="'error-file-' + file.filename"
            /><label></label>
          </td>
          <td class="modification-date">{{ file.modificationDate | datetime: 'mediumWithSeconds' }}</td>
          <td class="filename">{{ file.filename }}</td>
          <td>{{ file.size | fileSize }}</td>
          <td class="text-nowrap action-buttons">
            <div class="pull-right">
              @for (action of uniqueActions(); track action) {
                <button
                  type="button"
                  class="btn btn-link px-1 py-0"
                  (click)="onItemActionClick(action, file)"
                  triggers="hover"
                  placement="top"
                  [ngbTooltip]="tipContent"
                >
                  <ng-template #tipContent><span translate="{{ actionButtonData[action].text }}"></span></ng-template>
                  <span class="fa {{ actionButtonData[action].icon }}"></span>
                </button>
              }
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
