<div class="modal-header">
  <h4 class="modal-title" [translate]="'south.groups.' + mode + '-title'"></h4>
</div>
@if (form) {
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="save()" id="group-form">
      <!-- Name -->
      <div class="form-group">
        <label class="form-label" for="name" translate="south.groups.name"></label>
        <input formControlName="name" id="name" class="form-control" />
        <val-errors controlName="name" />
      </div>

      <!-- Scan Mode (Schedule) -->
      <div class="form-group">
        <label for="scan-mode" class="form-label" translate="south.groups.schedule"></label>
        <select class="form-select" id="scan-mode" formControlName="scanMode">
          <option [ngValue]="null" disabled>Select a schedule...</option>
          @for (scanMode of scanModes; track scanMode.id) {
            <option [value]="scanMode.id">{{ scanMode.name }}</option>
          }
        </select>
        <val-errors controlName="scanMode" />
      </div>

      <!-- Overlap (only for historian connectors) -->
      @if (hasHistorianCapabilities) {
        <div class="form-group">
          <label class="form-label" for="overlap" translate="south.groups.overlap"></label>
          <div class="input-group">
            <input formControlName="overlap" id="overlap" type="number" class="form-control" min="0" />
            <span class="input-group-text" translate="common.unit.ms"></span>
          </div>
          <val-errors controlName="overlap" />
        </div>
      }

      <!-- Max Read Interval (only for historian connectors) -->
      @if (hasHistorianCapabilities) {
        <div class="form-group">
          <label class="form-label" for="max-read-interval" translate="south.groups.max-read-interval"></label>
          <div class="input-group">
            <input formControlName="maxReadInterval" id="max-read-interval" type="number" class="form-control" min="0" />
            <span class="input-group-text" translate="common.unit.s"></span>
          </div>
          <val-errors controlName="maxReadInterval" />
        </div>
      }

      <!-- Read Delay (only for historian connectors) -->
      @if (hasHistorianCapabilities) {
        <div class="form-group">
          <label class="form-label" for="read-delay" translate="south.groups.read-delay"></label>
          <div class="input-group">
            <input formControlName="readDelay" id="read-delay" type="number" class="form-control" min="0" />
            <span class="input-group-text" translate="common.unit.ms"></span>
          </div>
          <val-errors controlName="readDelay" />
        </div>
      }
    </form>
  </div>
}
<div class="modal-footer">
  <div class="btn-group">
    <button [oib-save-button]="state" form="group-form"></button>
    <button type="button" class="btn btn-cancel" (click)="cancel()" translate="common.cancel" id="cancel-button"></button>
  </div>
</div>
