<div class="oib-padded-container">
  <h1 class="visually-hidden" translate="login.title"></h1>

  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
      <div class="oib-inner-form bg-light row py-5">
        <div class="col-6">
          <div class="d-flex flex-column align-items-center">
            <img src="/oibus_white.svg" alt="" class="img-fluid mb-4" />
          </div>
        </div>
        <div class="col-6">
          <div id="version">
            <strong translate="about.version"></strong>
            <span translate="common.colon-separator"></span>
            @if (oibusInfo) {
              <span>{{ oibusInfo.version }}</span>
            } @else {
              <span id="version-spinner" class="fa fa-spinner fa-spin"></span>
            }
          </div>

          <div id="executable">
            <strong translate="about.executable"></strong>
            <span translate="common.colon-separator"></span>
            @if (oibusInfo) {
              <span class="text-wrap text-break">{{ oibusInfo.binaryDirectory }}</span>
            } @else {
              <span class="fa fa-spinner fa-spin"></span>
            }
          </div>

          <div id="data-folder">
            <strong translate="about.data-folder"></strong>
            <span translate="common.colon-separator"></span>
            @if (oibusInfo) {
              <span class="text-wrap text-break">{{ oibusInfo.dataDirectory }}</span>
            } @else {
              <span class="fa fa-spinner fa-spin"></span>
            }
          </div>

          <div id="operating-system">
            <strong translate="about.operating-system"></strong>
            <span translate="common.colon-separator"></span>
            @if (oibusInfo) {
              <span>{{ oibusInfo.operatingSystem }}</span>
            } @else {
              <span class="fa fa-spinner fa-spin"></span>
            }
          </div>

          <div id="architecture">
            <strong translate="about.architecture"></strong>
            <span translate="common.colon-separator"></span>
            @if (oibusInfo) {
              <span>{{ oibusInfo.architecture }}</span>
            } @else {
              <span class="fa fa-spinner fa-spin"></span>
            }
          </div>

          <div id="process-id">
            <strong translate="about.process-id"></strong>
            <span translate="common.colon-separator"></span>
            @if (oibusInfo) {
              <span>{{ oibusInfo.processId }}</span>
            } @else {
              <span class="fa fa-spinner fa-spin"></span>
            }
          </div>

          <div id="hostname">
            <strong translate="about.hostname"></strong>
            <span translate="common.colon-separator"></span>
            @if (oibusInfo) {
              <span>{{ oibusInfo.hostname }}</span>
            } @else {
              <span class="fa fa-spinner fa-spin"></span>
            }
          </div>

          <div id="license">
            <strong translate="about.license"></strong>
            <span translate="common.colon-separator"></span>
            <a target="_blank" href="https://github.com/OptimistikSAS/OIBus/blob/main/LICENSE">EUPL-1.2-or-later</a>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <h5 id="official-site" class="mt-2 text-center">
          <a target="_blank" href="https://oibus.optimistik.com/">
            <span translate="about.official-site"></span>
            <span class="ms-2 fa fa-external-link"></span>
          </a>
        </h5>
      </div>
    </div>
  </div>
</div>
