@if (form) {
  <div class="modal-header">
    <h4 class="modal-title" translate="user-settings.change-password.title"></h4>
  </div>
  <div class="modal-body">
    <form id="change-password-form" [formGroup]="form" (ngSubmit)="save()">
      <div [ngbCollapse]="!error" class="alert alert-danger" translate="user-settings.change-password.error"></div>
      <div class="form-group">
        <label class="form-label" for="current-password" translate="user-settings.change-password.current-password"></label>
        <input formControlName="currentPassword" type="password" class="form-control" id="current-password" autocomplete="new-password" />
        <val-errors controlName="currentPassword" />
      </div>
      <ng-container formGroupName="newPasswordForm">
        <div class="form-group">
          <label class="form-label" for="new-password" translate="user-settings.change-password.new-password"></label>
          <input formControlName="newPassword" type="password" class="form-control" id="new-password" />
          <val-errors controlName="newPassword">
            <ng-template valError="lowercaseCharacterRequired">
              <span translate="user-settings.change-password.lowercase-character-required"></span>
            </ng-template>
            <ng-template valError="uppercaseCharacterRequired">
              <span translate="user-settings.change-password.uppercase-character-required"></span>
            </ng-template>
            <ng-template valError="numericCharacterRequired">
              <span translate="user-settings.change-password.numeric-character-required"></span>
            </ng-template>
            <ng-template valError="specialCharacterRequired">
              <span translate="user-settings.change-password.special-character-required"></span>
            </ng-template>
          </val-errors>
        </div>
        <div class="form-group">
          <label
            class="form-label"
            for="new-password-confirmation"
            translate="user-settings.change-password.new-password-confirmation"
          ></label>
          <input
            formControlName="newPasswordConfirmation"
            type="password"
            class="form-control"
            id="new-password-confirmation"
            autocomplete="new-password"
          />
          <val-errors controlName="newPasswordConfirmation" />
          <val-errors [control]="form.get('newPasswordForm')">
            <ng-template valError="samePassword">
              <span translate="user-settings.change-password.passwords-not-identical"></span>
            </ng-template>
          </val-errors>
        </div>
      </ng-container>
    </form>
  </div>
  <div class="modal-footer">
    <div class="btn-group">
      <button
        type="submit"
        form="change-password-form"
        class="btn btn-primary"
        translate="common.save"
        id="change-password-button"
      ></button>
      <button type="button" class="btn btn-cancel" (click)="cancel()" translate="common.cancel" id="cancel-button"></button>
    </div>
  </div>
}
