<div class="oib-padded-container">
  <div class="row justify-content-center">
    @if (manifest && northForm) {
      <div class="col-md-10 col-lg-8">
        <div class="d-flex">
          @if (mode === 'create') {
            <h1 translate="north.create-title" [translateParams]="{ type: manifest.name }"></h1>
          }
          @if (mode === 'edit' && northConnector) {
            <h1 translate="north.edit-title" [translateParams]="{ name: northConnector.name }"></h1>
          }
          <button class="ms-2 btn btn-cancel-edit" translate="common.back" id="cancel-edit-button" oibBackButton></button>
        </div>
        <form [formGroup]="northForm" (ngSubmit)="submit('save')" id="north-form" class="mt-3">
          <div class="save-zone">
            <!-- General settings -->
            <oib-box boxTitle="north.general-settings" helpUrl="https://oibus.optimistik.com/docs/guide/north-connectors/common-settings">
              <div class="row">
                <!-- Name -->
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label" for="north-name" translate="north.name"></label>
                    <input formControlName="name" id="north-name" class="form-control" />
                    <val-errors controlName="name" />
                  </div>
                </div>
                <!-- Description -->
                <div class="col-5">
                  <div class="form-group">
                    <label class="form-label" for="north-description" translate="north.description"></label>
                    <input formControlName="description" id="north-description" class="form-control" />
                  </div>
                </div>
                <!-- Enabled -->
                <div class="col-3">
                  <div class="form-group">
                    <div class="form-check form-switch padded">
                      <input formControlName="enabled" id="north-enabled" type="checkbox" class="form-check-input" />
                      <label class="form-check-label" for="north-enabled" translate="north.enabled"></label>
                    </div>
                  </div>
                </div>
              </div>
            </oib-box>
            <!-- Specific settings -->
            <oib-box>
              <ng-template oibBoxTitle>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <span
                      translate="north.specific-settings"
                      [translateParams]="{ type: manifest.name }"
                      id="specific-settings-title"
                    ></span>
                  </div>
                  <div>
                    <button
                      type="button"
                      class="btn btn-secondary btn-sm oib-box-btn ms-3"
                      id="test-connection"
                      (click)="northForm.markAllAsTouched(); submit('test')"
                      translate="north.test-connection.button"
                    ></button>
                    <oib-help [url]="'https://oibus.optimistik.com/docs/guide/north-connectors/' + northType" />
                  </div>
                </div>
              </ng-template>
              @if (northSettingsControls.length > 0) {
                <oib-form
                  formGroupName="settings"
                  [form]="northForm.controls.settings"
                  [settingsSchema]="northSettingsControls"
                  [certificates]="certificates"
                  [scanModes]="scanModes"
                />
              }
            </oib-box>
            <!-- Cache settings -->
            <oib-box
              boxTitle="north.cache-settings.title"
              helpUrl="https://oibus.optimistik.com/docs/guide/north-connectors/common-settings#caching"
            >
              <div formGroupName="caching">
                <h6 class="text-center mt-2" translate="north.cache-settings.schedule"></h6>
                <div class="row">
                  <!-- Scan mode -->
                  <div class="col-3">
                    <div class="form-group">
                      <oib-scan-mode
                        key="cache-scan-mode"
                        formControlName="scanModeId"
                        [scanModes]="scanModes"
                        [label]="'north.cache-settings.send-scan-mode' | translate"
                      />
                      <val-errors controlName="scanModeId" />
                    </div>
                  </div>
                  <!-- Retry interval -->
                  <div class="col-3">
                    <div class="form-group">
                      <label class="form-label" for="retry-interval" translate="north.cache-settings.retry-interval"></label>
                      <div class="input-group">
                        <input type="number" formControlName="retryInterval" id="retry-interval" class="form-control" />
                        <span class="input-group-text" translate="common.unit.ms"></span>
                      </div>
                      <val-errors controlName="retryInterval" />
                    </div>
                  </div>
                  <!-- Retry count -->
                  <div class="col-3">
                    <div class="form-group">
                      <label class="form-label" for="retry-count" translate="north.cache-settings.retry-count"></label>
                      <input type="number" formControlName="retryCount" id="retry-count" class="form-control" />
                      <val-errors controlName="retryCount" />
                    </div>
                  </div>
                  <!-- Max size -->
                  <div class="col-3">
                    <div class="form-group">
                      <label class="form-label" for="maxSize" translate="north.cache-settings.max-size"></label>
                      <div class="input-group">
                        <input type="number" formControlName="maxSize" id="maxSize" class="form-control" />
                        <span class="input-group-text" translate="common.unit.MB"></span>
                      </div>
                      <val-errors controlName="maxSize" />
                    </div>
                  </div>
                </div>
                @if (manifest.modes.points) {
                  <hr />
                  <h6 class="text-center" translate="north.cache-settings.oibus-time-values.title"></h6>
                  <div class="row" formGroupName="oibusTimeValues">
                    <!-- Group count -->
                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-label" for="group-count" translate="north.cache-settings.group-count"></label>
                        <input type="number" formControlName="groupCount" id="group-count" class="form-control" />
                        <val-errors controlName="groupCount" />
                      </div>
                    </div>
                    <!-- Max send count -->
                    <div class="col-4">
                      <div class="form-group">
                        <label class="form-label" for="max-send-count" translate="north.cache-settings.max-send-count"></label>
                        <input type="number" formControlName="maxSendCount" id="max-send-count" class="form-control" />
                        <val-errors controlName="maxSendCount" />
                      </div>
                    </div>
                  </div>
                }
                @if (manifest.modes.files) {
                  <hr />
                  <h6 class="text-center" translate="north.cache-settings.raw-files.title"></h6>
                  <div class="row" formGroupName="rawFiles">
                    <!-- Send file immediately -->
                    <div class="col-4">
                      <div class="form-group">
                        <div class="form-check form-switch padded">
                          <input
                            formControlName="sendFileImmediately"
                            id="send-file-immediately"
                            type="checkbox"
                            class="form-check-input"
                          />
                          <label
                            class="form-check-label"
                            for="send-file-immediately"
                            translate="north.cache-settings.send-file-immediately"
                          ></label>
                        </div>
                      </div>
                    </div>
                    <!-- Archive Enabled -->
                    <div class="col-4" formGroupName="archive">
                      <div class="form-group">
                        <div class="form-check form-switch padded">
                          <label class="form-check-label" for="archive-enabled" translate="north.archive-settings.enabled"></label>
                          <input formControlName="enabled" id="archive-enabled" type="checkbox" class="form-check-input" />
                        </div>
                      </div>
                    </div>
                    <!-- Retention duration -->
                    <div class="col-4" formGroupName="archive">
                      <div class="form-group">
                        <label
                          class="form-label"
                          for="archive-retention-duration"
                          translate="north.archive-settings.retention-duration"
                        ></label>
                        <div class="input-group">
                          <input type="number" formControlName="retentionDuration" id="archive-retention-duration" class="form-control" />
                          <span class="input-group-text" translate="common.unit.hr"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </oib-box>
          </div>
          @if (mode === 'edit' && northConnector) {
            <div id="actions" class="d-flex justify-content-end">
              <div class="btn-group">
                <oib-save-button [insideOfGroup]="false" form="north-form" [state]="state" />
              </div>
            </div>
          }
          <!-- subscription -->
          <oib-north-subscriptions [northConnector]="northConnector" (inMemorySubscriptions)="updateInMemorySubscriptions($event)" />
        </form>
        @if (mode === 'create') {
          <div id="actions" class="mt-2 d-flex justify-content-end">
            <div class="btn-group">
              <oib-save-button [insideOfGroup]="false" form="north-form" [state]="state" />
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
