# Compiled output
/build/bin
/data-folder/

# Docker data folders
/docker/mosquitto/data/*
/docker/mosquitto/log/*
/docker/mosquitto/config/password.txt
/docker/modbus/data/*
/docker/opcua/pki/*

# Node
/node_modules
npm-debug.log
yarn-error.log

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
