node_modules/
.DS_Store
.idea/
.vscode/
dist/
docs/
logs/
tests/cache/
build/
coverage/
oibus-*.json
oibus.json
tests/db/test.db
historyQuery.db
local-development/data
.env
tests/historyQuery/
tests/*-journal.log
