{
  "singleQuote": true,
  "printWidth": 140,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
