<oib-box class="mt-1">
  <ng-template oibBoxTitle>
    <div class="d-flex justify-content-between align-items-center">
      <div>{{ label() }}</div>
      <div>
        <button
          class="btn btn-sm btn-warning"
          id="manifest-attributes-add-button"
          [ngbTooltip]="'configuration.oibus.edit-array-element-modal.tooltips.add' | translate"
          (click)="addItem($event)"
        >
          <span class="fa fa-plus"></span>
        </button>
      </div>
    </div>
  </ng-template>

  @if (paginatedValues().totalPages > 1) {
    <div>
      <oib-pagination class="d-flex justify-content-end" [page]="paginatedValues()" (pageChanged)="paginatedValues().gotoPage($event)" />
    </div>
  }
  @if (paginatedValues().content.length > 0) {
    <table style="table-layout: fixed" class="table table-sm table-hover oib-table">
      <thead class="light">
        <tr>
          <th translate="configuration.oibus.manifest.transformers.attributes.key"></th>
          <th translate="configuration.oibus.manifest.transformers.attributes.type.title"></th>
          <th translate="configuration.oibus.manifest.transformers.attributes.translation-key"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (element of paginatedValues().content; track element) {
          <tr>
            <td style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap">
              {{ 'configuration.oibus.manifest.transformers.attributes.type.' + element.type | translate }}
            </td>
            <td style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap">
              {{ element.key }}
            </td>
            <td style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap">
              {{ element.translationKey | translate }}
            </td>
            <td class="text-nowrap action-buttons">
              <div class="pull-right">
                <button
                  type="button"
                  class="btn btn-link edit-button px-1 py-0"
                  [ngbTooltip]="'configuration.oibus.edit-array-element-modal.tooltips.edit' | translate"
                  (click)="editItem(element)"
                >
                  <span class="fa fa-pencil"></span>
                </button>
                <button
                  type="button"
                  class="btn btn-link copy-button px-1 py-0"
                  [ngbTooltip]="'configuration.oibus.edit-array-element-modal.tooltips.copy' | translate"
                  (click)="copyItem(element)"
                >
                  <span class="fa fa-copy"></span>
                </button>
                <button
                  type="button"
                  class="btn btn-link delete-button px-1 py-0"
                  [ngbTooltip]="'configuration.oibus.edit-array-element-modal.tooltips.delete' | translate"
                  (click)="deleteItem(element)"
                >
                  <span class="fa fa-trash"></span>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <div class="oi-details" translate="configuration.oibus.manifest.transformers.attributes.none"></div>
  }
</oib-box>
