<div class="oib-padded-container">
  <div class="row">
    <h1 class="visually-hidden">OIBus</h1>

    <!-- Logo OIBus -->
    <div class="d-none d-sm-block col-sm-6 col-md-5">
      <img ngSrc="/assets/oibus_white.svg" alt="" class="logo ms-2" height="86" width="126" />
    </div>
  </div>

  <div class="row">
    <!-- Norths -->
    <div class="col-4">
      <oib-box-table boxTitle="home.north.title">
        <table class="table table-sm table-hover oib-table">
          <thead class="light">
            <tr>
              <th translate="home.north.name"></th>
              <th translate="home.north.files-count-last-hour"></th>
              <th translate="home.north.values-count-last-hour"></th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="norths" class="north">
            <tr *ngFor="let north of norths">
              <td>{{ north.name }}</td>
              <td>10</td>
              <td>10</td>
              <td>
                <a [routerLink]="['north', north.id]"><span class="fa fa-search"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </oib-box-table>
    </div>

    <!-- Souths -->
    <div class="col-4">
      <oib-box-table boxTitle="home.south.title">
        <table class="table table-sm table-hover oib-table">
          <thead class="light">
            <tr>
              <th translate="home.south.name"></th>
              <th translate="home.south.files-count-last-hour"></th>
              <th translate="home.south.values-count-last-hour"></th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="souths" class="south">
            <tr *ngFor="let south of souths">
              <td>{{ south.name }}</td>
              <td>10</td>
              <td>10</td>
              <td>
                <a [routerLink]="['south', south.id]"><span class="fa fa-search"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </oib-box-table>
    </div>

    <!-- History queries -->
    <div class="col-4">
      <oib-box-table boxTitle="home.history-query.title"></oib-box-table>
    </div>
  </div>

  <div class="row">
    <span class="text-center" translate="about.copyright" [translateParams]="{nowYear: copyrightYear}"></span>
  </div>
</div>
