@let metrics = homeMetrics();
<div class="oib-padded-container">
  <div class="pb-4">
    <!-- Norths -->
    <div class="oib-title-container mb-3">
      <div class="oib-block-title">
        <img class="oib-title-image pt-2" src="/home/north.svg" alt="north-logo" />
      </div>
      <h1 id="north-title" class="oib-title">
        <span translate="home.north.title"></span>
      </h1>
    </div>
    @for (northRow of northRows(); track northRow) {
      <div class="row justify-content-center">
        @for (north of northRow; track north.id) {
          <div class="col-4">
            @if (metrics?.norths[north.id]; as northMetrics) {
              <oib-north-metrics [connectorMetrics]="northMetrics" [displayButton]="true" [northConnector]="north" />
            }
          </div>
        }
      </div>
    }
    <div class="pb-4">
      <!-- Engine -->
      <div class="oib-title-container mb-3">
        <div class="oib-block-title">
          <img class="oib-title-image pt-2" src="/home/engine.svg" alt="engine-logo" />
        </div>
        <h1 id="engine-title" class="oib-title">
          <span translate="home.engine.title"></span>
        </h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-12 col-xl-8">
          @if (metrics?.engine; as engineMetrics) {
            <oib-engine-metrics [metrics]="engineMetrics" [displayButton]="true" />
          }
        </div>
      </div>
    </div>

    <div class="pb-4">
      <!-- Souths -->
      <div class="oib-title-container mb-3">
        <div class="oib-block-title">
          <img class="oib-title-image pt-2" src="/home/south.svg" alt="south-logo" />
        </div>
        <h1 id="south-title" class="oib-title">
          <span translate="home.south.title"></span>
        </h1>
      </div>
      @for (southRow of southRows(); track southRow) {
        <div class="row justify-content-center">
          @for (south of southRow; track south.id) {
            <div class="col-4">
              @if (metrics?.souths[south.id]; as southMetrics) {
                <oib-south-metrics [connectorMetrics]="southMetrics" [displayButton]="true" [southConnector]="south" />
              }
            </div>
          }
        </div>
      }
    </div>

    <div class="row">
      <span class="text-center" translate="about.copyright" [translateParams]="{ nowYear: copyrightYear }"></span>
    </div>
  </div>
</div>
