@import '../../../common';

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.75rem;
}

h1 {
  text-transform: capitalize;
  color: $darkGrey;
}

p {
  font-size: 1.2rem;
}

.beta-badge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}
