.progress-container {
  position: relative;
  margin-top: 1rem;
  width: 100%;
}

.progress-container span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: bold;
  color: white;
}

ngb-progressbar {
  height: 2.5rem;
}
