<div class="oib-padded-container">
  <div class="d-flex justify-content-between">
    <div class="oib-header-container">
      <div class="image-block">
        <img class="title-image" src="../assets/home/history-query.svg"></div>
      <h1>
        <span translate="history-query.list"></span>
        <span class="ms-4">
          <button class="btn btn-primary" id="create-history-query-button" (click)="createHistoryQuery()">
            <span class="fa fa-plus"></span>
          </button>
        </span>
      </h1>
    </div>
    <!-- only display it if there is more than 1 page -->
    <oib-pagination
      *ngIf="displayedHistoryQueries.totalPages > 1"
      class="d-flex justify-content-end"
      [page]="displayedHistoryQueries"
      (pageChanged)="changePage($event)"
    ></oib-pagination>
  </div>

  <form class="px-3 mb-4 d-none d-lg-block oib-search-form" id="search-form" [formGroup]="searchForm">
    <div class="row gx-2 py-3">
      <label class="col-auto col-form-label"><i class="fa fa-search fa-lg"></i></label>
      <label for="name" class="col-auto col-form-label" translate="history-query.search-by-name"></label>
      <div class="col-2">
        <input type="text" class="form-control" id="name" formControlName="name" />
      </div>
    </div>
  </form>

  <!-- the loading spinner when queries are not yet loaded -->
  <oib-loading-spinner *ngIf="!allHistoryQueries"></oib-loading-spinner>

  <!-- the list of queries or a caption if empty -->
  <ng-container *ngIf="allHistoryQueries">
    <div *ngIf="displayedHistoryQueries.content.length !== 0; else empty">
      <table class="mt-2 table table-sm table-hover oib-table">
        <thead>
          <tr>
            <th translate="history-query.name"></th>
            <th translate="history-query.description"></th>
            <th translate="history-query.enabled"></th>
            <th style="width: 3%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let query of displayedHistoryQueries.content">
            <td>{{ query.name }}</td>
            <td>{{ query.description }}</td>
            <td>{{ query.enabled | enabled }}</td>
            <td class="text-nowrap action-buttons">
              <div class="pull-right">
                <button
                  class="btn btn-link enable-history-query px-1 py-0"
                  id="history-query-enabled"
                  (click)="toggleHistoryQuery(query.id, query.name, !query.enabled)"
                >
                  <i [class]="query.enabled ?  'fa fa-pause' : 'fa fa-play'"></i>
                </button>
                <!-- Display button -->
                <a class="btn btn-link display-history-query px-1 py-0" id="display-link" [routerLink]="[query.id]">
                  <span class="fa fa-search"></span>
                </a>
                <!-- Edit button -->
                <a class="btn btn-link edit-history-query px-1 py-0" id="edit-link" [routerLink]="[query.id, 'edit']">
                  <span class="fa fa-pencil"></span>
                </a>
                <!-- Delete button -->
                <button type="button" class="btn btn-link delete-history-query px-1 py-0" (click)="delete(query)">
                  <span class="fa fa-trash"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #empty>
      <div class="oib-grey-container empty" translate="history-query.none"></div>
    </ng-template>
  </ng-container>
</div>
