<div class="modal-header">
  <h4 class="modal-title">
    <span translate="north.cache-settings.view-content" [translateParams]="{ filename: contentFile?.metadata?.contentFile }"></span>
  </h4>
</div>
<div class="modal-body">
  <oib-code-block style="max-height: 80vh" [contentType]="contentFile?.metadata?.contentType === 'raw' ? 'csv' : 'json'" #codeBlock />
</div>
<div class="modal-footer">
  <div class="btn-group">
    <button type="button" class="btn btn-cancel" (click)="dismiss()" translate="common.close" id="cancel-button"></button>
  </div>
</div>
