<oib-box>
  <ng-template oibBoxTitle>
    <div class="d-flex justify-content-between align-items-center">
      <span translate="engine.external-source.list" id="title"></span>
      <button type="button" class="btn btn-primary btn-sm oib-box-btn" (click)="addExternalSource()">
        <span class="fa fa-plus" id="add-external-source"></span>
      </button>
    </div>
  </ng-template>
</oib-box>

<!-- the External Source list -->
<div *ngIf="externalSources.length !== 0; else emptyExternalSources">
  <table class="mt-2 table table-sm table-hover oib-table">
    <thead class="light">
      <tr>
        <th translate="engine.external-source.reference"></th>
        <th translate="engine.external-source.description"></th>
        <th style="width: 3%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let externalSource of externalSources">
        <td>{{ externalSource.reference }}</td>
        <td>{{ externalSource.description }}</td>
        <td class="text-nowrap action-buttons">
          <div class="pull-right">
            <!-- Edit button -->
            <button type="button" class="btn btn-link edit-external-source px-1 py-0" (click)="editExternalSource(externalSource)">
              <span class="fa fa-pencil"></span>
            </button>
            <!-- Delete button -->
            <button type="button" class="btn btn-link delete-external-source px-1 py-0" (click)="deleteExternalSource(externalSource)">
              <span class="fa fa-trash"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #emptyExternalSources>
  <div class="oib-grey-container" id="no-external-source" translate="engine.external-source.none"></div>
</ng-template>
