<div class="oi-padded-container">
  <div class="d-flex justify-content-between">
    <div class="oi-header-container">
      <h1>
        <span translate="south.list"></span>
        <span class="ms-2">
          <button class="btn btn-primary" id="create-modal" (click)="openCreationSouthModal()">
            <span class="fa fa-plus me-2"></span>
            <span translate="south.add"></span>
          </button>
        </span>
      </h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <!-- the south list -->
      <div *ngIf="southList.length !== 0; else emptySouth">
        <table class="mt-2 table table-sm table-hover">
          <thead class="table-light">
            <tr>
              <th translate="south.name"></th>
              <th translate="south.type"></th>
              <th translate="south.description"></th>
              <th style="width: 3%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let south of southList">
              <td>
                <span>{{ south.name }}</span>
                <span *ngIf="south.enabled" class="fa fa-play text-muted ms-2"></span>
                <span *ngIf="!south.enabled" class="fa fa-pause text-muted ms-2"></span>
              </td>
              <td>{{ south.type }}</td>
              <td>{{ south.description }}</td>
              <td class="text-nowrap action-buttons">
                <div class="pull-right">
                  <!-- Display button -->
                  <button class="btn btn-link display-south px-1 py-0" id="display-link" [routerLink]="[south.id]">
                    <span class="fa fa-info-circle"></span>
                  </button>
                  <!-- Edit button -->
                  <button class="btn btn-link edit-south px-1 py-0" id="edit-link" [routerLink]="[south.id, 'edit']">
                    <span class="fa fa-pencil"></span>
                  </button>
                  <!-- Duplicate button -->
                  <button class="btn btn-link duplicate-south px-1 py-0" routerLink="create" [queryParams]="{ duplicate: south.id }">
                    <span class="fa fa-copy"></span>
                  </button>
                  <!-- Delete button -->
                  <button type="button" class="btn btn-link delete-south px-1 py-0" (click)="deleteSouth(south)">
                    <span class="fa fa-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #emptySouth>
        <div class="oi-details empty" id="no-proxy" translate="south.none"></div>
      </ng-template>
    </div>
  </div>
</div>
