<script>
  $('#test').tooltip(options);
</script>
<div class="oib-padded-container">
  <div class="d-flex">
    <div class="oib-title-container mb-3">
      <div class="oib-block-title">
        <img class="oib-title-image pt-2" src="/home/south.svg" />
      </div>
      <h1 class="oib-title">
        <span translate="south.list"></span>
        <span class="ms-4">
          <button class="btn btn-primary" id="create-south-button" (click)="createSouth()">
            <span class="fa fa-plus"></span>
          </button>
        </span>
      </h1>
    </div>
  </div>

  <form class="px-3 mb-4 d-none d-lg-block oib-search-form" id="search-form" [formGroup]="searchForm">
    <div class="row gx-2 py-3">
      <label class="col-auto col-form-label"><i class="fa fa-search fa-lg"></i></label>
      <label for="name" class="col-auto col-form-label" translate="south.search-by-name"></label>
      <div class="col-2">
        <input type="text" class="form-control" id="name" formControlName="name" />
      </div>
    </div>
  </form>

  <div class="justify-content-between d-flex">
    @if (allSouths && allSouths.length > 0) {
      <oib-legend [legendList]="LEGEND"></oib-legend>
    }
    <!-- only display it if there is more than 1 page -->
    @if (displayedSouths.totalPages > 1) {
      <oib-pagination class="d-flex justify-content-end" [page]="displayedSouths" (pageChanged)="changePage($event)"></oib-pagination>
    }
  </div>

  <!-- the loading spinner when south are not yet loaded -->
  @if (!allSouths) {
    <oib-loading-spinner></oib-loading-spinner>
  } @else {
    <!-- the list of south or a caption if empty -->
    @if (displayedSouths.content.length !== 0) {
      <div>
        <table class="mt-2 table table-sm table-hover oib-table">
          <thead>
            <tr>
              <th></th>
              <th translate="south.name"></th>
              <th translate="south.type" style="width: 9rem"></th>
              <th translate="south.description"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (south of displayedSouths.content; track south.id) {
              <tr>
                @if (!south.enabled) {
                  <td>
                    <div class="grey-dot"></div>
                  </td>
                } @else {
                  <td>
                    <div class="green-dot"></div>
                  </td>
                }
                <td>{{ south.name }}</td>
                <td>{{ south.type }}</td>
                <td>{{ south.description }}</td>
                <td class="text-nowrap action-buttons">
                  <div class="pull-right">
                    <button
                      class="btn btn-link py-0 px-1 m-0"
                      id="south-enable"
                      (click)="toggleConnector(south.id, south.name, !south.enabled)"
                      [disabled]="states.get(south.id)?.isPending | async"
                    >
                      @if (states.get(south.id)?.isPending | async) {
                        <span class="fa fa-spinner fa-spin" role="status"></span>
                      }
                      @if (south.enabled && (states.get(south.id)?.isPending | async) === false) {
                        <span class="fa fa-pause" role="status"></span>
                      }
                      @if (!south.enabled && (states.get(south.id)?.isPending | async) === false) {
                        <span class="fa fa-play" role="status"></span>
                      }
                    </button>
                    <!-- Display button -->
                    <a class="btn btn-link display-south px-1 py-0" id="display-link" [routerLink]="[south.id]">
                      <span class="fa fa-search"></span>
                    </a>
                    <!-- Edit button -->
                    <a class="btn btn-link edit-south px-1 py-0" id="edit-link" [routerLink]="[south.id, 'edit']">
                      <span class="fa fa-pencil"></span>
                    </a>
                    <!-- Duplicate button -->
                    <a class="btn btn-link duplicate-south px-1 py-0" routerLink="create" [queryParams]="{ duplicate: south.id }">
                      <span class="fa fa-copy"></span>
                    </a>
                    <!-- Delete button -->
                    <button type="button" class="btn btn-link delete-south px-1 py-0" (click)="deleteSouth(south)">
                      <span class="fa fa-trash"></span>
                    </button>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <div class="oib-grey-container empty" translate="south.none"></div>
    }
  }
</div>
