<div class="modal-header">
  <h4 class="modal-title" translate="transformers.choose-transformer-modal.title"></h4>
</div>
<div class="modal-body">
  @if (form) {
    <form [formGroup]="form" (ngSubmit)="save()" id="choose-transformer-form">
      <div class="row">
        @if (inputTypeControl) {
          <div class="col-6">
            <div class="form-group">
              <label class="form-label" for="input-type" translate="transformers.input-type"></label>
              <select [formControl]="inputTypeControl" class="form-select mb-2 mr-sm-2" id="input-type">
                @for (inputType of selectableInputs; track inputType) {
                  <option [ngValue]="inputType" [translate]="'enums.oibus-data-type.' + inputType"></option>
                }
              </select>
            </div>
          </div>
        }
        <div [class]="inputTypeControl ? 'col-6' : 'col-12'">
          <div class="form-group">
            <oib-transformer
              [transformers]="selectableTransformers"
              key="transformer"
              [label]="'transformers.choose-transformer-modal.transformer' | translate"
              formControlName="transformerId"
              [supportedOutputTypes]="supportedOutputTypes"
            />
          </div>
        </div>
      </div>
      @if (transformerRows.length > 0) {
        <oib-form [parentForm]="form" [form]="form.controls.options" [settingsSchema]="transformerRows" [scanModes]="[]" />
      }
    </form>
  }
</div>
<div class="modal-footer">
  <div class="btn-group">
    <oib-save-button form="choose-transformer-form" [state]="state" />
    <button type="button" class="btn btn-cancel" (click)="cancel()" translate="common.cancel" id="cancel-button"></button>
  </div>
</div>
