<div class="modal-header">
  <h4 class="modal-title" translate="common.confirmation-modal-title"></h4>
</div>
<div class="modal-body">
  <p class="reset-cache-message" translate="history-query.reset-cache-confirmation"></p>
</div>
<div class="modal-footer">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="submit(true)" id="yes-button" translate="common.yes"></button>
    <button type="button" class="btn btn-cancel" (click)="submit(false)" id="no-button" translate="common.no"></button>
  </div>
</div>
