@import '../../../common';

.module-button {
  border: none;
  width: 100%;
  padding: 10px;
  background-color: $lightGrey;
  // becomes darker on hover
  &:hover {
    background-color: $mediumGrey;
  }

  &:active,
  &:focus,
  &:default {
    box-shadow: none;
  }
}

// image container
.category-image {
  height: 50px;
}

// dark background
.image-block {
  text-align: center;
  color: $white;
  border-radius: 12px;
  background-color: $darkGrey;
  width: 70px;
  min-height: 30px;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.75rem;
}

p {
  font-size: 1.2rem;
}
