<div class="modal-header">
  <h4 class="modal-title" [translate]="'engine.external-source.title-' + mode"></h4>
</div>
<div class="modal-body" *ngIf="southItemSchema && form">
  <form [formGroup]="form" (ngSubmit)="save()" id="form">
    <!-- Name -->
    <div class="form-group">
      <label class="form-label" for="name" translate="south.items.name"></label>
      <input formControlName="name" id="name" class="form-control" />
      <val-errors controlName="name"></val-errors>
    </div>

    <oib-form
      *ngIf="southItemRows.length > 0"
      formGroupName="settings"
      [form]="form.controls.settings"
      [settingsSchema]="southItemRows"
      [scanModes]="[]"
    ></oib-form>
  </form>
</div>
<div class="modal-footer">
  <div class="btn-group">
    <oib-save-button form="form" [state]="state"></oib-save-button>
    <button type="button" class="btn btn-cancel" (click)="cancel()" translate="common.cancel" id="cancel-button"></button>
  </div>
</div>
