<oib-box>
  <ng-template oibBoxTitle>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <span translate="engine.ip-filter.list" id="title"></span>
        @if (allIpFilters.length) {
          <span class="mx-1">({{ allIpFilters.length }})</span>
        }
      </div>
      <div>
        <button
          type="button"
          id="add-ip-filter"
          class="btn btn-primary btn-sm oib-box-btn"
          [ngbTooltip]="'engine.ip-filter.tooltips.add' | translate"
          (click)="addIpFilter()"
        >
          <span class="fa fa-plus"></span>
        </button>

        <oib-help url="https://oibus.optimistik.com/docs/guide/engine/ip-filters" />
      </div>
    </div>
  </ng-template>
</oib-box>

<!-- the IP filter list -->
@if (displayedIpFilters.content.length !== 0) {
  <div>
    <table class="mb-2 table table-sm table-hover oib-table">
      <thead class="light">
        <tr>
          <th>
            <button type="button" style="background: none; border: none; font-weight: bold; color: inherit" (click)="toggleSort('address')">
              <span translate="engine.ip-filter.address" class="me-2"></span>
              <span class="fa {{ getSortIcon('address') }}"></span>
            </button>
          </th>
          <th translate="engine.ip-filter.description"></th>
          <th translate="engine.ip-filter.created-by"></th>
          <th>
            <button
              type="button"
              style="background: none; border: none; font-weight: bold; color: inherit"
              (click)="toggleSort('createdAt')"
            >
              <span translate="engine.ip-filter.created-at" class="me-2"></span>
              <span class="fa {{ getSortIcon('createdAt') }}"></span>
            </button>
          </th>
          <th>
            <button
              type="button"
              style="background: none; border: none; font-weight: bold; color: inherit"
              (click)="toggleSort('updatedAt')"
            >
              <span translate="engine.ip-filter.updated-at" class="me-2"></span>
              <span class="fa {{ getSortIcon('updatedAt') }}"></span>
            </button>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (ipFilter of displayedIpFilters.content; track ipFilter.id) {
          <tr>
            <td>{{ ipFilter.address }}</td>
            <td>{{ ipFilter.description }}</td>
            <td>{{ ipFilter.createdBy.friendlyName }}</td>
            <td>{{ ipFilter.createdAt | datetime: 'ff' }}</td>
            <td>{{ ipFilter.updatedAt | datetime: 'ff' }}</td>
            <td class="text-nowrap action-buttons">
              <div class="pull-right">
                <!-- Edit button -->
                <button
                  type="button"
                  class="btn btn-link edit-ip-filter px-1 py-0"
                  [ngbTooltip]="'engine.ip-filter.tooltips.edit' | translate"
                  (click)="editIpFilter(ipFilter)"
                >
                  <span class="fa fa-pencil"></span>
                </button>
                <!-- Delete button -->
                <button
                  type="button"
                  class="btn btn-link delete-ip-filter px-1 py-0"
                  [ngbTooltip]="'engine.ip-filter.tooltips.delete' | translate"
                  (click)="deleteIpFilter(ipFilter)"
                >
                  <span class="fa fa-trash"></span>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
    @if (displayedIpFilters.totalPages > 1) {
      <oib-pagination class="d-flex justify-content-end mt-2" [page]="displayedIpFilters" (pageChanged)="changePage($event)" />
    }
  </div>
} @else {
  <div class="oib-grey-container" id="no-ip-filter" translate="engine.ip-filter.none"></div>
}
