<div class="modal-header">
  <h4 class="modal-title" translate="history-query.transformers.choose-transformer-modal.title"></h4>
</div>
<div class="modal-body">
  @if (form) {
    <form [formGroup]="form" (ngSubmit)="save()" id="choose-transformer-form">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-label" for="output" translate="configuration.oibus.manifest.transformers.output"></label>
            <select class="form-select" id="output" formControlName="transformer" [compareWith]="compareTransformers">
              <option [ngValue]="null"></option>
              @for (transformer of selectableOutputs; track transformer.id) {
                @if (transformer.type === 'standard') {
                  <option [ngValue]="transformer">
                    {{ 'configuration.oibus.manifest.transformers.standard.' + transformer.functionName | translate }}
                  </option>
                } @else {
                  <option [ngValue]="transformer">{{ transformer.name }}</option>
                }
              }
            </select>
          </div>
        </div>
      </div>
      @if (manifest) {
        <ng-container formGroupName="options">
          <oib-oibus-object-form-control
            [scanModes]="scanModes"
            [certificates]="certificates"
            [group]="form.controls.options"
            [objectAttribute]="manifest"
          />
        </ng-container>
      }
    </form>
  }
</div>
<div class="modal-footer">
  <div class="btn-group">
    <button [oib-save-button]="state" form="choose-transformer-form"></button>
    <button type="button" class="btn btn-cancel" (click)="cancel()" translate="common.cancel" id="cancel-button"></button>
  </div>
</div>
