@if (manifestOrNorthConnectorTypeManifest(); as manifest) {
  <oib-box>
    <ng-template oibBoxTitle>
      <div class="d-flex justify-content-between align-items-center">
        <span translate="north.monitoring.title" id="title" [translateParams]="{ name: northConnector().name }"></span>
        <div class="d-flex align-items-center">
          <span
            translate="south.monitoring.since"
            [translateParams]="{ date: connectorMetrics().metricsStart | datetime: 'mediumWithSeconds' }"
          ></span>
          <!-- Display button -->
          @if (displayButton()) {
            <a class="btn btn-link display-north px-1 py-0" id="display-link" (click)="navigateToDisplay()">
              <span class="fa fa-search"></span>
            </a>
          } @else {
            <!-- Reset button -->
            <button
              class="ms-3 btn btn-danger btn-sm oib-box-btn"
              (click)="resetMetrics()"
              translate="north.monitoring.reset-metrics"
            ></button>
          }
        </div>
      </div>
    </ng-template>
    <div class="mb-3">
      <table class="table table-sm table-hover oib-table">
        <tbody>
          <!-- last connection -->
          @if (connectorMetrics().lastConnection; as lastConnection) {
            <tr>
              <td translate="north.monitoring.last-connection"></td>
              <td class="last-column-body">{{ lastConnection | datetime: 'mediumWithSeconds' }}</td>
            </tr>
          }
          @if (connectorMetrics().lastContentSent; as lastContentSent) {
            <tr>
              <td translate="north.monitoring.last-content-sent"></td>
              <td class="last-column-body">{{ lastContentSent }}</td>
            </tr>
          }
          <!-- last run -->
          @if (connectorMetrics().lastRunStart; as lastRunStart) {
            <tr>
              <td translate="north.monitoring.last-run"></td>
              <td
                class="last-column-body"
                translate="north.monitoring.last-run-value"
                [translateParams]="{
                  lastRunStart: lastRunStart | datetime: 'mediumWithSeconds',
                  lastRunDuration: connectorMetrics().lastRunDuration! | duration: 'short'
                }"
              ></td>
            </tr>
          }
          <!-- cache size -->
          <tr>
            <td translate="north.monitoring.cache-size-title"></td>
            <td
              class="last-column-body"
              translate="north.monitoring.cache-size-value"
              [translateParams]="{
                currentSize: connectorMetrics().currentCacheSize | fileSize,
                totalSent: connectorMetrics().contentSentSize | fileSize,
                totalCached: connectorMetrics().contentCachedSize | fileSize
              }"
            ></td>
          </tr>
          <!-- error size -->
          <tr>
            <td translate="north.monitoring.error-size-title"></td>
            <td
              class="last-column-body"
              translate="north.monitoring.error-size-value"
              [translateParams]="{
                currentSize: connectorMetrics().currentErrorSize | fileSize,
                totalSize: connectorMetrics().contentErroredSize | fileSize
              }"
            ></td>
          </tr>
          <!-- archive size -->
          <tr>
            <td translate="north.monitoring.archive-size-title"></td>
            <td
              class="last-column-body"
              translate="north.monitoring.archive-size-value"
              [translateParams]="{
                currentSize: connectorMetrics().currentArchiveSize | fileSize,
                totalSize: connectorMetrics().contentArchivedSize | fileSize
              }"
            ></td>
          </tr>
        </tbody>
      </table>
    </div>
  </oib-box>
}
