<oib-box *ngIf=" manifest">
  <ng-template oibBoxTitle>
    <div class="d-flex justify-content-between align-items-center">
      <span translate="north.monitoring.title" id="title" [translateParams]="{ name: northConnector.name }"></span>
      <div class="d-flex align-items-center">
        <span
          translate="south.monitoring.since"
          [translateParams]="{ date: connectorMetrics.metricsStart | datetime:'mediumWithSeconds' }"
        ></span>
        <!-- Display button -->
        <a *ngIf="displayButton" class="btn btn-link display-north px-1 py-0" id="display-link" (click)="navigateToDisplay()">
          <span class="fa fa-search"></span>
        </a>
        <!-- Reset button -->
        <button
          *ngIf="!displayButton"
          class="ms-3 btn btn-danger btn-sm oib-box-btn"
          (click)="resetMetrics()"
          translate="north.monitoring.reset-metrics"
        ></button>
      </div>
    </div>
  </ng-template>

  <div class="mb-3">
    <table class="table table-sm table-hover oib-table">
      <tbody>
        <!-- number of values for point connectors -->
        <tr *ngIf="manifest.modes.points">
          <td style="width: 33%" translate="north.monitoring.number-of-values"></td>
          <td class="last-column-body">{{ connectorMetrics.numberOfValuesSent }}</td>
        </tr>
        <!-- number of files for file connectors -->
        <tr *ngIf="manifest.modes.files">
          <td translate="north.monitoring.number-of-files"></td>
          <td class="last-column-body">{{ connectorMetrics.numberOfFilesSent }}</td>
        </tr>
        <!-- last connection -->
        <tr *ngIf="connectorMetrics.lastConnection !== null">
          <td translate="north.monitoring.last-connection"></td>
          <td class="last-column-body">{{ connectorMetrics.lastConnection | datetime:'mediumWithSeconds' }}</td>
        </tr>
        <!-- last value -->
        <tr *ngIf="manifest.modes.points && connectorMetrics.lastValueSent">
          <td translate="north.monitoring.last-value"></td>
          <td class="last-column-body">
            <span
              translate="north.monitoring.last-value-content"
              [translateParams]="{ pointId: connectorMetrics.lastValueSent.pointId, timestamp: connectorMetrics.lastValueSent.timestamp, data: connectorMetrics.lastValueSent.data | json }"
            ></span>
          </td>
        </tr>
        <!-- last file -->
        <tr *ngIf="manifest.modes.files && connectorMetrics.lastFileSent">
          <td translate="north.monitoring.last-file"></td>
          <td class="last-column-body">{{ connectorMetrics.lastFileSent }}</td>
        </tr>
        <!-- last run -->
        <tr *ngIf="connectorMetrics.lastRunStart !== null">
          <td translate="north.monitoring.last-run-start"></td>
          <td class="last-column-body">{{ connectorMetrics.lastRunStart | datetime:'mediumWithSeconds' }}</td>
        </tr>
        <!-- last duration -->
        <tr *ngIf="connectorMetrics.lastRunDuration !== null">
          <td translate="north.monitoring.last-run-duration"></td>
          <td class="last-column-body">{{ connectorMetrics.lastRunDuration | duration:'short' }}</td>
        </tr>
        <!-- last duration -->
        <tr>
          <td translate="north.monitoring.cache-size"></td>
          <td class="last-column-body">{{ connectorMetrics.cacheSize | fileSize }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</oib-box>
