<oib-box>
  <ng-template oibBoxTitle>
    <div class="d-flex justify-content-between align-items-center">
      <span translate="south.monitoring.title" id="title"></span>
      <button class="ms-3 btn btn-primary btn-sm oib-box-btn" (click)="resetMetrics()" translate="south.monitoring.reset-metrics"></button>
    </div>
  </ng-template>

  <div *ngIf="connectorMetrics" class="mb-3">
    <table class="table table-sm table-hover oib-table">
      <tbody>
        <!-- number of values for point connectors -->
        <tr *ngIf="connectorMetrics.numberOfValuesRetrieved !== null">
          <td style="width: 33%" translate="south.monitoring.number-of-values"></td>
          <td>{{ connectorMetrics.numberOfValuesRetrieved }}</td>
        </tr>
        <!-- number of files for file connectors -->
        <tr *ngIf="connectorMetrics.numberOfFilesRetrieved !== null">
          <td translate="south.monitoring.number-of-files"></td>
          <td>{{ connectorMetrics.numberOfFilesRetrieved }}</td>
        </tr>
        <!-- last connection -->
        <tr *ngIf="connectorMetrics.lastConnection !== null">
          <td translate="south.monitoring.last-connection"></td>
          <td>{{ connectorMetrics.lastConnection | datetime:'mediumWithSeconds' }}</td>
        </tr>
        <!-- last value -->
        <tr>
          <td translate="south.monitoring.last-value"></td>
          <td>{{ connectorMetrics.lastValueRetrieved | json }}</td>
        </tr>
        <!-- last file -->
        <tr>
          <td translate="south.monitoring.last-file"></td>
          <td>{{ connectorMetrics.lastFileRetrieved }}</td>
        </tr>
        <!-- last run -->
        <tr *ngIf="connectorMetrics.lastRunStart !== null">
          <td translate="south.monitoring.last-run-start"></td>
          <td>{{ connectorMetrics.lastRunStart | datetime:'mediumWithSeconds' }}</td>
        </tr>
        <!-- last duration -->
        <tr *ngIf="connectorMetrics.lastRunDuration !== null">
          <td translate="south.monitoring.last-run-duration"></td>
          <td>{{ connectorMetrics.lastRunDuration | duration:'short' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</oib-box>
