<oib-box *ngIf="manifest">
  <ng-template oibBoxTitle>
    <div class="d-flex justify-content-between align-items-center">
      <span translate="south.monitoring.title" id="title" [translateParams]="{ name: southConnector.name }"></span>
      <div class="d-flex align-items-center">
        <span
          *ngIf="connectorMetrics"
          translate="south.monitoring.since"
          [translateParams]="{ date: connectorMetrics.metricsStart | datetime: 'mediumWithSeconds' }"
        ></span>
        <a *ngIf="displayButton" class="btn btn-link display-south px-1 py-0" id="display-link" (click)="navigateToDisplay()">
          <span class="fa fa-search"></span>
        </a>
        <button
          *ngIf="!displayButton"
          class="ms-3 btn btn-danger btn-sm oib-box-btn"
          (click)="resetMetrics()"
          translate="south.monitoring.reset-metrics"
        ></button>
      </div>
    </div>
  </ng-template>

  <div class="mb-3">
    <table class="table table-sm table-hover oib-table">
      <tbody *ngIf="connectorMetrics">
        <!-- number of values for point connectors -->
        <tr *ngIf="connectorMetrics.numberOfValuesRetrieved">
          <td translate="south.monitoring.number-of-values"></td>
          <td class="last-column-body">{{ connectorMetrics.numberOfValuesRetrieved }}</td>
        </tr>
        <!-- number of files for file connectors -->
        <tr *ngIf="connectorMetrics.numberOfFilesRetrieved">
          <td translate="south.monitoring.number-of-files"></td>
          <td class="last-column-body">{{ connectorMetrics.numberOfFilesRetrieved }}</td>
        </tr>
        <!-- last connection -->
        <tr *ngIf="connectorMetrics.lastConnection !== null">
          <td translate="south.monitoring.last-connection"></td>
          <td class="last-column-body">{{ connectorMetrics.lastConnection | datetime: 'mediumWithSeconds' }}</td>
        </tr>
        <!-- last value -->
        <tr *ngIf="connectorMetrics.lastValueRetrieved !== null">
          <td translate="south.monitoring.last-value"></td>
          <td class="last-column-body">
            <span
              translate="south.monitoring.last-value-content"
              [translateParams]="{
                pointId: connectorMetrics.lastValueRetrieved.pointId,
                timestamp: connectorMetrics.lastValueRetrieved.timestamp,
                data: connectorMetrics.lastValueRetrieved.data | json
              }"
            ></span>
          </td>
        </tr>
        <!-- last file -->
        <tr *ngIf="connectorMetrics.lastFileRetrieved !== null">
          <td translate="south.monitoring.last-file"></td>
          <td class="last-column-body">{{ connectorMetrics.lastFileRetrieved }}</td>
        </tr>
        <!-- last run -->
        <tr *ngIf="connectorMetrics.lastRunStart !== null">
          <td translate="south.monitoring.last-run-start"></td>
          <td class="last-column-body">{{ connectorMetrics.lastRunStart | datetime: 'mediumWithSeconds' }}</td>
        </tr>
        <!-- last duration -->
        <tr *ngIf="connectorMetrics.lastRunDuration !== null">
          <td translate="south.monitoring.last-run-duration"></td>
          <td class="last-column-body">{{ connectorMetrics.lastRunDuration | duration: 'short' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</oib-box>
