<oib-box>
  <ng-template oibBoxTitle>
    <div class="d-flex justify-content-between align-items-center">
      <span translate="engine.monitoring.title" id="title"></span>
      <div class="d-flex align-items-center">
        <span translate="engine.monitoring.since" [translateParams]="{ date: metrics.metricsStart | datetime:'mediumWithSeconds' }"></span>
        <!-- Display button -->
        <a *ngIf="displayButton" class="btn btn-link display-engine px-1 py-0" id="display-link" (click)="navigateToDisplay()">
          <span class="fa fa-search"></span>
        </a>
        <!-- Reset button -->
        <button
          *ngIf="!displayButton"
          class="ms-3 btn btn-danger btn-sm oib-box-btn"
          (click)="resetMetrics()"
          translate="engine.monitoring.reset-metrics"
        ></button>
      </div>
    </div>
  </ng-template>

  <div class="mb-3">
    <table class="table table-sm table-hover oib-table">
      <tbody>
        <!-- Instant percentage of CPU usage -->
        <tr>
          <td style="width: 33%" translate="engine.monitoring.cpu-usage-instant"></td>
          <td>{{ metrics.processCpuUsageInstant | percent:'.2' }}</td>
        </tr>
        <!-- Average percentage of CPU usage -->
        <tr>
          <td style="width: 33%" translate="engine.monitoring.cpu-usage-average"></td>
          <td>{{ metrics.processCpuUsageAverage | percent:'.2' }}</td>
        </tr>
        <!-- Percentage of CPU up time -->
        <tr>
          <td style="width: 33%" translate="engine.monitoring.uptime"></td>
          <td>{{ metrics.processUptime | duration }}</td>
        </tr>
        <!-- Memory use -->
        <tr>
          <td style="width: 33%" translate="engine.monitoring.free-memory"></td>
          <td>{{ (metrics.freeMemory / metrics.totalMemory) | percent }}</td>
        </tr>
        <!-- RSS -->
        <tr>
          <td style="width: 33%" translate="engine.monitoring.rss"></td>
          <td>{{ metrics.minRss | fileSize }} / {{ metrics.currentRss | fileSize }} / {{ metrics.maxRss | fileSize }}</td>
        </tr>
        <!-- Heap Total -->
        <tr>
          <td style="width: 33%" translate="engine.monitoring.heap-total"></td>
          <td>{{ metrics.minHeapTotal | fileSize }} / {{ metrics.currentHeapTotal | fileSize}} / {{ metrics.maxHeapTotal | fileSize }}</td>
        </tr>
        <!-- Heap Used -->
        <tr>
          <td style="width: 33%" translate="engine.monitoring.heap-used"></td>
          <td>{{ metrics.minHeapUsed | fileSize }} / {{ metrics.currentHeapUsed | fileSize }} / {{ metrics.maxHeapUsed | fileSize }}</td>
        </tr>
        <!-- External -->
        <tr>
          <td style="width: 33%" translate="engine.monitoring.external"></td>
          <td>{{ metrics.minExternal | fileSize }} / {{ metrics.currentExternal| fileSize }} / {{ metrics.maxExternal | fileSize }}</td>
        </tr>
        <!-- Array Buffers -->
        <tr>
          <td style="width: 33%" translate="engine.monitoring.array-buffer"></td>
          <td>
            {{ metrics.minArrayBuffers | fileSize }} / {{ metrics.currentArrayBuffers | fileSize }} / {{ metrics.maxArrayBuffers | fileSize
            }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</oib-box>
