@if (northConnector && manifest) {
  <div class="oib-padded-container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="oib-header-container mb-3">
          <h1 id="title" translate="north.title" [translateParams]="{ name: northConnector.name, type: manifest.name }">
            <span class="ms-3">
              <button class="btn btn-primary" id="edit-link" routerLink="edit">
                <i class="fa fa-pencil"></i>
              </button>
            </span>
            <button class="ms-2 btn btn-cancel" translate="common.back" id="cancel-edit-button" oibBackButton></button>
            <button class="btn btn-primary pull-right me-2" id="north-enabled" (click)="toggleConnector(!northConnector.enabled)">
              <i [class]="northConnector.enabled ? 'fa fa-pause' : 'fa fa-play'"></i>
            </button>
          </h1>
          <span class="text-disabled pull-right me-2">
            <span translate="north.copy-cache-path" [translateParams]="{ id: northConnector.id }"></span>
            <i
              class="fa fa-copy ms-1"
              role="button"
              [cdkCopyToClipboard]="oibusInfo!.dataDirectory + '/cache/data-stream/north-' + northConnector.id"
              (cdkCopyToClipboardCopied)="onClipboardCopy($event)"
            ></i>
          </span>
        </div>
        <!-- North metrics -->
        @if (connectorMetrics) {
          <oib-north-metrics [connectorMetrics]="connectorMetrics" [manifest]="manifest" [northConnector]="northConnector" />
        }
        <!-- Specific settings -->
        <oib-box>
          <ng-template oibBoxTitle>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <span translate="north.specific-settings" [translateParams]="{ type: manifest.name }" id="specific-settings-title"></span>
              </div>
              <div>
                <button
                  translate="north.test-connection.button"
                  type="button"
                  class="btn btn-secondary btn-sm oib-box-btn ms-3"
                  id="test-connection"
                  (click)="testConnection()"
                ></button>
              </div>
            </div>
          </ng-template>
          <table class="table table-sm table-hover oib-table mb-3">
            <tbody class="north-settings">
              <tr>
                <td translate="north.status"></td>
                <td>{{ northConnector.enabled | enabled }}</td>
              </tr>
              @for (setting of displayedSettings; track setting) {
                <tr>
                  <td style="width: 33%">{{ setting.key }}</td>
                  <td>{{ setting.value }}</td>
                </tr>
              }
            </tbody>
          </table>
        </oib-box>
        <oib-box>
          <ng-template oibBoxTitle>
            <div class="d-flex justify-content-between align-items-center">
              <span translate="north.cache-settings.title"></span>
              <a class="ms-3 btn btn-secondary btn-sm oib-box-btn" [routerLink]="['/north', northConnector.id, 'cache']"
                ><span class="fa fa-search"></span><span class="mx-1" translate="north.cache-settings.explore-cache"></span
              ></a>
            </div>
          </ng-template>
          <table class="table table-sm table-hover oib-table mb-3">
            <tbody>
              <tr>
                <td translate="north.cache-settings.send-scan-mode" style="width: 33%"></td>
                <td>{{ getScanMode(northConnector.caching.scanModeId) }}</td>
              </tr>
              <tr>
                <td translate="north.cache-settings.max-size"></td>
                <td>{{ northConnector.caching.maxSize | number }} <span translate="common.size.MB"></span></td>
              </tr>
              <tr>
                <td translate="north.cache-settings.retry-interval"></td>
                <td>{{ northConnector.caching.retryInterval | duration }}</td>
              </tr>
              <tr>
                <td translate="north.cache-settings.retry-count"></td>
                <td>{{ northConnector.caching.retryCount | number }}</td>
              </tr>
              <tr>
                <td translate="north.cache-settings.group-count"></td>
                <td>{{ northConnector.caching.oibusTimeValues.groupCount | number }}</td>
              </tr>
              <tr>
                <td translate="north.cache-settings.max-send-count"></td>
                <td>{{ northConnector.caching.oibusTimeValues.maxSendCount | number }}</td>
              </tr>
            </tbody>
          </table>
        </oib-box>
        <!-- subscription -->
        <oib-north-subscriptions [northConnector]="northConnector" />
        <!-- Logs -->
        <oib-box>
          <ng-template oibBoxTitle>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <span id="logs-title">{{ 'logs.title' | translate }}</span>
              </div>
            </div>
          </ng-template>
        </oib-box>
        <oib-logs [scopeId]="northId" scopeType="north" />
      </div>
    </div>
  </div>
}
