<div class="modal-header">
  <h4 class="modal-title" [translate]="'engine.scan-mode.title-' + mode"></h4>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="save()" id="form">
    <!-- Name -->
    <div class="form-group">
      <label class="form-label" for="name" translate="engine.scan-mode.name"></label>
      <input formControlName="name" id="name" class="form-control" />
      <val-errors controlName="name"></val-errors>
    </div>
    <!-- Description -->
    <div class="form-group">
      <label class="form-label" for="description" translate="engine.scan-mode.description"></label>
      <textarea formControlName="description" id="description" class="form-control"></textarea>
    </div>

    <!-- Cron -->
    <div class="form-group">
      <label class="form-label" for="cron" translate="engine.scan-mode.cron"></label>
      <input formControlName="cron" id="cron" class="form-control" />
      <val-errors controlName="cron"></val-errors>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="btn-group">
    <oib-save-button [state]="state"></oib-save-button>
    <button type="button" class="btn btn-cancel" ngbAutofocus (click)="cancel()" translate="common.cancel" id="cancel-button"></button>
  </div>
</div>
