<div class="modal-header">
  <h4 class="modal-title" [translate]="'engine.external-source.title-' + mode"></h4>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="save()" id="form">
    <!-- Reference -->
    <div class="form-group">
      <label class="form-label" for="reference" translate="engine.external-source.reference"></label>
      <input formControlName="reference" id="reference" class="form-control" />
      <val-errors controlName="reference"></val-errors>
    </div>
    <!-- Description -->
    <div class="form-group">
      <label class="form-label" for="description" translate="engine.external-source.description"></label>
      <textarea formControlName="description" id="description" class="form-control"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="btn-group">
    <oib-save-button [state]="state"></oib-save-button>
    <button type="button" class="btn btn-cancel" ngbAutofocus (click)="cancel()" translate="common.cancel" id="cancel-button"></button>
  </div>
</div>
