<div class="oib-padded-container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <div class="d-flex">
        <h1 translate="engine.edit-title"></h1>
        <button class="ms-2 btn btn-cancel" translate="common.back" id="cancel-button" oibBackButton></button>
      </div>

      <form [formGroup]="engineForm" (ngSubmit)="save()" id="engine-form" class="my-3">
        <div class="save-zone">
          <!-- General settings -->
          <oib-box boxTitle="engine.general-settings.title" helpUrl="https://oibus.optimistik.com/docs/guide/engine/engine-settings">
            <div class="row">
              <!-- Name -->
              <div class="col-4">
                <div class="form-group">
                  <label class="form-label" for="name" translate="engine.general-settings.name"></label>
                  <input formControlName="name" id="name" class="form-control" />
                  <val-errors controlName="name"></val-errors>
                </div>
              </div>
              <!-- Port -->
              <div class="col-4">
                <div class="form-group">
                  <label class="form-label" for="port" translate="engine.general-settings.port"></label>
                  <input formControlName="port" type="number" id="port" class="form-control" />
                  <val-errors controlName="port"></val-errors>
                </div>
              </div>
            </div>
          </oib-box>

          <oib-box boxTitle="engine.proxy-settings.title">
            <div class="row">
              <!-- Enabled -->
              <div class="col-3">
                <div class="form-group">
                  <div class="form-check form-switch padded">
                    <input formControlName="proxyEnabled" id="proxy-enabled" type="checkbox" class="form-check-input" />
                    <label class="form-check-label" for="proxy-enabled" translate="engine.proxy-settings.proxy-enabled"></label>
                  </div>
                </div>
              </div>
              <!-- Proxy port -->
              <div class="col-4" *ngIf="engineForm.controls.proxyEnabled.value">
                <div class="form-group">
                  <label class="form-label" for="proxy-port" translate="engine.proxy-settings.proxy-port"></label>
                  <input formControlName="proxyPort" type="number" id="proxy-port" class="form-control" />
                  <val-errors controlName="proxyPort"></val-errors>
                </div>
              </div>
            </div>
          </oib-box>

          <!-- Logger settings -->
          <oib-box boxTitle="engine.logger.title">
            <div formGroupName="logParameters">
              <div class="row" formGroupName="console">
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label" for="console-level" translate="engine.logger.console.level"></label>
                    <select formControlName="level" class="form-select mb-2 mr-sm-2" id="console-level">
                      <option *ngFor="let level of logLevels" [ngValue]="level">{{ 'enums.log-levels.' + level | translate }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- File settings -->
              <div class="row" formGroupName="file">
                <!-- Level -->
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label" for="file-level" translate="engine.logger.file.level"></label>
                    <select formControlName="level" class="form-select mb-2 mr-sm-2" id="file-level">
                      <option *ngFor="let level of logLevels" [ngValue]="level">{{ 'enums.log-levels.' + level | translate }}</option>
                    </select>
                  </div>
                </div>
                <!-- Max file size -->
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label" for="file-max-file-size" translate="engine.logger.file.max-file-size"></label>
                    <div class="input-group">
                      <input type="number" formControlName="maxFileSize" id="file-max-file-size" class="form-control" />
                      <span class="input-group-text" translate="common.unit.MB"></span>
                    </div>
                    <val-errors controlName="maxFileSize"></val-errors>
                  </div>
                </div>
                <!-- Number of files -->
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label" for="file-number-of-files" translate="engine.logger.file.number-of-files"></label>
                    <input type="number" formControlName="numberOfFiles" id="file-number-of-files" class="form-control" />
                    <val-errors controlName="numberOfFiles"></val-errors>
                  </div>
                </div>
              </div>

              <!-- Database settings -->
              <div class="row" formGroupName="database">
                <!-- Level -->
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label" for="database-level" translate="engine.logger.database.level"></label>
                    <select formControlName="level" class="form-select mb-2 mr-sm-2" id="database-level">
                      <option *ngFor="let level of logLevels" [ngValue]="level">{{ 'enums.log-levels.' + level | translate }}</option>
                    </select>
                  </div>
                </div>

                <!-- Max number of logs -->
                <div class="col-4">
                  <div class="form-group">
                    <label
                      class="form-label"
                      for="database-max-number-of-logs"
                      translate="engine.logger.database.max-number-of-logs"
                    ></label>
                    <input type="number" formControlName="maxNumberOfLogs" id="database-max-number-of-logs" class="form-control" />
                    <val-errors controlName="maxNumberOfLogs"></val-errors>
                  </div>
                </div>
              </div>

              <!-- Loki settings -->
              <ng-container formGroupName="loki">
                <div class="row">
                  <!-- Level -->
                  <div class="col-4">
                    <div class="form-group">
                      <label class="form-label" for="loki-level" translate="engine.logger.loki.level"></label>
                      <select formControlName="level" class="form-select mb-2 mr-sm-2" id="loki-level">
                        <option *ngFor="let level of logLevels" [ngValue]="level">{{ 'enums.log-levels.' + level | translate }}</option>
                      </select>
                    </div>
                  </div>

                  <!-- Interval -->
                  <div class="col-4">
                    <div class="form-group">
                      <label class="form-label" for="loki-interval" translate="engine.logger.loki.interval"></label>
                      <div class="input-group">
                        <input type="number" formControlName="interval" id="loki-interval" class="form-control" />
                        <span class="input-group-text" translate="common.unit.s"></span>
                      </div>
                      <val-errors controlName="interval"></val-errors>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <!-- Address -->
                  <div class="col-6">
                    <div class="form-group">
                      <label class="form-label" for="loki-address" translate="engine.logger.loki.address"></label>
                      <input formControlName="address" id="loki-address" class="form-control" />
                      <val-errors controlName="address"></val-errors>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-4">
                    <div class="form-group">
                      <label class="form-label" for="loki-username" translate="engine.logger.loki.username"></label>
                      <input formControlName="username" id="loki-username" class="form-control" />
                      <val-errors controlName="username"></val-errors>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label class="form-label" for="loki-password" translate="engine.logger.loki.password"></label>
                      <input type="password" formControlName="password" id="loki-password" class="form-control" />
                      <val-errors controlName="password"></val-errors>
                    </div>
                  </div>
                </div>
              </ng-container>

              <!-- OIA settings -->
              <ng-container formGroupName="oia">
                <div class="row">
                  <!-- Level -->
                  <div class="col-4">
                    <div class="form-group">
                      <label class="form-label" for="oia-level" translate="engine.logger.oia.level"></label>
                      <select formControlName="level" class="form-select mb-2 mr-sm-2" id="oia-level">
                        <option *ngFor="let level of logLevels" [ngValue]="level">{{ 'enums.log-levels.' + level | translate }}</option>
                      </select>
                    </div>
                  </div>

                  <!-- Interval -->
                  <div class="col-4">
                    <div class="form-group">
                      <label class="form-label" for="oia-interval" translate="engine.logger.oia.interval"></label>
                      <div class="input-group">
                        <input type="number" formControlName="interval" id="oia-interval" class="form-control" />
                        <span class="input-group-text" translate="common.unit.s"></span>
                      </div>
                      <val-errors controlName="interval"></val-errors>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </oib-box>

          <div id="actions" class="mx-2 d-flex justify-content-end">
            <div class="btn-group">
              <oib-save-button [insideOfGroup]="false" form="engine-form" [state]="state"></oib-save-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
