<div class="oib-padded-container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <h1 translate="engine.edit-title"></h1>

      <form [formGroup]="engineForm" (ngSubmit)="save()" id="engine-form" class="mt-3">
        <!-- General settings -->
        <oib-box boxTitle="south.general-settings">
          <div class="row">
            <!-- Name -->
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="name" translate="engine.general-settings.name"></label>
                <input formControlName="name" id="name" class="form-control" />
                <val-errors controlName="name"></val-errors>
              </div>
            </div>
            <!-- Port -->
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="port" translate="engine.general-settings.port"></label>
                <input formControlName="port" type="number" id="port" class="form-control" />
                <val-errors controlName="port"></val-errors>
              </div>
            </div>
          </div>
        </oib-box>

        <!-- Logger settings -->
        <oib-box boxTitle="engine.logger.title">
          <div formGroupName="logParameters">
            <div class="row" formGroupName="console">
              <div class="col-4">
                <div class="form-group">
                  <label for="console-level" translate="engine.logger.console.level"></label>
                  <select formControlName="level" class="form-select mb-2 mr-sm-2" id="console-level">
                    <option *ngFor="let level of logLevels" [ngValue]="level">{{ 'enums.log-levels.' + level | translate }}</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- File settings -->
            <div class="row" formGroupName="file">
              <!-- Level -->
              <div class="col-4">
                <div class="form-group">
                  <label for="file-level" translate="engine.logger.file.level"></label>
                  <select formControlName="level" class="form-select mb-2 mr-sm-2" id="file-level">
                    <option *ngFor="let level of logLevels" [ngValue]="level">{{ 'enums.log-levels.' + level | translate }}</option>
                  </select>
                </div>
              </div>
              <!-- Max file size -->
              <div class="col-4">
                <div class="form-group">
                  <label class="form-label" for="file-max-file-size" translate="engine.logger.file.max-file-size"></label>
                  <input type="number" formControlName="maxFileSize" id="file-max-file-size" class="form-control" />
                </div>
              </div>
              <!-- Number of files -->
              <div class="col-4">
                <div class="form-group">
                  <label class="form-label" for="file-number-of-files" translate="engine.logger.file.number-of-files"></label>
                  <input type="number" formControlName="numberOfFiles" id="file-number-of-files" class="form-control" />
                </div>
              </div>
            </div>

            <!-- Database settings -->
            <div class="row" formGroupName="database">
              <!-- Level -->
              <div class="col-4">
                <div class="form-group">
                  <label class="form-label" for="database-level" translate="engine.logger.database.level"></label>
                  <select formControlName="level" class="form-select mb-2 mr-sm-2" id="database-level">
                    <option *ngFor="let level of logLevels" [ngValue]="level">{{ 'enums.log-levels.' + level | translate }}</option>
                  </select>
                </div>
              </div>

              <!-- Max number of logs -->
              <div class="col-4">
                <div class="form-group">
                  <label class="form-label" for="database-max-number-of-logs" translate="engine.logger.database.max-number-of-logs"></label>
                  <input type="number" formControlName="maxNumberOfLogs" id="database-max-number-of-logs" class="form-control" />
                </div>
              </div>
            </div>

            <!-- Loki settings -->
            <ng-container formGroupName="loki">
              <div class="row">
                <!-- Level -->
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label" for="loki-level" translate="engine.logger.loki.level"></label>
                    <select formControlName="level" class="form-select mb-2 mr-sm-2" id="loki-level">
                      <option *ngFor="let level of logLevels" [ngValue]="level">{{ 'enums.log-levels.' + level | translate }}</option>
                    </select>
                  </div>
                </div>

                <!-- Interval -->
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label" for="loki-interval" translate="engine.logger.loki.interval"></label>
                    <input type="number" formControlName="interval" id="loki-interval" class="form-control" />
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Address -->
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label" for="loki-address" translate="engine.logger.loki.address"></label>
                    <input formControlName="address" id="loki-address" class="form-control" />
                  </div>
                </div>
                <!-- Proxy -->
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label" for="loki-proxy" translate="engine.logger.loki.proxy"></label>
                    <select formControlName="proxyId" class="form-select mb-2 mr-sm-2" id="loki-proxy">
                      <option [ngValue]="null">{{ 'engine.logger.loki.no-proxy' | translate }}</option>
                      <option *ngFor="let proxy of proxies" [ngValue]="proxy.id">{{ proxy.name }}</option>
                    </select>
                  </div>
                </div>
                <!-- Token address -->
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label" for="loki-token-address" translate="engine.logger.loki.token-address"></label>
                    <input formControlName="tokenAddress" id="loki-token-address" class="form-control" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label" for="loki-username" translate="engine.logger.loki.username"></label>
                    <input formControlName="username" id="loki-username" class="form-control" />
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label" for="loki-password" translate="engine.logger.loki.password"></label>
                    <input type="password" formControlName="password" id="loki-password" class="form-control" />
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </oib-box>
      </form>
      <div id="actions" class="mb-2 mt-3 d-flex justify-content-end">
        <div class="btn-group">
          <oib-save-button form="engine-form" [state]="state"></oib-save-button>
          <button class="btn btn-cancel" translate="common.cancel" id="cancel-button" routerLink="/engine"></button>
        </div>
      </div>
    </div>
  </div>
</div>
