<div class="modal-header">
  <h4 class="modal-title" translate="engine.logger.title"></h4>
</div>
<div class="modal-body">
  <form id="engine-logger-form" [formGroup]="form" (ngSubmit)="save()">
    <div formGroupName="logParameters">
      <!-- OIAnalytics settings -->
      <ng-container formGroupName="oia">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label class="form-label" for="oia-level" translate="engine.logger.oia.level"></label>
              <select formControlName="level" class="form-select mb-2 mr-sm-2" id="oia-level">
                @for (level of logLevels; track level) {
                  <option [ngValue]="level" [translate]="'enums.log-levels.' + level"></option>
                }
              </select>
            </div>
          </div>
          @if (!isLevelSilent('oia')) {
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="oia-interval" translate="engine.logger.oia.interval"></label>
                <div class="input-group">
                  <input type="number" formControlName="interval" id="oia-interval" class="form-control" />
                  <span class="input-group-text" translate="common.unit.s"></span>
                </div>
                <val-errors controlName="interval" />
              </div>
            </div>
          }
        </div>
      </ng-container>

      <!-- Database settings -->
      <div class="row" formGroupName="database">
        <div class="col-4">
          <div class="form-group">
            <label class="form-label" for="database-level" translate="engine.logger.database.level"></label>
            <select formControlName="level" class="form-select mb-2 mr-sm-2" id="database-level">
              @for (level of logLevels; track level) {
                <option [ngValue]="level" [translate]="'enums.log-levels.' + level"></option>
              }
            </select>
          </div>
        </div>
        @if (!isLevelSilent('database')) {
          <div class="col-4">
            <div class="form-group">
              <label class="form-label" for="database-max-number-of-logs" translate="engine.logger.database.max-number-of-logs"></label>
              <input type="number" formControlName="maxNumberOfLogs" id="database-max-number-of-logs" class="form-control" />
              <val-errors controlName="maxNumberOfLogs" />
            </div>
          </div>
        }
      </div>

      <!-- File settings -->
      <div class="row" formGroupName="file">
        <div class="col-4">
          <div class="form-group">
            <label class="form-label" for="file-level" translate="engine.logger.file.level"></label>
            <select formControlName="level" class="form-select mb-2 mr-sm-2" id="file-level">
              @for (level of logLevels; track level) {
                <option [ngValue]="level" [translate]="'enums.log-levels.' + level"></option>
              }
            </select>
          </div>
        </div>
        @if (!isLevelSilent('file')) {
          <div class="col-4">
            <div class="form-group">
              <label class="form-label" for="file-max-file-size" translate="engine.logger.file.max-file-size"></label>
              <div class="input-group">
                <input type="number" formControlName="maxFileSize" id="file-max-file-size" class="form-control" />
                <span class="input-group-text" translate="common.unit.MB"></span>
              </div>
              <val-errors controlName="maxFileSize" />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="form-label" for="file-number-of-files" translate="engine.logger.file.number-of-files"></label>
              <input type="number" formControlName="numberOfFiles" id="file-number-of-files" class="form-control" />
              <val-errors controlName="numberOfFiles" />
            </div>
          </div>
        }
      </div>

      <!-- Loki settings -->
      <ng-container formGroupName="loki">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label class="form-label" for="loki-level" translate="engine.logger.loki.level"></label>
              <select formControlName="level" class="form-select mb-2 mr-sm-2" id="loki-level">
                @for (level of logLevels; track level) {
                  <option [ngValue]="level" [translate]="'enums.log-levels.' + level"></option>
                }
              </select>
            </div>
          </div>
          @if (!isLevelSilent('loki')) {
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="loki-interval" translate="engine.logger.loki.interval"></label>
                <div class="input-group">
                  <input type="number" formControlName="interval" id="loki-interval" class="form-control" />
                  <span class="input-group-text" translate="common.unit.s"></span>
                </div>
                <val-errors controlName="interval" />
              </div>
            </div>
          }
        </div>
        @if (!isLevelSilent('loki')) {
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-label" for="loki-address" translate="engine.logger.loki.address"></label>
                <input formControlName="address" id="loki-address" class="form-control" />
                <val-errors controlName="address" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="loki-username" translate="engine.logger.loki.username"></label>
                <input formControlName="username" id="loki-username" class="form-control" />
                <val-errors controlName="username" />
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="loki-password" translate="engine.logger.loki.password"></label>
                <input type="password" formControlName="password" id="loki-password" class="form-control" />
                <val-errors controlName="password" />
              </div>
            </div>
          </div>
        }
      </ng-container>

      <!-- Console settings -->
      <div class="row" formGroupName="console">
        <div class="col-4">
          <div class="form-group">
            <label class="form-label" for="console-level" translate="engine.logger.console.level"></label>
            <select formControlName="level" class="form-select mb-2 mr-sm-2" id="console-level">
              @for (level of logLevels; track level) {
                <option [ngValue]="level" [translate]="'enums.log-levels.' + level"></option>
              }
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="btn-group">
    <button type="submit" form="engine-logger-form" class="btn btn-primary" translate="common.save" id="save-logger-button"></button>
    <button type="button" class="btn btn-cancel" (click)="cancel()" translate="common.cancel" id="cancel-logger-button"></button>
  </div>
</div>
