@if (inMemory) {
  <div class="my-2">
    <span class="fa fa-warning mx-1" style="color: orange"></span>
    <span translate="south.items.edit-mode-info"></span>
  </div>
} @else {
  <div class="my-2">
    <span class="fa fa-info-circle mx-1" style="color: grey"></span>
    <span translate="south.items.display-mode-info"></span>
  </div>
}
<oib-box>
  <ng-template oibBoxTitle>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <div>
          <span translate="south.items.title"></span>
          @if (this.filteredItems.length) {
            <span class="mx-1">({{ this.filteredItems.length }})</span>
          }
        </div>
        <input
          class="ms-4 form form-control oib-box-input-header"
          [formControl]="searchControl"
          [placeholder]="'south.items.search-placeholder' | translate"
          type="text"
        />
      </div>
      <div class="ms-3">
        <button type="button" class="btn btn-primary btn-sm oib-box-btn" (click)="addItem()">
          <span class="fa fa-plus"></span>
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-sm oib-box-btn"
          id="export-items"
          (click)="exportItems()"
          translate="south.items.export"
        ></button>
        <button
          type="button"
          class="btn btn-secondary btn-sm oib-box-btn"
          (click)="fileInput.click()"
          (drop)="onImportDrop($event)"
          (dragover)="onImportDragOver($event)"
          id="import-button"
        >
          <span translate="south.items.import.button"></span>
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm oib-box-btn"
          (click)="deleteAllItems()"
          [disabled]="this.allItems.length === 0"
          translate="south.items.delete-all"
          id="delete-all"
        ></button>
        <oib-help url="https://oibus.optimistik.com/docs/guide/south-connectors/common-settings#item-section"></oib-help>
      </div>
    </div>
  </ng-template>
  <input #fileInput (change)="onImportClick($event)" id="file" type="file" accept=".csv" class="d-none" />

  <div class="mb-3">
    @if (displayedItems.content.length > 0) {
      <table class="mb-2 table table-sm table-hover oib-table">
        <thead class="light">
          <tr>
            @if (!inMemory) {
              <th></th>
            }
            <th translate="south.items.name"></th>
            @if (!southManifest.items.scanMode.subscriptionOnly) {
              <th translate="south.items.scan-mode" style="width: 8rem"></th>
            }
            @for (setting of displaySettings; track setting) {
              <th>{{ setting.label }}</th>
            }
            <th style="width: 6rem"></th>
          </tr>
        </thead>
        <tbody>
          @for (item of displayedItems.content; track item.id) {
            <tr class="south-item">
              @if (!inMemory) {
                <td>
                  <div class="form-check form-switch">
                    <input (click)="toggleItem(item, !item.enabled)" [checked]="item.enabled" type="checkbox" class="form-check-input" />
                  </div>
                </td>
              }
              <td>{{ item.name }}</td>
              @if (!southManifest.items.scanMode.subscriptionOnly && item.scanModeId !== 'subscription') {
                <td>{{ getScanMode(item.scanModeId)?.name }}</td>
              }
              @if (!southManifest.items.scanMode.subscriptionOnly && item.scanModeId === 'subscription') {
                <td>{{ 'scan-mode.subscription' | translate }}</td>
              }
              @for (setting of displaySettings; track setting) {
                <td>{{ getFieldValue(item.settings, setting.key, setting.pipe) }}</td>
              }
              <td class="text-nowrap action-buttons">
                <div class="pull-right">
                  <!-- Edit button -->
                  <button type="button" class="btn btn-link edit-south-item px-1 py-0" (click)="editItem(item)">
                    <span class="fa fa-pencil"></span>
                  </button>
                  <!-- Duplicate button -->
                  <button type="button" class="btn btn-link duplicate-south-item px-1 py-0" (click)="duplicateItem(item)">
                    <span class="fa fa-copy"></span>
                  </button>
                  <!-- Test button -->
                  <button type="button" class="btn btn-link test-south-item px-1 py-0" (click)="testItem(item)">
                    <span class="fa fa-check"></span>
                  </button>
                  <!-- Delete button -->
                  <button type="button" class="btn btn-link delete-south-item px-1 py-0" (click)="deleteItem(item)">
                    <span class="fa fa-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      @if (allItems.length !== 0) {
        <div class="oib-grey-container" translate="south.items.none-match"></div>
      } @else {
        <div class="oib-grey-container" translate="south.items.none"></div>
      }
    }
    @if (displayedItems.totalElements) {
      <div class="d-flex flex-row-reverse">
        <div [class]="displayedItems.totalPages > 1 ? 'ms-2' : ''">
          <oib-pagination [page]="displayedItems" (pageChanged)="changePage($event)"></oib-pagination>
        </div>
      </div>
    }
  </div>
</oib-box>
