/* OI Styles */


.oi-container {
	margin-top: 35px;
	padding: 0;
	background-color: #ffffff;
	border: 0;
	font-size: 11px;
}
.oi-container-with-top-nav {
	margin-top: 72px;
	background-color: #ffffff;
	border: 0;
	font-size: 11px;
    max-width: 600px;
    margin-left: 10px;
}

.oi-navbar {
    position: fixed;
    margin-right: 0;
    margin-left: 0;
    padding: 0 0;
    width: 100%;
    z-index: 20;
}
.oi-navbar-top {
    border: 0;
	top: 0;
    border-radius: 0;
    font-size: 13px;
    font-weight: 400;
    min-height: 35px;
    height: 35px;
    margin-bottom: 0px;
    background-color: #323E48;
}

.oi-navitem {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 20px;
    text-decoration: none;
    color: #ffffff;
}

.oi-navitem ,
.oi-navitem:focus {
    color:  #ffffff;
    background-color: #323E48;
}

.oi-navitem:hover {
    color:  #F5BB51;
    background-color: #323E48;
}

.oi-navitem.open,
.oi-navitem.open:focus,
.oi-navitem.open:hover,
.oi-navitem.active,
.oi-navitem.active:focus,
.oi-navitem.active:hover {
    background-color: #F5BB51;
    color: #000000;
}

.oi-navicon {
    margin-top: 3px;
    margin-right: 10px;
    margin-left: 10px;
}

/* overide BS styles */
.form-control {
    height: calc(1.5rem + 2px);
    font-size: 0.7rem;
    padding: .375rem .5rem;
}

.btn {

    font-size: 0.7rem;
    line-height: 1;
    height: calc(1.5rem + 2px);
    margin-bottom: 4px;
}

.btn-primary,
.btn-info {
    color: #fff;
    background-color: #8291A7;
    border-color: #8291A7;
}

.btn:hover {
    background-color: #F5BB51;
    border-color: #F5BB51;
}

.btn-outline-dark,
.btn-add {
    color: #fff;
    background-color: #8291A7;
    border-color: #8291A7;
    padding: 2px !important;
    font-size: 10px;
    height: 20px;
}

.array-item-remove {
    color: #fff;
    background-color: #DC3545;
    border-color: #DC3545;
    padding: 2px !important;
    font-size: 10px;
    height: 20px;
}


.btn-outline-dark:disabled  {
    color: #fff;
    background-color: #DEDEDE;
    border-color: #DEDEDE;
}

td > div > .inline-button {
    height: 1rem;
    font-size: 0.65rem;
    padding: 0 .5rem;
    width: 60px;
    margin-right:5px;
    margin-bottom: 0;
}

label {
    display: inline-block;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 0.7rem;
}