/* OI Styles */

.custom-control-input:checked~.custom-control-label::before {
  border-color: #f5bb51;
  background-color: #f5bb51;
}
.custom-control-label {
  padding-top: 3px;
}
button:focus,
input:focus,
a:focus {
   outline:0 !important;
}

.oi-container {
  margin-top: 35px;
  padding: 0;
  background-color: #ffffff;
  border: 0;
  font-size: 11px;
}
.oi-container-with-top-nav {
  margin-top: 52px;
  background-color: #ffffff;
  border: 0;
  font-size: 11px;
  /* max-width: 600px; */
  margin-left: 10px;
  margin-right: 10px;
}

.oi-navbar {
  position: fixed;
  margin-right: 0;
  margin-left: 0;
  padding: 0 0;
  width: 100%;
  z-index: 20;
}
.oi-navbar-top {
  border: 0;
  top: 0;
  border-radius: 0;
  font-size: 13px;
  font-weight: 400;
  min-height: 35px;
  height: 35px;
  margin-bottom: 0px;
  background-color: #323e48;
}

.oi-navitem {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}

.oi-navitem,
.oi-navitem:focus {
  color: #ffffff;
  background-color: #323e48;
}

.oi-navitem:hover {
  color: #f5bb51;
  background-color: #323e48;
}

.oi-navitem.open,
.oi-navitem.open:focus,
.oi-navitem.open:hover,
.oi-navitem.active,
.oi-navitem.active:focus,
.oi-navitem.active:hover {
  background-color: #f5bb51;
  color: #000000;
}

.oi-navname {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  right: 0;
}

.oi-navicon {
  margin-top: 3px;
  margin-right: 10px;
  margin-left: 10px;
}

.oi-full-width {
  position: relative;
  width: 90vw;
  left: 0;
}

.oi-add-new {
  width: 50%;
}

/* override Alert styles */
.alert-dismissible .close {
  padding: 0.5rem 1.25rem;
}

/* overide BS styles */
.form-control {
  height: calc(1.5rem + 2px);
  font-size: 0.7rem;
  padding: 0.375rem 0.5rem;
}

.btn {
  font-size: 0.7rem;
  line-height: 1;
  height: calc(1.5rem + 2px);
  margin-bottom: 4px;
}

.btn-primary,
.btn-info {
  color: #fff;
  background-color: #8291a7;
  border-color: #8291a7;
}

.btn:hover {
  background-color: #f5bb51;
  border-color: #f5bb51;
}

.btn:disabled {
  opacity: 0.2;
  color: #fff;
  background-color: #8291a7;
  border-color: #8291a7;
}

.btn-outline-dark,
.btn-add {
  color: #fff;
  background-color: #8291a7;
  border-color: #8291a7;
  padding: 2px !important;
  font-size: 10px;
  height: 20px;
}

.array-item-remove {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 2px !important;
  font-size: 10px;
  height: 20px;
}

.btn-outline-dark:disabled {
  color: #fff;
  background-color: #dedede;
  border-color: #dedede;
}

td > div > .inline-button {
  height: 1rem;
  font-size: 0.65rem;
  padding: 0 0.5rem;
  width: 60px;
  margin-right: 5px;
  margin-bottom: 0;
}

td > div > .autosize {
  width: auto;
}

tr {
  vertical-align: middle;
}

label {
  display: inline-block;
  margin-bottom: 0.2rem;
  font-weight: bold;
  font-size: 0.7rem;
}

.label-card-title {
  margin: 5px;
}

.card-body {
  padding: 10px;
}

.force-row-display {
  display: flex;
  flex-direction: row;
}

.force-row-display > .inline-button {
  margin-right: 0.5rem;
}

.pagination-cell {
  width: 39px;
  text-align: center;
  padding: 0.5rem 0;
}

.form-check-input {
  margin-top: 0.172rem;
  display: block;
}

.form-check {
  padding-left: 0;
}

/* log pannels */

.log-left-panel {
  min-width: 200px;
  width: 200px;
  position: fixed;
  padding: 0;
  z-index: 1;
}

.log-right-panel {
  padding-left: 210px;
}

/* spinner container */
.spinner-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.oi-help {
  margin-bottom: 5px;
  margin-left: 6px;
  width: 14px;
}

.oi-icon {
  width: 30px;
  margin-right: 5px;
  margin-bottom: 0px;
  color: #627187;
}

.oi-icon-inline {
  vertical-align: top;
  margin-left: 5px;
}

.oi-log td{
  padding: 1px;
}

.oi-icon:hover,.oi-help:hover{
  text-decoration: none;
  color: #F5BB51;
  cursor: pointer;
}

.oi-form-input {
  font-size: 11px;
  padding: 0 6px;
  margin-top: 2px;
  margin-bottom: 7px;
  width: 100%;
  overflow: hidden;
}

.checkbox {
  position: relative;
  margin-top: 10px;
  width: 14px;
  margin-left: 0;
}

.oi-form-append {
  padding: 0 5px 0 5px;
  margin: 2px 0 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dedede;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.oi-cron-input {
  display: inline-block;
  width: 65px;
  text-align: center;
  margin-right: 5px;
}

.oi-cron-custom-input {
  display: inline-block;
  width: 140px;
  text-align: center;
  margin-right: 5px;
}

.oi-cron-type-selector {
  padding-left: 10px;
  padding-right: 5px;
}

h3 {
  font-size: 24px;
}

.oi-add-button {
  margin-top: 20px;
  height: 20px;
}

.oi-restart-button {
  height: 16px;
  padding-top: 1px;
  margin-top: 3px;
}

.oi-shutdown-button {
  height: 16px;
  padding-top: 1px;
  margin-top: 3px;
  margin-left: 5px;
}

.oi-points-button {
  height: 16px;
  padding-top: 1px;
  margin-top: 3px;
}

.oi-points-button:disabled {
 opacity: 0.5;
}

.oi-status-button {
  height: 16px;
  padding-top: 1px;
  margin-top: 3px;
  margin-right: 5px;
}

.breadcrumb {
  background-color: inherit;
  color: #F5BB51;
  margin: 0px;
  padding: 0px;
}

.breadcrumb > a {
  color:inherit;
}

.breadcrumb:hover > a {
  color: #f5bb51;
}

.oi-box {
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  min-height: 50px;
  line-height: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

.oi-box > a {
  color: inherit;
}

.oi-alive {
  min-height: 38px;
}

.oi-safe-mode {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.35;
  }
}

.tight {
  padding-right: 5px;
  padding-left: 5px;
}

.col .table td .oi-icon,
.col-md-4 .table td .oi-icon,
.col-md-6:not(.north) .table td .oi-icon,
.col-md-8:not(.south) .table td .oi-icon,
.points .table td .oi-icon {
  margin-top: 9px;
}

.oi-pop{
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  min-height: 50px;
  line-height: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 18px 5px;
  color: #333333;
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 0.5rem 1rem rgb(128 128 128) !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
