<div class="modal-header" xmlns="http://www.w3.org/1999/html">
  <h4 class="modal-title" translate="history-query.modal.title"></h4>
</div>
<div class="modal-body">
  <form [formGroup]="createForm" (ngSubmit)="create()" id="form">
    <div class="text-center mb-2" translate="history-query.modal.create-details"></div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <div class="form-check form-switch">
            <input
              [formControl]="createForm.controls.fromExistingSouth"
              id="from-existing-south"
              type="checkbox"
              class="form-check-input"
            />
            <label class="form-check-label" for="from-existing-south" translate="history-query.from-existing-south"></label>
          </div>
        </div>
        @if (!createForm.controls.fromExistingSouth.value) {
          <div class="form-group">
            <select [formControl]="createForm.controls.southType" id="south-type" class="form-select mb-2 mr-sm-2">
              @for (southType of southTypes; track southType) {
                <option [ngValue]="southType.id">{{ southType.name }}</option>
              }
            </select>
            <val-errors [control]="createForm.controls.southType" />
          </div>
        } @else {
          <div class="form-group">
            <select [formControl]="createForm.controls.southId" id="south-connector" class="form-select mb-2 mr-sm-2">
              @for (connector of southList; track connector.id) {
                <option [ngValue]="connector.id">{{ connector.name + ' (' + connector.type + ')' }}</option>
              }
            </select>
            <val-errors [control]="createForm.controls.southId" />
          </div>
        }
      </div>
      <div class="col">
        <div class="form-group">
          <div class="form-check form-switch">
            <input
              [formControl]="createForm.controls.fromExistingNorth"
              id="from-existing-north"
              type="checkbox"
              class="form-check-input"
            />
            <label for="from-existing-north" class="form-check-label" translate="history-query.from-existing-north"></label>
          </div>
        </div>
        @if (!createForm.controls.fromExistingNorth.value) {
          <div class="form-group">
            <select [formControl]="createForm.controls.northType" id="north-type" class="form-select mb-2 mr-sm-2">
              @for (northType of northTypes; track northType.id) {
                <option [ngValue]="northType.id">{{ northType.name }}</option>
              }
            </select>
            <val-errors [control]="createForm.controls.northType" />
          </div>
        }
        @if (createForm.controls.fromExistingNorth.value) {
          <div class="form-group">
            <select [formControl]="createForm.controls.northId" id="north-connector" class="form-select mb-2 mr-sm-2">
              @for (connector of northList; track connector) {
                <option [ngValue]="connector.id">{{ connector.name + ' (' + connector.type + ')' }}</option>
              }
            </select>
            <val-errors [control]="createForm.controls.northId" />
          </div>
        }
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="btn-group">
    <oib-save-button form="form" [state]="state" />
    <button type="button" class="btn btn-cancel" (click)="cancel()" translate="common.cancel" id="cancel-button"></button>
  </div>
</div>
