@import '../../../common';

.oi-navbar-top {
  height: 30px;
  min-height: 30px;
  background-color: $gray-200;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  .nav-link {
    color: white;
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    &.active {
      background-color: var(--menu-active-color);
      color: black;
      &:hover {
        color: black;
      }
    }
    &:hover {
      color: var(--menu-active-color);
    }
  }
}
