@if (historyQuery && southManifest && northManifest) {
  <div class="oib-padded-container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="oib-header-container mb-3">
          <h1 id="title" translate="history-query.title" [translateParams]="{ name: historyQuery.name }">
            <span class="ms-2">
              <button class="btn btn-primary" id="edit-link" routerLink="edit">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="ms-2 btn btn-cancel" translate="common.back" id="cancel-edit-button" oibBackButton></button>
              @if (historyQuery.status === 'PENDING') {
                <button
                  class="btn btn-primary pull-right me-2"
                  id="history-query-start"
                  (click)="toggleHistoryQuery('RUNNING')"
                  [disabled]="state.isPending | async"
                >
                  @if (state.isPending | async) {
                    <span class="fa fa-spinner fa-spin" role="status"></span>
                  }
                  @if ((state.isPending | async) === false) {
                    <span class="fa fa-play" role="status"></span>
                  }
                </button>
              }
              @if (historyQuery.status === 'RUNNING') {
                <button
                  class="btn btn-primary pull-right me-2"
                  id="history-query-pause"
                  (click)="toggleHistoryQuery('PAUSED')"
                  [disabled]="state.isPending | async"
                >
                  @if (state.isPending | async) {
                    <span class="fa fa-spinner fa-spin" role="status"></span>
                  }
                  @if ((state.isPending | async) === false) {
                    <span class="fa fa-pause" role="status"></span>
                  }
                </button>
              }
              @if (historyQuery.status === 'PAUSED') {
                <button
                  class="btn btn-primary pull-right me-2"
                  id="history-query-unpause"
                  (click)="toggleHistoryQuery('RUNNING')"
                  [disabled]="state.isPending | async"
                >
                  @if (state.isPending | async) {
                    <span class="fa fa-spinner fa-spin" role="status"></span>
                  }
                  @if ((state.isPending | async) === false) {
                    <span class="fa fa-play" role="status"></span>
                  }
                </button>
              }
              @if (historyQuery.status === 'FINISHED' || historyQuery.status === 'ERRORED') {
                <button
                  class="btn btn-primary pull-right me-2"
                  id="history-query-restart"
                  (click)="toggleHistoryQuery('RUNNING')"
                  [disabled]="state.isPending | async"
                >
                  @if (state.isPending | async) {
                    <span class="fa fa-spinner fa-spin" role="status"></span>
                  }
                  @if ((state.isPending | async) === false) {
                    <span class="fa fa-repeat" role="status"></span>
                  }
                </button>
              }
            </span>
          </h1>
          <span class="text-disabled pull-right me-2">
            {{ historyQuery.id }}
            <i
              class="fa fa-copy"
              role="button"
              [cdkCopyToClipboard]="oibusInfo!.dataDirectory + '/cache/history-query/history-' + historyQuery.id"
              (cdkCopyToClipboardCopied)="onClipboardCopy($event)"
            ></i>
          </span>
        </div>
        @if (historyMetrics) {
          <oib-history-metrics
            [historyMetrics]="historyMetrics"
            [historyQuery]="historyQuery"
            [northManifest]="northManifest"
            [southManifest]="southManifest"
          />
        }
        <!-- Cache-->
        <oib-box>
          <ng-template oibBoxTitle>
            <div class="d-flex justify-content-between">
              <span translate="north.cache-settings.title"></span>
            </div>
          </ng-template>
          <table class="table table-sm table-hover oib-table">
            <tbody>
              <tr>
                <td translate="history-query.cache-settings.send-scan-mode" style="width: 33%"></td>
                <td>{{ getScanMode(historyQuery.caching.scanModeId) }}</td>
              </tr>
              <tr>
                <td translate="history-query.cache-settings.max-size"></td>
                <td>{{ historyQuery.caching.maxSize | number }} <span translate="common.size.MB"></span></td>
              </tr>
              <tr>
                <td translate="history-query.cache-settings.retry-interval"></td>
                <td>{{ historyQuery.caching.retryInterval | duration }}</td>
              </tr>
              <tr>
                <td translate="history-query.cache-settings.retry-count"></td>
                <td>{{ historyQuery.caching.retryCount | number }}</td>
              </tr>
              <tr>
                <td translate="history-query.cache-settings.group-count"></td>
                <td>{{ historyQuery.caching.oibusTimeValues.groupCount | number }}</td>
              </tr>
              <tr>
                <td translate="history-query.cache-settings.max-send-count"></td>
                <td>{{ historyQuery.caching.oibusTimeValues.maxSendCount | number }}</td>
              </tr>
            </tbody>
          </table>
        </oib-box>
        <!-- North Specific settings -->
        <oib-box>
          <ng-template oibBoxTitle>
            <div class="d-flex justify-content-between align-items-center">
              <span
                translate="history-query.north.specific-settings"
                [translateParams]="{ type: northManifest.name }"
                id="north-specific-settings-title"
              ></span>
              <button
                translate="north.test-connection.button"
                type="button"
                class="ms-3 btn btn-secondary btn-sm oib-box-btn"
                id="test-connection-north"
                (click)="test('north')"
              ></button>
            </div>
          </ng-template>
          <table class="table table-sm table-hover oib-table">
            <tbody class="north-settings">
              @for (setting of northDisplayedSettings; track setting) {
                <tr>
                  <td style="width: 33%">{{ setting.key }}</td>
                  <td>{{ setting.value }}</td>
                </tr>
              }
            </tbody>
          </table>
        </oib-box>
        <!-- South Specific settings -->
        <oib-box>
          <ng-template oibBoxTitle>
            <div class="d-flex justify-content-between align-items-center">
              <span
                translate="history-query.south.specific-settings"
                [translateParams]="{ type: southManifest.name }"
                id="south-specific-settings-title"
              ></span>
              <button
                translate="south.test-connection.button"
                type="button"
                class="ms-3 btn btn-secondary btn-sm oib-box-btn"
                id="test-connection-south"
                (click)="test('south')"
              ></button>
            </div>
          </ng-template>
          <table class="table table-sm table-hover oib-table">
            <tbody class="south-settings">
              @for (setting of southDisplayedSettings; track setting) {
                <tr>
                  <td style="width: 33%">{{ setting.key }}</td>
                  <td>{{ setting.value }}</td>
                </tr>
              }
            </tbody>
          </table>
        </oib-box>
        <!-- Items -->
        <oib-history-query-items [inMemory]="false" [historyQuery]="historyQuery" [southManifest]="southManifest" />
        <!-- Logs -->
        <oib-box>
          <ng-template oibBoxTitle>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <span id="logs-title">{{ 'logs.title' | translate }}</span>
              </div>
            </div>
          </ng-template>
        </oib-box>
        <oib-logs [scopeId]="historyQueryId" scopeType="history-query" [embedded]="true" />
      </div>
    </div>
  </div>
}
