<div class="oib-padded-container" *ngIf="historyQuery && southManifest && northManifest">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <div class="oib-header-container">
        <h1 id="title" translate="history-query.title" [translateParams]="{ name: historyQuery.name }">
          <span class="ms-2">
            <button class="btn btn-primary" id="edit-link" routerLink="edit">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="ms-2 btn btn-cancel" translate="common.back" id="cancel-edit-button" oibBackButton></button>
            <button class="btn btn-primary pull-right me-2" id="history-query-enabled" (click)="toggleHistoryQuery(!historyQuery.enabled)">
              <i [class]="historyQuery.enabled ?  'fa fa-pause' : 'fa fa-play'"></i>
            </button>
          </span>
        </h1>
      </div>

      <oib-history-metrics
        [historyQuery]="historyQuery"
        [northManifest]="northManifest"
        [southManifest]="southManifest"
      ></oib-history-metrics>

      <!-- Cache-->
      <oib-box>
        <ng-template oibBoxTitle>
          <div class="d-flex justify-content-between">
            <span translate="north.cache-settings.title"></span>
          </div>
        </ng-template>

        <table class="table table-sm table-hover oib-table">
          <tbody>
            <tr>
              <td translate="history-query.cache-settings.send-scan-mode" style="width: 33%"></td>
              <td>{{ getScanMode(historyQuery.caching.scanModeId) }}</td>
            </tr>
            <tr>
              <td translate="history-query.cache-settings.max-size"></td>
              <td>{{ historyQuery.caching.maxSize | number }} <span translate="common.size.MB"></span></td>
            </tr>
            <tr>
              <td translate="history-query.cache-settings.retry-interval"></td>
              <td>{{ historyQuery.caching.retryInterval | duration }}</td>
            </tr>
            <tr>
              <td translate="history-query.cache-settings.retry-count"></td>
              <td>{{ historyQuery.caching.retryCount | number }}</td>
            </tr>
            <tr>
              <td translate="history-query.cache-settings.group-count"></td>
              <td>{{ historyQuery.caching.groupCount | number }}</td>
            </tr>
            <tr>
              <td translate="history-query.cache-settings.max-send-count"></td>
              <td>{{ historyQuery.caching.maxSendCount | number }}</td>
            </tr>
          </tbody>
        </table>
      </oib-box>

      <!-- North Specific settings -->
      <oib-box>
        <ng-template oibBoxTitle>
          <span
            translate="history-query.north.specific-settings"
            [translateParams]="{ type: northManifest.name }"
            id="north-specific-settings-title"
          ></span>
        </ng-template>
        <table class="table table-sm table-hover oib-table">
          <tbody class="north-settings">
            <tr *ngFor="let setting of northDisplayedSettings">
              <td style="width: 33%">{{ setting.key }}</td>
              <td>{{ setting.value }}</td>
            </tr>
          </tbody>
        </table>
      </oib-box>

      <!-- South Specific settings -->
      <oib-box>
        <ng-template oibBoxTitle>
          <span
            translate="history-query.south.specific-settings"
            [translateParams]="{ type: southManifest.name }"
            id="south-specific-settings-title"
          ></span>
        </ng-template>
        <table class="table table-sm table-hover oib-table">
          <tbody class="south-settings">
            <tr *ngFor="let setting of southDisplayedSettings">
              <td style="width: 33%">{{ setting.key }}</td>
              <td>{{ setting.value }}</td>
            </tr>
          </tbody>
        </table>
      </oib-box>

      <!-- Items -->
      <oib-history-query-items
        [displayItemToggle]="true"
        [historyQuery]="historyQuery"
        [southConnectorItemSchema]="southManifest.items"
      ></oib-history-query-items>
    </div>
  </div>
</div>
