<nav class="navbar navbar-dark navbar-expand oi-navbar-top">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/logo-oibus.png" alt="logo" style="height: 24px; margin: 5px; margin-right: 15px" />
  </a>
  <div id="navbar" class="navbar-collapse collapse">
    <ng-container>
      <ul class="navbar-nav mr-auto d-none d-lg-flex">
        <li class="nav-item">
          <a class="nav-link" routerLink="'/logs'">Logs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="'/about'">About</a>
        </li>
      </ul>
    </ng-container>
  </div>
</nav>
