<div class="modal-header">
  <h4 class="modal-title" translate="south.type-title"></h4>
</div>
<div class="modal-body">
  <div class="d-flex justify-content-between">
    <div class="col">
      <div *ngFor="let southType of southTypes">
        <button class="btn d-flex align-items-center category-button" (click)="selectType(southType.type)">
          <div class="image-block">
            <img
              class="category-image"
              [src]="'/frontend/assets/' + southType.category + '.svg'"
              [alt]="'enums.categories.' + southType.category | translate"
            />
          </div>
          <div class="ms-5 text-start">
            <h6 class="mb-0">{{ southType.type }}</h6>
            <p class="mb-0">{{ southType.description }}</p>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="btn-group">
    <button type="button" class="btn btn-cancel" ngbAutofocus (click)="cancel()" translate="common.cancel" id="cancel-button"></button>
  </div>
</div>
