<div class="modal-header">
  <h4 class="modal-title" translate="south.items.import.title"></h4>
</div>
<div class="modal-body">
  @if (errorList.length > 0) {
    <div>
      <h6 translate="south.items.import.error-title"></h6>
      <table class="mb-2 table table-sm table-hover oib-table">
        <thead class="light">
          <tr>
            <th translate="south.items.name"></th>
            <th translate="south.items.import.error"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (error of errorList; track error) {
            <tr class="south-item">
              <td>{{ error.item.name }}</td>
              <td>{{ error.message }}</td>
              <td></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (newItemList.length > 0) {
    <div>
      <h6 translate="south.items.import.valid-title"></h6>
      <table class="table table-sm table-hover oib-table">
        <thead class="light">
          <tr>
            <th translate="south.items.name"></th>
            @if (scanModes.length > 0) {
              <th translate="south.items.scan-mode"></th>
            }
            @for (setting of displaySettings; track setting) {
              <th>{{ setting.label }}</th>
            }
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (item of newItemList; track item.id) {
            <tr class="south-item">
              <td>{{ item.name }}</td>
              @if (item.scanModeId !== 'subscription' && scanModes.length > 0) {
                <td>{{ getScanMode(item.scanModeId)?.name }}</td>
              }
              @if (item.scanModeId === 'subscription' && scanModes.length > 0) {
                <td>{{ 'scan-mode.subscription' | translate }}</td>
              }
              @for (setting of displaySettings; track setting) {
                <td>{{ getFieldValue(item.settings, setting.key, setting.pipe) }}</td>
              }
              <td></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
<div class="modal-footer">
  <div class="btn-group">
    <button
      [disabled]="newItemList.length === 0"
      type="button"
      class="btn btn-primary"
      (click)="submit()"
      translate="common.ok"
      id="save-button"
    ></button>
    <button type="button" class="btn btn-cancel" (click)="cancel()" translate="common.cancel" id="cancel-button"></button>
  </div>
</div>
