<div class="modal-header">
  <h4 class="modal-title" translate="oia-module.registration.title"></h4>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="save()" id="form">
    <div class="row">
      <!-- Host -->
      <div class="col-6">
        <div class="form-group">
          <label class="form-label" for="host" translate="oia-module.registration.host"></label>
          <input formControlName="host" id="host" class="form-control" />
          <val-errors controlName="host" />
        </div>
      </div>

      <!-- Accept unauthorized -->
      <div class="col-6">
        <div class="form-group">
          <div class="form-check form-switch padded">
            <input formControlName="acceptUnauthorized" id="accept-unauthorized" type="checkbox" class="form-check-input" />
            <label class="form-check-label" for="accept-unauthorized" translate="oia-module.registration.accept-unauthorized"></label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Use proxy -->
      <div class="col">
        <div class="form-group">
          <div class="form-check form-switch padded">
            <input formControlName="useProxy" id="use-proxy" type="checkbox" class="form-check-input" />
            <label class="form-check-label" for="use-proxy" translate="oia-module.registration.use-proxy"></label>
          </div>
        </div>
      </div>
    </div>

    @if (form.controls.useProxy.value) {
      <div class="row">
        <!-- Proxy URL -->
        <div class="col-6">
          <div class="form-group">
            <label class="form-label" for="proxy-url" translate="oia-module.registration.proxy-url"></label>
            <input formControlName="proxyUrl" id="proxy-url" class="form-control" />
            <val-errors controlName="proxyUrl" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="form-label" for="proxy-username" translate="oia-module.registration.proxy-username"></label>
            <input formControlName="proxyUsername" id="proxy-username" class="form-control" />
            <val-errors controlName="proxyUsername" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label class="form-label" for="proxy-password" translate="oia-module.registration.proxy-password"></label>
            <input type="password" formControlName="proxyPassword" id="proxy-password" class="form-control" />
            <val-errors controlName="proxyPassword" />
          </div>
        </div>
      </div>
    }
  </form>
</div>
<div class="modal-footer">
  <div class="btn-group">
    <oib-save-button [state]="state" translationKey="oia-module.registration.register" />
    <button type="button" class="btn btn-cancel" (click)="cancel()" translate="common.cancel" id="cancel-button"></button>
  </div>
</div>
