<div class="oib-padded-container">
  <div class="oib-header-container">
    <div class="row mb-2">
      <div class="col d-flex">
        <div class="oib-block-title">
          <img class="oib-title-image pt-2" src="../assets/home/logs.svg" />
        </div>
        <h1 class="oib-title">{{ 'logs.title' | translate }}</h1>
      </div>
    </div>
    <div>
      <form class="px-3 mb-4 oib-search-form" id="logs-form" [formGroup]="searchForm" (ngSubmit)="triggerSearch()">
        <div class="row gx-2 py-3">
          <label class="col-auto col-form-label"><i class="fa fa-search fa-lg"></i></label>
          <label for="start" class="col-auto col-form-label" translate="logs.search.start"></label>
          <div class="col">
            <oib-datetimepicker formControlName="start" id="start"></oib-datetimepicker>
          </div>
          <label for="end" class="col-auto col-form-label" translate="logs.search.end"></label>
          <div class="col">
            <oib-datetimepicker formControlName="end" id="end"></oib-datetimepicker>
            <val-errors [control]="searchForm"></val-errors>
          </div>
          <label for="levels" class="col-auto col-form-label" translate="logs.search.levels"></label>
          <div class="col-1">
            <oib-multi-select formControlName="levels" id="levels">
              <oib-multi-select-option
                *ngFor="let level of levels"
                [value]="level"
                [label]="level | logLevelsEnum"
              ></oib-multi-select-option>
            </oib-multi-select>
          </div>

          <label for="scope-types" class="col-auto col-form-label" translate="logs.search.scope-type"></label>
          <div class="col-2">
            <oib-multi-select formControlName="scopeTypes" id="scope-types">
              <oib-multi-select-option
                *ngFor="let scopeType of scopeTypes"
                [value]="scopeType"
                [label]="scopeType | scopeTypesEnum"
              ></oib-multi-select-option>
            </oib-multi-select>
          </div>
        </div>
        <div class="row gx-2 py-3">
          <label for="message-content" class="col-auto col-form-label" translate="logs.search.message-content"></label>
          <div class="col-8">
            <input type="text" class="form-control" id="message-content" formControlName="messageContent" />
          </div>
          <div class="col">
            <button class="btn btn-primary pull-right" id="search-button" [disabled]="loading">
              <span *ngIf="loading" class="fa fa-spin fa-spinner"></span>
              <span *ngIf="!loading" translate="common.search"></span>
            </button>
          </div>
        </div>
      </form>

      <div class="d-flex pull-right mb-2" *ngIf="logs?.totalElements">
        <div [class]="logs.totalPages > 1 ? 'ms-2' : ''">
          <oib-pagination [page]="logs" [navigate]="true"></oib-pagination>
        </div>
      </div>
      <div class="table-container" *ngIf="logs.totalElements !== 0; else empty">
        <table class="table table-sm table-hover oib-table-logs">
          <thead>
            <tr>
              <th translate="logs.date"></th>
              <th translate="logs.level"></th>
              <th translate="logs.scope-type" style="width: 6%"></th>
              <th translate="logs.scope" style="width: 4%"></th>
              <th translate="logs.message"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="data" *ngFor="let log of logs.content">
              <td class="text-nowrap">{{ log.timestamp | datetime:'mediumWithSeconds'}}</td>
              <td>
                <span [class]="'level-badge ' + log.level.toLowerCase()">{{ log.level | logLevelsEnum }}</span>
              </td>
              <td>{{ log.scopeType | scopeTypesEnum }}</td>
              <td>{{ log.scopeName }}</td>
              <td class="text-break">{{ log.message }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #empty>
        <div class="oi-details empty" translate="logs.none"></div>
      </ng-template>
    </div>
  </div>
</div>
