<div
  ngbDropdown
  autoClose="outside"
  container="body"
  [placement]="['bottom-left', 'top-left']"
  (openChange)="openChanged($event, button)"
  #dropdown="ngbDropdown"
>
  <button
    #button
    type="button"
    [disabled]="disabled"
    (blur)="touched()"
    class="form-select"
    [class.form-select-sm]="isSmall"
    ngbDropdownToggle
  >
    @if (selectedLabels) {
      <span>{{ selectedLabels }}</span>
    } @else {
      <span class="placeholder">{{ placeholder }}</span>
    }
  </button>
  <div ngbDropdownMenu (keyup.esc)="dropdown.close(); $event.stopPropagation()">
    @for (option of options; track option) {
      <button
        type="button"
        ngbDropdownItem
        (click)="toggle(option)"
        [class.selected]="isSelected(option)"
        (keydown.esc)="$event.stopPropagation()"
      >
        <div class="d-flex">
          <div class="flex-grow-1 me-3">{{ option.label }}</div>
          <div class="fa-fw">
            @if (isSelected(option)) {
              <span class="fa fa-check"></span>
            }
          </div>
        </div>
      </button>
    }
  </div>
</div>
