<oib-box>
  <ng-template oibBoxTitle>
    <div class="d-flex justify-content-between">
      @switch (cacheType()) {
        @case ('cache') {
          <span translate="north.caching.cache-content"></span>
        }
        @case ('error') {
          <span translate="north.caching.error-content"></span>
        }
        @case ('archive') {
          <span translate="north.caching.archive-content"></span>
        }
      }
      @if (cacheContentFiles.length !== 0) {
        <div>
          @switch (cacheType()) {
            @case ('cache') {
              <button
                type="button"
                class="btn btn-secondary btn-sm oib-box-btn"
                (click)="moveCacheContent('error')"
                [disabled]="isActionRunning()"
                translate="north.caching.error-selected-content"
                id="error-selected-content"
              ></button
              ><button
                type="button"
                class="btn btn-secondary btn-sm oib-box-btn"
                (click)="moveCacheContent('archive')"
                [disabled]="isActionRunning()"
                translate="north.caching.archive-selected-content"
                id="archive-selected-content"
              ></button>
            }
            @case ('error') {
              <button
                type="button"
                class="btn btn-secondary btn-sm oib-box-btn"
                (click)="moveCacheContent('cache')"
                [disabled]="isActionRunning()"
                translate="north.caching.retry-selected-content"
                id="retry-selected-error-content"
              ></button>
              <button
                type="button"
                class="btn btn-secondary btn-sm oib-box-btn"
                (click)="moveCacheContent('archive')"
                [disabled]="isActionRunning()"
                translate="north.caching.archive-selected-content"
                id="archive-selected-error-content"
              ></button>
            }
            @case ('archive') {
              <button
                type="button"
                class="btn btn-secondary btn-sm oib-box-btn"
                (click)="moveCacheContent('cache')"
                [disabled]="isActionRunning()"
                translate="north.caching.replay-selected-content"
                id="retry-selected-archive-content"
              ></button>
            }
          }

          <button
            type="button"
            class="btn btn-danger btn-sm oib-box-btn"
            (click)="removeCacheContent()"
            [disabled]="isActionRunning()"
            translate="north.caching.remove-selected-content"
            id="remove-selected-files"
          ></button>
        </div>
      }
    </div>
  </ng-template>

  @if (cacheContentFiles.length !== 0) {
    <oib-file-table
      #fileTable
      [cacheType]="cacheType()"
      [files]="cacheContentFiles"
      [isActionRunning]="isActionRunning()"
      (itemAction)="onItemAction($event)"
      (selectedFiles)="selectedFiles.set($event)"
    />
  } @else {
    @switch (cacheType()) {
      @case ('cache') {
        <div>
          <div class="mb-3 oib-grey-container" translate="north.caching.cache-content-none"></div>
        </div>
      }
      @case ('error') {
        <div>
          <div class="mb-3 oib-grey-container" translate="north.caching.error-content-none"></div>
        </div>
      }
      @case ('archive') {
        <div>
          <div class="mb-3 oib-grey-container" translate="north.caching.archive-content-none"></div>
        </div>
      }
    }
  }
</oib-box>
