<div class="row">
  <div class="col-4">
    <div class="form-group">
      <label class="form-label" [for]="'oib-auth-type-input-' + key">{{ 'authentication.title' | translate }}</label>
      <select [formControl]="authCtrl.controls.type" [id]="'oib-auth-type-input-' + key" class="form-select mb-2 mr-sm-2">
        <option *ngFor="let auth of authTypes" [ngValue]="auth">{{ auth | authTypesEnum }}</option>
      </select>
    </div>
  </div>
  <!-- basic authentication -->
  <div class="col-4" *ngIf="authCtrl.controls.type.value === 'basic'">
    <div class="form-group">
      <label class="form-label" [for]="'oib-auth-username-input-' + key"> {{ 'authentication.username' | translate }} </label>
      <input [formControl]="authCtrl.controls.username" [id]="'oib-auth-username-input-' + key" class="form-control" />
    </div>
  </div>
  <div class="col-4" *ngIf="authCtrl.controls.type.value === 'basic'">
    <div class="form-group">
      <label class="form-label" [for]="'oib-auth-password-input-' + key"> {{ 'authentication.password' | translate }} </label>
      <input [formControl]="authCtrl.controls.password" [id]="'oib-auth-password-input-' + key" type="password" class="form-control" />
    </div>
  </div>
  <!-- token -->
  <div class="col-8" *ngIf="authCtrl.controls.type.value === 'bearer'">
    <div class="form-group">
      <label class="form-label" [for]="'oib-auth-token-input-' + key"> {{ 'authentication.token' | translate }} </label>
      <input [formControl]="authCtrl.controls.token" [id]="'oib-auth-token-input-' + key" type="password" class="form-control" />
    </div>
  </div>
  <!-- api key -->
  <div class="col-4" *ngIf="authCtrl.controls.type.value === 'api-key'">
    <div class="form-group">
      <label class="form-label" [for]="'oib-auth-api-key-input-' + key"> {{ 'authentication.api-key' | translate }} </label>
      <input [formControl]="authCtrl.controls.key" [id]="'oib-auth-api-key-input-' + key" class="form-control" />
    </div>
  </div>
  <div class="col-4" *ngIf="authCtrl.controls.type.value === 'api-key'">
    <div class="form-group">
      <label class="form-label" [for]="'oib-auth-api-secret-input-' + key">{{ 'authentication.secret' | translate }}</label>
      <input [formControl]="authCtrl.controls.secret" [id]="'oib-auth-api-secret-input-' + key" type="password" class="form-control" />
    </div>
  </div>
  <!-- certificate -->
  <div class="col-4" *ngIf="authCtrl.controls.type.value === 'cert'">
    <div class="form-group">
      <label class="form-label" [for]="'oib-auth-cert-path-input-' + key"> {{ 'authentication.cert-path' | translate }} </label>
      <input [formControl]="authCtrl.controls.certPath" [id]="'oib-auth-cert-path-input-' + key" class="form-control" />
    </div>
  </div>
  <div class="col-4" *ngIf="authCtrl.controls.type.value === 'cert'">
    <div class="form-group">
      <label class="form-label" [for]="'oib-auth-key-path-input-' + key"> {{ 'authentication.key-path' | translate }} </label>
      <input [formControl]="authCtrl.controls.keyPath" [id]="'oib-auth-key-path-input-' + key" class="form-control" />
    </div>
  </div>
</div>
