<div class="form-group">
  <label>{{ 'authentication.title' | translate }}</label>
  <select [formControl]="authCtrl.controls.type" [id]="'oib-auth-type-input-' + key" class="form-select mb-2 mr-sm-2">
    <option *ngFor="let auth of authTypes" [ngValue]="auth">{{ auth | authTypesEnum }}</option>
  </select>
  <label *ngIf="authCtrl.controls.type.value === 'basic'" [for]="'oib-auth-key-input-' + key"
    >{{ 'authentication.username' | translate }}</label
  >
  <label *ngIf="authCtrl.controls.type.value === 'api-key'" [for]="'oib-auth-key-input-' + key"
    >{{ 'authentication.key' | translate }}</label
  >
  <label *ngIf="authCtrl.controls.type.value === 'bearer'" [for]="'oib-auth-key-input-' + key"
    >{{ 'authentication.bearer' | translate }}</label
  >
  <input
    *ngIf="authCtrl.controls.type.value === 'basic' || authCtrl.controls.type.value === 'bearer' || authCtrl.controls.type.value === 'api-key'"
    [formControl]="authCtrl.controls.key"
    [id]="'oib-auth-key-input-' + key"
    class="form-control"
  />

  <label *ngIf="authCtrl.controls.type.value === 'basic'" [for]="'oib-auth-secret-input-' + key"
    >{{ 'authentication.password' | translate }}</label
  >
  <label *ngIf="authCtrl.controls.type.value === 'api-key'" [for]="'oib-auth-secret-input-' + key"
    >{{ 'authentication.secret' | translate }}</label
  >
  <input
    *ngIf="authCtrl.controls.type.value === 'basic' || authCtrl.controls.type.value === 'api-key'"
    [formControl]="authCtrl.controls.secret"
    [id]="'oib-auth-secret-input-' + key"
    class="form-control"
  />
</div>
