<span
  class="badge rounded-pill me-1 mt-3 ps-3"
  [class.pe-3]="!removable"
  [class.badge-primary]="type === 'primary'"
  [class.badge-secondary]="type === 'secondary'"
  [tabindex]="removable ? 0 : -1"
  (keydown.backspace)="remove()"
>
  <div class="d-flex align-items-center">
    <ng-content></ng-content>
    <button *ngIf="removable" tabindex="-1" type="button" class="btn btn-link py-0 my-0 px-1 text-white" (click)="remove()">
      <span class="fa fa-remove"></span>
    </button>
  </div>
</span>
