.checkbox-column {
  width: 50px;
  text-align: center;
}

.status-column {
  width: 6rem;
  text-align: center;
}

.group-column {
  width: 14rem;
}

.actions-column {
  width: 8rem;
}

.sort-button {
  background: none;
  border: none;
  font-weight: bold;
}

.item-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
