<div class="oib-padded-container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8" *ngIf="manifest && southForm">
      <h1 [translate]="'south.' + mode + '-title'" [translateParams]="{ type: southType }"></h1>

      <form [formGroup]="southForm" (ngSubmit)="submit('save')" id="south-form" class="mt-3">
        <!-- General settings -->
        <oib-box boxTitle="south.general-settings">
          <div class="row">
            <!-- Name -->
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="south-name" translate="south.name"></label>
                <input formControlName="name" id="south-name" class="form-control" />
                <val-errors controlName="name"></val-errors>
              </div>
            </div>

            <!-- Description -->
            <div class="col-5">
              <div class="form-group">
                <label class="form-label" for="south-description" translate="south.description"></label>
                <input formControlName="description" id="south-description" class="form-control" />
              </div>
            </div>

            <!-- Enabled -->
            <div class="col-3">
              <div class="form-group">
                <div class="form-check form-switch padded">
                  <input formControlName="enabled" id="south-enabled" type="checkbox" class="form-check-input" />
                  <label class="form-check-label" for="south-enabled" translate="south.enabled"></label>
                </div>
              </div>
            </div>
          </div>
        </oib-box>

        <!-- History settings -->
        <oib-box *ngIf="manifest.modes.history" formGroupName="history">
          <ng-template oibBoxTitle>
            <span translate="south.history.settings" [translateParams]="{ type: southType }" id="history-settings-title"></span>
          </ng-template>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="south-max-read-interval" translate="south.history.max-read-interval"></label>
                <div class="input-group">
                  <input formControlName="maxReadInterval" id="south-max-read-interval" type="number" class="form-control" />
                  <span class="input-group-text" translate="common.unit.s"></span>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="south-read-delay" translate="south.history.read-delay"></label>
                <div class="input-group">
                  <input formControlName="readDelay" id="south-read-delay" type="number" class="form-control" />
                  <span class="input-group-text" translate="common.unit.ms"></span>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <div class="form-check form-switch padded">
                  <input formControlName="maxInstantPerItem" id="south-max-instant-per-item" type="checkbox" class="form-check-input" />
                  <label class="form-check-label" for="south-max-instant-per-item" translate="south.history.max-instant-per-item"></label>
                </div>
              </div>
            </div>
          </div>
        </oib-box>

        <!-- Specific settings -->
        <oib-box>
          <ng-template oibBoxTitle>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <span translate="south.specific-settings" [translateParams]="{ type: manifest.name }" id="specific-settings-title"></span>
              </div>
              <div>
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  id="test-connection"
                  (click)="southForm.markAllAsTouched(); submit('test')"
                >
                  <span class="fa fa-link"></span>
                </button>
              </div>
            </div>
          </ng-template>

          <oib-form
            *ngIf="southSettingsControls.length > 0"
            formGroupName="settings"
            [formGroup]="southForm.controls.settings"
            [settingsSchema]="southSettingsControls"
            [scanModes]="scanModes"
            [proxies]="proxies"
          ></oib-form>
        </oib-box>

        <!-- items -->
        <oib-south-items
          [southConnector]="southConnector"
          [southConnectorItemSchema]="manifest.items"
          [scanModes]="scanModes"
        ></oib-south-items>
      </form>
      <div id="actions" class="mt-2 d-flex justify-content-end">
        <div class="btn-group">
          <oib-save-button form="south-form" [state]="state"></oib-save-button>
          <button
            *ngIf="!southConnector"
            class="btn btn-cancel"
            translate="common.cancel"
            id="cancel-create-button"
            routerLink="/south"
          ></button>
          <button *ngIf="southConnector" class="btn btn-cancel" translate="common.cancel" id="cancel-edit-button" oibBackButton></button>
        </div>
      </div>
    </div>
  </div>
</div>
