$blue: #86a2b2;
$electricBlue: #009ee0;
$yellow: #fabb00;
$orange: #ffd65d;
$lightOrange: #ffde7d;
$veryLightGrey: #f1f4f8;
$lightGrey: #e1e8ec;
$mediumGrey: #d2dce2;
$darkGrey: #2c3c45;
$new-link-color: #5b7c8f;

$orange: #f5bb51;
$lightOrange: #ffdb81;
$selectedColor: $lightOrange;
$simpleLinkColor: $darkGrey;
$simpleLinkHoverColor: $orange;

$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-color: #333333;
$link-color: #627187;
$link-decoration: none;
$link-hover-color: $orange;
$link-hover-decoration: none;
$toast-font-size: inherit;

$enable-validation-icons: false;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
