html {
  // this sets the value of one rem, and is thus the base of all the relative sizings of Bootstrap:
  // text, buttons, inputs, etc. are all sized relative to this unit.
  font-size: 12px;
}

$fa-font-path: '../fonts';

@import 'font-awesome/scss/font-awesome';
@import './custom-bootstrap';

:root {
  --menu-background-color: #323e48;
  --menu-active-color: #f5bb51;
  --menu-height: 35px;
}

.oib-padded-container {
  padding-left: 2rem;
  padding-right: 2rem;

  h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
  }
}

.oib-header-container {
  height: 4rem;
}

.oib-search-form {
  background-color: $veryLightGrey;
  border-radius: 1rem;
}

.oib-grey-container {
  background-color: $lightGrey;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid $mediumGrey;
}

.oib-inner-form {
  @extend .mb-3;
  padding: 15px;
  border: 1px solid #d1d5da;
  border-radius: 6px;
}

.oib-table {
  thead {
    color: white;
    background-color: $darkGrey;

    &.light {
      color: $darkGrey;
      background-color: white;
    }

    th {
      padding-left: 1rem;
      border-style: none;
    }

    th:first-child {
      border-top-left-radius: 10px;
    }

    th:last-child {
      border-top-right-radius: 10px;
    }

    .light {
      background-color: $white;
    }
  }

  tbody {
    td {
      padding-left: 1rem;
    }

    tr {
      .btn {
        color: $blue;
      }

      &:hover {
        .btn {
          color: $darkGrey;

          &:hover {
            color: $yellow;
          }
        }
      }
    }

    tr:nth-child(even) {
      background-color: $white;

      &:hover {
        background-color: $mediumGrey;
      }
    }

    tr:nth-child(odd) {
      background-color: $veryLightGrey;

      &:hover {
        background-color: $mediumGrey;
      }
    }
  }
}

.oib-box-title {
  background-color: $darkGrey;
  color: $white;
  padding: 0.3rem 0.75rem;
  font-weight: bold;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  .btn-primary {
    margin-right: 0.75rem;
  }

  .btn-link {
    color: $white;
    padding: 0 0.75rem;

    &:hover {
      color: $yellow;
    }
  }
}

.oib-box-content {
  padding: 0.3rem 0.75rem;
}

// override of some bootstrap styles to better fit Optimistik branding
.btn-primary {
  border-radius: 0.5rem;
  border: none;
  color: $white;
  background-color: $electricBlue;

  &:focus:not(hover) {
    background-color: $electricBlue;
    color: $white;
  }

  &:hover {
    border-radius: 0.5rem;
    border: none;
    background-color: $yellow !important;
    color: $darkGrey;
  }
}

.btn-cancel {
  @extend .btn-primary;
  background-color: $blue !important;

  &:hover {
    background-color: $yellow;
  }
}

.btn-danger {
  @extend .btn-primary;
  background-color: $red;
}

.form-group {
  margin-bottom: 1rem;
}

// override inputs and other form controls components
input.form-control {
  border-radius: 1rem;
  background-color: $veryLightGrey;
  border: none;
}

// override text area
textarea.form-control {
  border-radius: 1rem;
  background-color: $veryLightGrey;
  border: none;
}

// when embedded in search form or box title or modal body we don't want input to be grey as the search form
// is already colored
.oib-search-form {
  input.form-control {
    background-color: $white !important;
  }
  .form-select {
    background-color: $white !important;
  }
}

.oib-box-title {
  input.form-control {
    background-color: $white !important;
  }
}

.input-group-text {
  border-radius: 1rem;
  border: none;
}

.form-select {
  border-radius: 1rem;
  background-color: $veryLightGrey;
  border: none;
}

// this is a customization of bootstrap switch to match Optimistik color scheme
.form-switch {
  &.padded {
    padding-top: 2.3rem;
  }

  .form-check-input {
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='rgba(40,60,69,1.0)'/></svg>") !important;

    &:not(checked) {
      background-color: $blue;
    }

    &:focus:checked &:checked {
      background-color: $yellow;
    }
  }
}

.form-switch .form-check-input:checked {
  border: none;
  background-color: $yellow;
}

label {
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
}

label.col-form-label {
  font-size: 0.9rem; // .col-form-label is bigger than our default labels
}

label.form-check-label {
  font-size: 1rem;
  font-weight: normal;
}

// customization of modal colors
.modal-body {
  background-color: $white !important;
}

.modal-footer {
  background-color: $white !important;
}

// This targets the errors that appear inside the val-errors component.
// Since errors occupy some vertical space, clicking on a button such as a cancel button which comes after a focused
// invalid control misses the button, because the click is done after the blur of the invalid control, which makes the
// error appear and the button move down before the click.
// So, in order to avoid this bug, we set the display of errors to none, and rely on the directive val-error-delay
// to set the display to block after a small delay, allowing the click to reach its target.
val-errors > div {
  display: none;
  animation: opacity-in 600ms ease-out;
}

.invalid-feedback {
  display: block;
}

@keyframes opacity-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-content {
  background-color: transparent;

  .modal-header {
    background-color: $darkGrey;
    border-bottom: 1px solid $darkGrey;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .modal-title {
      font-size: 1.1rem;
    }
  }

  .modal-body,
  .modal-footer {
    background-color: $lightGrey;
  }
}

.btn-group {
  .btn:not(:last-child) {
    border-right-color: white;
  }

  .btn:not(:first-child) {
    border-left-color: white;
  }
}

// override of bootstrap page styles
.page-item {
  border: none;
  padding-left: 0.7rem;
}

.page-link {
  color: $darkGrey;
  background-color: $veryLightGrey;
  border: none;
  border-radius: 0.3rem;

  &:hover {
    color: $white;
    background-color: $yellow;
  }
}

.page-item.disabled {
  .page-link {
    background-color: $veryLightGrey;
  }
}

.page-item.active {
  .page-link {
    background-color: $electricBlue;
  }
}
