html {
  // this sets the value of one rem, and is thus the base of all the relative sizings of Bootstrap:
  // text, buttons, inputs, etc. are all sized relative to this unit.
  font-size: 12px;
}

// TODO use the SCSS import when https://github.com/angular/angular-cli/issues/26339 is fixed
// $fa-font-path: '../fonts';
// @import 'font-awesome/scss/font-awesome';

@import 'font-awesome/css/font-awesome';
@import './custom-bootstrap';

:root {
  --menu-background-color: #323e48;
  --menu-active-color: #f5bb51;
  --menu-height: 35px;
}

.oib-modal-content-list {
  background-color: $veryLightGrey;
  border-radius: 1rem;
  width: 100%;
  height: 90%;
  color: $darkGrey;
  padding: 1rem;
}

.oib-modal-container-list:hover {
  .oib-modal-content-list:hover {
    background-color: $orange;
    color: $darkGrey;
  }
}

.module-button {
  border: none;
  width: 100%;
  padding: 10px;
  background-color: $lightGrey;
  // becomes darker on hover
  &:hover {
    background-color: $mediumGrey;
  }
  &:active,
  &:focus,
  &:default {
    box-shadow: none;
  }
}

.oib-modal-category-image {
  height: 3rem;
  transform: translate(0%, 30%);
}

.oib-modal-image-block {
  text-align: center;
  color: $white;
  border-radius: 12px;
  background-color: $darkGrey;
  width: 5rem;
  height: 5rem;
}

.oib-block-title {
  text-align: center;
  color: $white;
  border-radius: 1rem;
  background-color: $darkGrey;
  width: 4rem;
  height: 3rem;
}

img.oib-title-image {
  height: 2.5rem;
}

// container of the page title
.oib-title-container {
  display: flex;
  color: $darkGrey;
}

.oib-title {
  margin-top: 0.4rem;
  margin-left: 1rem;
}

img.oib-image-header {
  height: 1rem;
  margin-right: 0.3rem;
}

.oib-box-btn {
  padding-bottom: 0.2rem;
}

.box {
  .alert-warning {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

// customization of the button of datepicker
.datepicker-toggle {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: $yellow;
  color: $darkGrey;
  border: 0;
  &:hover {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: $electricBlue;
    color: $white;
    border: 0;
  }
}
// change to yellow when hover a day in the ngb-datepicker
.dropdown-menu.show {
  .btn-light {
    color: $darkGrey;
  }
  .btn-light:hover {
    background-color: $yellow;
  }
  .btn-light:active,
  .bg-primary {
    background-color: $electricBlue;
    color: white;
  }
  .bg-primary {
    background-color: $electricBlue;
    color: white;
  }
}
.ngb-dp-weekday.small {
  color: $electricBlue;
}

// container of the page + padding
.oib-padded-container {
  padding-left: 2rem;
  padding-right: 2rem;

  h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
  }
}

// container of the page title
.oib-header-container {
  height: 4rem;
}

// search bar form
.oib-search-form {
  background-color: $veryLightGrey;
  border-radius: 1rem;
}

// display of grey empty field under a oib-box-title
.oib-grey-container {
  background-color: $lightGrey;
  padding: 0.375rem 0.75rem;
  border: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

// display of grey alone empty field
.oib-grey-container.empty {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.oib-inner-form {
  @extend .mb-3;
  padding: 15px;
  border: 0 solid;
  border-radius: 6px;
}

.oib-table {
  :not(caption) > * > * {
    border-bottom-width: 0;
  }
  --bs-table-bg: $white;
  --bs-table-color: $white;
  // table header
  thead {
    color: $white;
    background-color: $darkGrey;
    // alternative case
    &.light {
      color: $darkGrey;
      background-color: white;
    }
    // case of table header
    th {
      padding-left: 1rem;
      border-style: none;
        .btn {
          padding-right: 0;
        }
    }
    // first case of the first line
    th:first-child {
      border-top-left-radius: 1rem;
      width: 3rem;
    }
    // last case of the first line
    th:last-child {
      border-top-right-radius: 1rem;
      width: 9rem;
    }
    // alternative case if oib-box-title is on top of table
    .light {
      background-color: $white;
    }
  }
  // body of the table
  tbody {
    padding: 0;
    // case of table
    td {
      vertical-align: middle;
      padding-left: 1rem;
      border-bottom-width: 0;
      text-overflow: clip;
      overflow: hidden;
      white-space: nowrap;
    }
    // line
    tr {
      // color of button in table in line
      .btn {
        color: $blue;
      }
      // hover settings
      &:hover {
        // color of button in line when hover the line
        .btn {
          color: $darkGrey;
          // color of button when hover it
          &:hover {
            color: $yellow;
          }
        }
      }
      td:last-child {
        text-align: right;
        padding-right: 1em;
        overflow: visible;
      }
    }
    // customised colours on the lines (one out of two)
    tr:nth-child(even) {
      background-color: $white;
      // changes color when hover
      &:hover {
        background-color: $mediumGrey;
      }
    }
    // customised colours on the lines (one out of two)
    tr:nth-child(odd) {
      background-color: $veryLightGrey;
      // changes color when hover
      &:hover {
        background-color: $mediumGrey;
      }
    }
  }
}

// darkGrey container for title
.oib-box-title {
  background-color: $darkGrey;
  color: $white;
  padding: 0.3rem 0.75rem;
  font-weight: bold;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  // style in oib-box-title of primary button
  .btn-primary, .btn-secondary, .btn-danger {
    margin-right: 0.75rem;
  }
  .btn-primary, .btn-primary:focus {
    border-radius: 0.5rem;
    color: $white;
    background-color: transparent;
    border: none;
    outline: 2px solid $electricBlue;
    outline-offset: -2px;
      &:hover {
        border-radius: 0.5rem;
        background-color: $electricBlue;
        color: $white;
    }
  }
  .btn-secondary, .btn-secondary:focus {
    border-radius: 0.5rem;
    color: $white;
    background-color: transparent;
    border: none;
    outline: 2px solid $yellow;
    outline-offset: -2px;
      &:hover, &:active {
        border-radius: 0.5rem;
        background-color: $yellow;
        color: $darkGrey;
    }
  }
  .btn-danger, .btn-danger:focus {
    border-radius: 0.5rem;
    color: $white;
    background-color: transparent;
    border: none;
    outline: 2px solid $red;
    outline-offset: -2px;
      &:hover {
        border-radius: 0.5rem;
        background-color: $red;
        color: $white;
    }
  }
  .btn:disabled, .btn.disabled, fieldset:disabled .btn {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    outline: 2px solid $red;
    outline-offset: -2px;
    opacity: 0.4;
  }
}
// style in oib-box-title of link button
.btn-link {
  color: $white;
  padding: 0 0.75rem;
  // style in oib-box-title of link button when hover
  &:hover {
    color: $yellow;
  }
}

// container for title (head of the box)
.oib-box-title {
  input.form-control {
    background-color: $white !important;
  }
}

.oib-box-input-header {
  width: 20rem;
  height: 1.5rem;
}

// override of some bootstrap styles to better fit Optimistik branding
.btn-primary {
  border-radius: 0.5rem;
  border: none;
  color: $white;
  background-color: $electricBlue;

  &:focus:not(hover) {
    background-color: $electricBlue;
    color: $white;
  }

  &:hover {
    border-radius: 0.5rem;
    border: none;
    background-color: $yellow;
    color: $darkGrey;
  }
}

// override of some bootstrap styles to better fit Optimistik branding
.btn-secondary {
  border-radius: 0.5rem;
  color: $white;
  background-color: $yellow;
  border: none;
    &:hover, &:active {
      border-radius: 0.5rem;
      background-color: $blue;
      color: $darkGrey;
  }
}

// override of some bootstrap styles to better fit Optimistik branding
.btn-cancel {
  border-radius: 0.5rem;
  border: none;
  color: $white;
  background-color: $blue;
  &:hover {
    background-color: $yellow;
  }
}
.btn-cancel-edit {
  height: 27px;
  border-radius: 0.5rem;
  border: none;
  color: $white;
  background-color: $blue;
    &:hover {
      background-color: $yellow;
  }
}
// override of some bootstrap styles to better fit Optimistik branding
.btn-danger {
  border-radius: 0.5rem;
  border: none;
  color: $white;
  background-color: $red;
}

btn.disable {
  background-color: $blue;
}

// margin for better readability
.form-group {
  margin-bottom: 1rem;
}

// override inputs and other form controls components
input.form-control {
  border-radius: 1rem;
  background-color: $veryLightGrey;
}

// override text area
textarea.form-control {
  border-radius: 1rem;
  background-color: $veryLightGrey;
}

// when embedded in search form or box title or modal body we don't want input to be grey as the search form
// is already colored
.oib-search-form {
  input.form-control {
    background-color: $white !important;
  }
  .form-select {
    background-color: $white !important;
  }
}

.input-group-text {
  border-radius: 1rem;
}

.form-select {
  border-radius: 1rem;
  background-color: $veryLightGrey;
}

// this is a customization of bootstrap switch to match Optimistik color scheme
.form-switch {
  &.padded {
    padding-top: 2.3rem;
  }

  .form-check-input {
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='rgba(40,60,69,1.0)'/></svg>") !important;

    &:not(checked) {
      background-color: $blue;
    }

    &:focus:checked &:checked {
      background-color: $yellow;
    }
  }
}

.form-switch .form-check-input:checked {
  border: none;
  background-color: $yellow;
}

label {
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
}

label.col-form-label {
  font-size: 0.9rem; // .col-form-label is bigger than our default labels
}

label.form-check-label {
  font-size: 1rem; // .form-check-label is bigger than our default labels
  font-weight: normal;
}

// This targets the errors that appear inside the val-errors component.
// Since errors occupy some vertical space, clicking on a button such as a cancel button which comes after a focused
// invalid control misses the button, because the click is done after the blur of the invalid control, which makes the
// error appear and the button move down before the click.
// So, in order to avoid this bug, we set the display of errors to none, and rely on the directive val-error-delay
// to set the display to block after a small delay, allowing the click to reach its target.
val-errors > div {
  display: none;
  animation: opacity-in 600ms ease-out;
}

.invalid-feedback {
  display: block;
}

@keyframes opacity-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
// customization of modal colors
.modal-body {
  background-color: $white !important;
}
// customization of modal footer colors
.modal-footer {
  background-color: $white !important;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 0;
}
// customization of modal content colors
.modal-content {
  background-color: transparent;
  border: 0;
  // customization of modal header colors in modal content
  .modal-header {
    background-color: $darkGrey;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    // customization of modal title font size in modal content
    .modal-title {
      font-size: 1.1rem;
    }
  }

  .modal-body,
  .modal-footer {
    background-color: $lightGrey;
  }
}

// centered position of flex items in a modal
.modal-container-list {
  display: flex;
  align-items: center;
}

// Suppression of border on not-first and not-last child of btn-group
.btn-group {
  .btn:not(:last-child) {
    border-right-color: white;
  }
  .btn:not(:first-child) {
    border-left-color: white;
  }
}

// custom pagination system to fit better with the optimistik branding
// override of bootstrap page styles
// style of page number
.page-link {
  color: $darkGrey;
  background-color: $veryLightGrey;
  border: none;
  border-radius: 0.5rem;
  // the page number changes color on hover
  &:hover {
    color: $white;
    background-color: $yellow;
  }
}

// arrow to navigate
.page-item {
  border: none;
  padding-left: 0.7rem;
}

// arrow to navigate (disable)
.page-item.disabled {
  .page-link {
    background-color: $veryLightGrey;
  }
}

// arrow to navigate (active)
.page-item.active {
  .page-link {
    background-color: $electricBlue;
  }
}

// arrow to express an interval in History Query
.oib-fa-arrow {
  color: $darkGrey;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

// Dot to express the status of a connector North/south & historyQuery & logs
// Active & Running & Info
.green-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: $green;
  margin-top: auto;
  margin-bottom: auto;
}

// Aborted & Error
.red-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: $danger;
  margin-top: auto;
  margin-bottom: auto;
}

// Pause & Warning
.yellow-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: $yellow;
  margin-top: auto;
  margin-bottom: auto;
}

// Finished & Debug
.blue-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #2478be;
  margin-top: auto;
  margin-bottom: auto;
}

// Disabled & Pending & trace
.grey-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: $blue;
  margin-top: auto;
  margin-bottom: auto;
}

.text-disabled {
  color: $blue;
}

.save-zone {
  box-sizing: content-box;
  border-radius: 1rem;
  //background-color: $lightGrey;
  border: solid $lightGrey;
    padding-bottom: 1em;
  .box {
    margin-top: -2px;
    margin-right: -2px;
    margin-left: -2px;
  }
}

