@import '../../../common.scss';

:host {
  .d-flex {
    align-items: center;
  }

  ngb-timepicker {
    min-width: 120px;

    .ngb-tp-input-container {
      .form-control {
        height: 38px; // Match Bootstrap form-control height
        font-size: 0.875rem;
      }
    }
  }
}
