<div class="modal-header">
  <h4 class="modal-title" [translate]="'south.edit-item-modal.' + mode + '-title'"></h4>
</div>
@if (southItemRows && form) {
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="save()" id="form">
      <div class="row">
        <div class="col-3">
          <!-- Name -->
          <div class="form-group">
            <label class="form-label" for="name" translate="south.items.name"></label>
            <input formControlName="name" id="name" class="form-control" />
            <val-errors controlName="name"></val-errors>
          </div>
        </div>
        <!-- Enabled -->
        @if (!subscriptionOnly) {
          <div class="col-3">
            <div class="form-group">
              <oib-scan-mode
                [scanModes]="scanModes"
                key="item-scan-mode"
                [label]="'scan-mode.label' | translate"
                formControlName="scanModeId"
                [acceptSubscription]="acceptSubscription"
                [subscriptionOnly]="subscriptionOnly"
              ></oib-scan-mode>
              <val-errors controlName="scanModeId"></val-errors>
            </div>
          </div>
        }
        <!-- Enabled -->
        <div class="col-3">
          <div class="form-group">
            <div class="form-check form-switch padded">
              <input formControlName="enabled" id="item-enabled" type="checkbox" class="form-check-input" />
              <label class="form-check-label" for="item-enabled" translate="south.items.enable"></label>
            </div>
          </div>
        </div>
      </div>
      @if (southItemRows.length > 0) {
        <oib-form
          formGroupName="settings"
          [form]="form.controls.settings"
          [settingsSchema]="southItemRows"
          [scanModes]="scanModes"
        ></oib-form>
      }
      @if (maxInstantPerItem !== null && !maxInstantPerItem) {
        <div>
          <span class="fa fa-warning mx-1" style="color: orange"></span>
          <span translate="south.items.scan-mode-change-warning"></span>
        </div>
      }
    </form>
  </div>
}
<div class="modal-footer">
  <div class="btn-group">
    <oib-save-button form="form" [state]="state"></oib-save-button>
    <button type="button" class="btn btn-cancel" (click)="cancel()" translate="common.cancel" id="cancel-button"></button>
  </div>
</div>
