.oib-header-container {
  h1 {
    .title-container {
      min-width: 0;
      flex: 1 1 auto;

      span {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    button {
      flex-shrink: 0;
    }
  }
}
