<div class="box">
  <div class="oib-box-title d-flex">
    <div class="flex-grow-1 title-container">
      <ng-container *ngIf="titleTemplateRef; else stringTitle">
        <ng-container *ngTemplateOutlet="titleTemplateRef"></ng-container>
      </ng-container>
      <ng-template #stringTitle>
        <img class="oib-image-header" *ngIf="imagePath" [src]="imagePath" alt="Image" />
        {{ boxTitle | translate }}
      </ng-template>
      <oib-help class="pull-right" *ngIf="helpUrl" [url]="helpUrl"></oib-help>
    </div>
  </div>
  <div [class]="removePadding ? 'p-0 box-content' : 'px-2 py-1 box-content'" #boxContent>
    <ng-content></ng-content>
  </div>
</div>
