@import '../../../../common.scss';

$containerMinHeight: 30vh;

#testResultContainer {
  min-height: $containerMinHeight;
  outline: solid 1px $mediumGrey;
}

#loading-spinner-container,
#message-container {
  min-height: $containerMinHeight;
}
