<div class="modal-header">
  <h4 class="modal-title" [translate]="'south.edit-item-modal.' + mode + '-title'"></h4>
</div>
@if (form) {
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="save()" id="form">
      <div class="row">
        <!-- Name -->
        <div class="col-3">
          <div class="form-group">
            <label class="form-label" for="name" translate="south.items.name"></label>
            <input formControlName="name" id="name" class="form-control" />
            <val-errors controlName="name" />
          </div>
        </div>
        <!-- Group -->
        @if (southId !== 'create') {
          <div class="col-3">
            <div class="form-group">
              <label for="group" class="form-label" translate="south.items.group"></label>
              <div ngbDropdown class="d-inline-block w-100">
                <button
                  type="button"
                  class="form-select w-100 d-flex justify-content-between align-items-center text-start"
                  id="group"
                  ngbDropdownToggle
                >
                  <span class="text-truncate">{{ getSelectedGroupName() }}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="group" class="w-100">
                  <button type="button" ngbDropdownItem (click)="selectGroup(null)" translate="south.items.group-none"></button>
                  @for (group of groups; track group.id) {
                    <div class="d-flex align-items-center justify-content-between px-2 group-row">
                      <button type="button" ngbDropdownItem (click)="selectGroup(group.id)" class="flex-grow-1 text-start ps-2">
                        {{ group.name }}
                      </button>
                      <div class="d-flex gap-1 pe-2">
                        <button type="button" class="btn btn-sm btn-link p-0 text-primary" (click)="onEditGroup(group, $event)">
                          <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-link p-0 text-danger" (click)="onDeleteGroup(group, $event)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </div>
                  }
                  <div class="dropdown-divider"></div>
                  <button
                    type="button"
                    ngbDropdownItem
                    (click)="selectGroup('__create_new__')"
                    translate="south.items.create-new-group"
                  ></button>
                </div>
              </div>
              <input type="hidden" formControlName="groupId" />
              <val-errors controlName="groupId" />
            </div>
          </div>
        }
        <!-- Scan mode -->
        @if (form.controls.scanMode.enabled) {
          <div class="col-3">
            <div class="form-group">
              <label for="scan-mode" class="form-label" translate="configuration.oibus.manifest.south.items.scan-mode"></label>
              <select class="form-select" id="scan-mode" formControlName="scanMode">
                <option [ngValue]="null"></option>
                @for (scanMode of scanModes; track scanMode.id) {
                  <option [ngValue]="scanMode">{{ scanMode.name }}</option>
                }
              </select>
              <val-errors controlName="scanMode" />
            </div>
          </div>
        }
        <!-- Enabled -->
        <div class="col-3">
          <div class="form-group">
            <div class="form-check form-switch padded">
              <input formControlName="enabled" id="item-enabled" type="checkbox" class="form-check-input" />
              <label class="form-check-label" for="item-enabled" translate="south.items.enabled-label"></label>
            </div>
          </div>
        </div>
      </div>
      <ng-container formGroupName="settings">
        <oib-oibus-object-form-control
          [scanModes]="scanModes"
          [certificates]="certificates"
          [group]="form.controls.settings"
          [objectAttribute]="getItemSettingsAttribute()"
          [southId]="southId"
        />
      </ng-container>
    </form>
    <oib-south-item-test
      type="south"
      [entityId]="southId"
      [item]="formItem"
      [connectorCommand]="southConnectorCommand"
      [manifest]="manifest"
    />
  </div>
}
<div class="modal-footer">
  <div class="btn-group">
    <button [oib-save-button]="state" form="form"></button>
    <button type="button" class="btn btn-cancel" (click)="cancel()" translate="common.cancel" id="cancel-button"></button>
  </div>
</div>
