@if (controlsByRow && form) {
  <form [formGroup]="form" (ngSubmit)="ok()" class="oib-inner-form">
    <oib-form formGroupName="wrapper" [form]="getFormGroup()" [settingsSchema]="controlsByRow" />
    <div class="row">
      <div class="col">
        <div class="pull-right">
          <button class="btn btn-sm btn-primary me-1" id="input-ok">
            <span class="fa fa-check"></span>
          </button>
          <button type="button" class="btn btn-sm btn-cancel" (click)="cancel()" id="input-cancel">
            <span class="fa fa-times"></span>
          </button>
        </div>
      </div>
    </div>
  </form>
}
