<div class="oib-padded-container" *ngIf="southConnector && manifest && southItemSchema">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <div class="oib-header-container">
        <h1 id="title" translate="south.title" [translateParams]="{ name: southConnector.name, type: southConnector.type }">
          <span class="ms-2">
            <button class="btn btn-primary" id="edit-link" routerLink="edit">
              <i class="fa fa-pencil"></i>
            </button>
          </span>
          <button class="ms-2 btn btn-cancel" translate="common.back" id="cancel-edit-button" oibBackButton></button>
          <button class="btn btn-primary pull-right me-2" id="south-enabled" (click)="toggleConnector(!southConnector.enabled)">
            <i [class]="southConnector.enabled ?  'fa fa-pause' : 'fa fa-play'"></i>
          </button>
        </h1>
      </div>

      <!-- South metrics -->
      <oib-south-metrics
        *ngIf="connectorMetrics"
        [connectorMetrics]="connectorMetrics"
        [manifest]="manifest"
        [southConnector]="southConnector"
      ></oib-south-metrics>

      <!-- Specific settings -->
      <oib-box>
        <ng-template oibBoxTitle>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <span
                translate="south.specific-settings"
                [translateParams]="{ type: southConnector.type }"
                id="specific-settings-title"
              ></span>
            </div>
            <div>
              <button type="button" class="btn btn-primary btn-sm" id="test-connection" (click)="testConnection()">
                <span translate="south.test-connection.button"></span>
              </button>
            </div>
          </div>
        </ng-template>

        <table class="table table-sm table-hover oib-table mb-3">
          <tbody class="south-settings">
            <tr>
              <td translate="south.status"></td>
              <td>{{ southConnector.enabled | enabled }}</td>
            </tr>
            <tr *ngFor="let setting of displayedSettings">
              <td style="width: 33%">{{ setting.key }}</td>
              <td>{{ setting.value }}</td>
            </tr>
          </tbody>
        </table>
      </oib-box>

      <!-- Items -->
      <oib-south-items
        [southConnector]="southConnector"
        [southConnectorItemSchema]="southItemSchema"
        [scanModes]="scanModes"
        [displayItemToggle]="true"
      ></oib-south-items>
    </div>
  </div>
</div>
