<oib-box>
  <ng-template oibBoxTitle>
    <div class="d-flex justify-content-between">
      <span translate="history-query.monitoring.title" [translateParams]="{ name: historyQuery().name }" id="title"></span>
    </div>
  </ng-template>

  <div>
    <table class="table table-sm table-hover oib-table mb-1">
      <thead class="light">
        <tr>
          <th translate="history-query.monitoring.north.title"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- interval progressbar  -->
        @if (historyMetrics().historyMetrics.intervalProgress >= 1) {
          <tr>
            <td translate="history-query.monitoring.north.data-sent"></td>
            <td>
              <oib-progressbar [value]="northProgress" [max]="1" [animated]="northProgressbarAnimated" />
            </td>
          </tr>
        }
        <!-- last connection -->
        @if (historyMetrics().north.lastConnection; as lastConnection) {
          <tr>
            <td translate="history-query.monitoring.north.last-connection"></td>
            <td>{{ lastConnection | datetime: 'mediumWithSeconds' }}</td>
          </tr>
        }
        <!-- last content sent -->
        @if (historyMetrics().north.lastContentSent; as lastContentSent) {
          <tr>
            <td translate="history-query.monitoring.north.last-content-sent"></td>
            <td>{{ historyMetrics().north.lastContentSent }}</td>
          </tr>
        }
        <!-- last run -->
        @if (historyMetrics().north.lastRunStart; as lastRunStart) {
          <tr>
            <td translate="history-query.monitoring.north.last-run-start"></td>
            <td>{{ lastRunStart | datetime: 'mediumWithSeconds' }}</td>
          </tr>
        }
        <!-- last duration -->
        @if (historyMetrics().north.lastRunDuration; as lastRunDuration) {
          <tr>
            <td translate="history-query.monitoring.north.last-run-duration"></td>
            <td>{{ lastRunDuration | duration: 'short' }}</td>
          </tr>
        }
        <!-- cache size -->
        <tr>
          <td translate="history-query.monitoring.north.cache-size-title"></td>
          <td
            translate="history-query.monitoring.north.cache-size-value"
            [translateParams]="{
              currentSize: historyMetrics().north.currentCacheSize | fileSize,
              totalSent: historyMetrics().north.contentSentSize | fileSize,
              totalCached: historyMetrics().north.contentCachedSize | fileSize
            }"
          ></td>
        </tr>
        <!-- error size -->
        <tr>
          <td translate="history-query.monitoring.north.error-size-title"></td>
          <td
            translate="history-query.monitoring.north.error-size-value"
            [translateParams]="{
              currentSize: historyMetrics().north.currentErrorSize | fileSize,
              totalSize: historyMetrics().north.contentErroredSize | fileSize
            }"
          ></td>
        </tr>
        <!-- archive size -->
        <tr>
          <td translate="history-query.monitoring.north.archive-size-title"></td>
          <td
            translate="history-query.monitoring.north.archive-size-value"
            [translateParams]="{
              currentSize: historyMetrics().north.currentArchiveSize | fileSize,
              totalSize: historyMetrics().north.contentArchivedSize | fileSize
            }"
          ></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-sm table-hover oib-table">
      <thead class="light">
        <tr>
          <th translate="history-query.monitoring.south.title"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- south interval progressbar -->
        @if (historyMetrics().historyMetrics.intervalProgress) {
          <tr>
            <td translate="history-query.monitoring.south.data-retrieved"></td>
            <td>
              <oib-progressbar [value]="historyMetrics().historyMetrics.intervalProgress" [animated]="southProgressbarAnimated()" />
            </td>
          </tr>
        }
        <!-- south interval progress -->
        @if (historyMetrics().historyMetrics.currentIntervalNumber && historyMetrics().historyMetrics.numberOfIntervals) {
          <tr>
            <td translate="history-query.monitoring.south.interval-progress"></td>
            <td>
              {{ historyMetrics().historyMetrics.currentIntervalNumber }}
              / {{ historyMetrics().historyMetrics.numberOfIntervals }} : [{{ historyMetrics().historyMetrics.currentIntervalStart }},
              {{ historyMetrics().historyMetrics.currentIntervalEnd }}]
            </td>
          </tr>
        }
        <!-- number of values for point connectors -->
        <tr>
          <td translate="history-query.monitoring.south.number-of-values"></td>
          <td>{{ historyMetrics().south.numberOfValuesRetrieved }}</td>
        </tr>
        <!-- number of files for file connectors -->
        <tr>
          <td translate="history-query.monitoring.south.number-of-files"></td>
          <td>{{ historyMetrics().south.numberOfFilesRetrieved }}</td>
        </tr>
        <!-- last connection -->
        @if (historyMetrics().south.lastConnection; as lastConnection) {
          <tr>
            <td translate="history-query.monitoring.south.last-connection"></td>
            <td>{{ lastConnection | datetime: 'mediumWithSeconds' }}</td>
          </tr>
        }
        <!-- last value -->
        @if (historyMetrics().south.lastValueRetrieved; as lastValueRetrieved) {
          <tr>
            <td translate="history-query.monitoring.south.last-value"></td>
            <td>
              <span
                translate="history-query.monitoring.south.last-value-content"
                [translateParams]="{
                  pointId: lastValueRetrieved.pointId,
                  timestamp: lastValueRetrieved.timestamp,
                  data: lastValueRetrieved.data | json
                }"
              ></span>
            </td>
          </tr>
        }
        <!-- last file -->
        @if (historyMetrics().south.lastFileRetrieved) {
          <tr>
            <td translate="history-query.monitoring.south.last-file"></td>
            <td>{{ historyMetrics().south.lastFileRetrieved }}</td>
          </tr>
        }
        <!-- last run -->
        @if (historyMetrics().south.lastRunStart; as lastRunStart) {
          <tr>
            <td translate="history-query.monitoring.south.last-run-start"></td>
            <td>{{ lastRunStart | datetime: 'mediumWithSeconds' }}</td>
          </tr>
        }
        <!-- last duration -->
        @if (historyMetrics().south.lastRunDuration; as lastRunDuration) {
          <tr>
            <td translate="history-query.monitoring.south.last-run-duration"></td>
            <td>{{ lastRunDuration | duration: 'short' }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</oib-box>
