<oib-box>
  <ng-template oibBoxTitle>
    <div class="d-flex justify-content-between">
      <span translate="history-query.monitoring.title" [translateParams]="{ name: historyQuery.name }" id="title"></span>
    </div>
  </ng-template>

  <div>
    <table class="table table-sm table-hover oib-table mb-1">
      <thead class="light">
        <tr>
          <th translate="history-query.monitoring.north.title"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- interval progressbar  -->
        @if (historyMetrics.historyMetrics.intervalProgress >= 1) {
          <tr>
            <td translate="history-query.monitoring.north.data-sent"></td>
            <td>
              <oib-progressbar [value]="northProgress" [max]="1" [animated]="northProgressbarAnimated" />
            </td>
          </tr>
        }
        <!-- number of values for point connectors -->
        @if (northManifest.modes.points) {
          <tr>
            <td style="width: 33%" translate="history-query.monitoring.north.number-of-values"></td>
            <td>{{ historyMetrics.north.numberOfValuesSent }}</td>
          </tr>
        }
        <!-- number of files for file connectors -->
        @if (northManifest.modes.files) {
          <tr>
            <td translate="history-query.monitoring.north.number-of-files"></td>
            <td>{{ historyMetrics.north.numberOfFilesSent }}</td>
          </tr>
        }
        <!-- last connection -->
        @if (historyMetrics.north.lastConnection !== null) {
          <tr>
            <td translate="history-query.monitoring.north.last-connection"></td>
            <td>{{ historyMetrics.north.lastConnection | datetime: 'mediumWithSeconds' }}</td>
          </tr>
        }
        <!-- last value -->
        @if (northManifest.modes.points && historyMetrics.north.lastValueSent) {
          <tr>
            <td translate="history-query.monitoring.north.last-value"></td>
            <td>
              <span
                translate="history-query.monitoring.north.last-value-content"
                [translateParams]="{
                  pointId: historyMetrics.north.lastValueSent.pointId,
                  timestamp: historyMetrics.north.lastValueSent.timestamp,
                  data: historyMetrics.north.lastValueSent.data | json
                }"
              ></span>
            </td>
          </tr>
        }
        <!-- last file -->
        @if (northManifest.modes.files && historyMetrics.north.lastFileSent) {
          <tr>
            <td translate="history-query.monitoring.north.last-file"></td>
            <td>{{ historyMetrics.north.lastFileSent }}</td>
          </tr>
        }
        <!-- last run -->
        @if (historyMetrics.north.lastRunStart !== null) {
          <tr>
            <td translate="history-query.monitoring.north.last-run-start"></td>
            <td>{{ historyMetrics.north.lastRunStart | datetime: 'mediumWithSeconds' }}</td>
          </tr>
        }
        <!-- last duration -->
        @if (historyMetrics.north.lastRunDuration !== null) {
          <tr>
            <td translate="history-query.monitoring.north.last-run-duration"></td>
            <td>{{ historyMetrics.north.lastRunDuration | duration: 'short' }}</td>
          </tr>
        }
      </tbody>
    </table>
    <table class="table table-sm table-hover oib-table">
      <thead class="light">
        <tr>
          <th translate="history-query.monitoring.south.title"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- south interval progressbar -->
        @if (historyMetrics.historyMetrics.intervalProgress) {
          <tr>
            <td translate="history-query.monitoring.south.data-retrieved"></td>
            <td>
              <oib-progressbar [value]="historyMetrics.historyMetrics.intervalProgress" [animated]="southProgressbarAnimated" />
            </td>
          </tr>
        }
        <!-- south interval progress -->
        @if (historyMetrics.historyMetrics.currentIntervalNumber && historyMetrics.historyMetrics.numberOfIntervals) {
          <tr>
            <td translate="history-query.monitoring.south.interval-progress"></td>
            <td>
              {{ historyMetrics.historyMetrics.currentIntervalNumber }} / {{ historyMetrics.historyMetrics.numberOfIntervals }} : [{{
                historyMetrics.historyMetrics.currentIntervalStart
              }}, {{ historyMetrics.historyMetrics.currentIntervalEnd }}]
            </td>
          </tr>
        }
        <!-- number of values for point connectors -->
        <tr>
          <td style="width: 33%" translate="history-query.monitoring.south.number-of-values"></td>
          <td>{{ historyMetrics.south.numberOfValuesRetrieved }}</td>
        </tr>
        <!-- number of files for file connectors -->
        <tr>
          <td translate="history-query.monitoring.south.number-of-files"></td>
          <td>{{ historyMetrics.south.numberOfFilesRetrieved }}</td>
        </tr>
        <!-- last connection -->
        @if (historyMetrics.south.lastConnection !== null) {
          <tr>
            <td translate="history-query.monitoring.south.last-connection"></td>
            <td>{{ historyMetrics.south.lastConnection | datetime: 'mediumWithSeconds' }}</td>
          </tr>
        }
        <!-- last value -->
        @if (historyMetrics.south.lastValueRetrieved) {
          <tr>
            <td translate="history-query.monitoring.south.last-value"></td>
            <td>
              <span
                translate="history-query.monitoring.south.last-value-content"
                [translateParams]="{
                  pointId: historyMetrics.south.lastValueRetrieved.pointId,
                  timestamp: historyMetrics.south.lastValueRetrieved.timestamp,
                  data: historyMetrics.south.lastValueRetrieved.data | json
                }"
              ></span>
            </td>
          </tr>
        }
        <!-- last file -->
        @if (historyMetrics.south.lastFileRetrieved) {
          <tr>
            <td translate="history-query.monitoring.south.last-file"></td>
            <td>{{ historyMetrics.south.lastFileRetrieved }}</td>
          </tr>
        }
        <!-- last run -->
        @if (historyMetrics.south.lastRunStart !== null) {
          <tr>
            <td translate="history-query.monitoring.south.last-run-start"></td>
            <td>{{ historyMetrics.south.lastRunStart | datetime: 'mediumWithSeconds' }}</td>
          </tr>
        }
        <!-- last duration -->
        @if (historyMetrics.south.lastRunDuration !== null) {
          <tr>
            <td translate="history-query.monitoring.south.last-run-duration"></td>
            <td>{{ historyMetrics.south.lastRunDuration | duration: 'short' }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</oib-box>
