<div class="oib-padded-container" *ngIf="historyQuery && southManifest && northManifest">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <h1 translate="history-query.edit-title" [translateParams]="{ name: historyQuery.name }"></h1>

      <form [formGroup]="historyQueryForm" (ngSubmit)="save()" id="history-query-form" class="mt-3">
        <!-- General settings -->
        <oib-box boxTitle="south.general-settings">
          <div class="row">
            <!-- Name -->
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="history-query-name" translate="history-query.name"></label>
                <input formControlName="name" id="history-query-name" class="form-control" />
                <val-errors controlName="name"></val-errors>
              </div>
            </div>

            <!-- Description -->
            <div class="col-5">
              <div class="form-group">
                <label class="form-label" for="history-query-description" translate="history-query.description"></label>
                <input formControlName="description" id="history-query-description" class="form-control" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-label" for="start" class="col-auto col-form-label" translate="history-query.start"></label>
                <oib-datetimepicker formControlName="start" id="start"></oib-datetimepicker>
                <val-errors controlName="start"></val-errors>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-label" for="end" class="col-auto col-form-label" translate="history-query.end"></label>
                <oib-datetimepicker formControlName="end" id="end"></oib-datetimepicker>
                <val-errors controlName="end"></val-errors>
              </div>
            </div>
          </div>
        </oib-box>

        <!-- Cache settings -->
        <oib-box formGroupName="caching">
          <ng-template oibBoxTitle>
            <span translate="north.cache-settings.title" id="cache-settings-title"></span>
          </ng-template>
          <div class="row">
            <div class="col-3">
              <div class="form-group">
                <oib-scan-mode
                  key="cache-scan-mode"
                  formControlName="scanMode"
                  [scanModes]="scanModes"
                  [label]="'north.cache-settings.send-scan-mode' | translate "
                ></oib-scan-mode>
                <val-errors controlName="scanMode"></val-errors>
              </div>
            </div>
            <!-- Retry interval -->
            <div class="col-3">
              <div class="form-group">
                <label class="form-label" for="retry-interval" translate="north.cache-settings.retry-interval"></label>
                <div class="input-group">
                  <input type="number" formControlName="retryInterval" id="retry-interval" class="form-control" />
                  <span class="input-group-text" translate="common.unit.ms"></span>
                </div>
                <val-errors controlName="retryInterval"></val-errors>
              </div>
            </div>
            <!-- Retry count -->
            <div class="col-3">
              <div class="form-group">
                <label class="form-label" for="retry-count" translate="north.cache-settings.retry-count"></label>
                <input type="number" formControlName="retryCount" id="retry-count" class="form-control" />
                <val-errors controlName="retryCount"></val-errors>
              </div>
            </div>
            <!-- Max size -->
            <div class="col-3">
              <div class="form-group">
                <label class="form-label" for="maxSize" translate="north.cache-settings.max-size"></label>
                <div class="input-group">
                  <input type="number" formControlName="maxSize" id="maxSize" class="form-control" />
                  <span class="input-group-text" translate="common.unit.MB"></span>
                </div>
                <val-errors controlName="maxSize"></val-errors>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="northManifest?.modes?.points">
            <!-- Group count -->
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="group-count" translate="north.cache-settings.group-count"></label>
                <input type="number" formControlName="groupCount" id="group-count" class="form-control" />
                <val-errors controlName="groupCount"></val-errors>
              </div>
            </div>
            <!-- Max send count -->
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="max-send-count" translate="north.cache-settings.max-send-count"></label>
                <input type="number" formControlName="maxSendCount" id="max-send-count" class="form-control" />
                <val-errors controlName="maxSendCount"></val-errors>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="northManifest?.modes?.files">
            <!-- Send file immediately -->
            <div class="col-4">
              <div class="form-group">
                <div class="form-check form-switch">
                  <input formControlName="sendFileImmediately" id="send-file-immediately" type="checkbox" class="form-check-input" />
                  <label
                    class="form-check-label"
                    for="send-file-immediately"
                    translate="north.cache-settings.send-file-immediately"
                  ></label>
                </div>
              </div>
            </div>
          </div>
        </oib-box>

        <!-- Archive settings -->
        <oib-box boxTitle="north.archive-settings.title">
          <div class="row" formGroupName="archive">
            <!-- Archive Enabled -->
            <div class="col-4">
              <div class="form-group">
                <div class="form-check form-switch padded">
                  <label class="form-check-label" for="archive-enabled" translate="north.archive-settings.enabled"></label>
                  <input formControlName="enabled" id="archive-enabled" type="checkbox" class="form-check-input" />
                </div>
              </div>
            </div>
            <!-- Retention duration -->
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="archive-retention-duration" translate="north.archive-settings.retention-duration"></label>
                <div class="input-group">
                  <input type="number" formControlName="retentionDuration" id="archive-retention-duration" class="form-control" />
                  <span class="input-group-text" translate="common.unit.hr"></span>
                </div>
              </div>
            </div>
          </div>
        </oib-box>

        <!-- North settings -->
        <oib-box formGroupName="north">
          <ng-template oibBoxTitle>
            <span
              translate="north.specific-settings"
              [translateParams]="{ type: historyQuery.northType }"
              id="north-specific-settings-title"
            ></span>
          </ng-template>

          <oib-form
            *ngIf="northSettingsSchema.length > 0"
            formGroupName="settings"
            [form]="historyQueryForm.controls.north.controls.settings"
            [settingsSchema]="northSettingsSchema"
            [scanModes]="scanModes"
            [proxies]="proxies"
          ></oib-form>
        </oib-box>

        <!-- South settings -->
        <oib-box formGroupName="south">
          <ng-template oibBoxTitle>
            <span
              translate="history-query.south.specific-settings"
              [translateParams]="{ type: historyQuery.southType }"
              id="south-specific-settings-title"
            ></span>
          </ng-template>

          <oib-form
            *ngIf="southSettingsSchema.length > 0"
            formGroupName="settings"
            [form]="historyQueryForm.controls.south.controls.settings"
            [settingsSchema]="southSettingsSchema"
            [scanModes]="scanModes"
            [proxies]="proxies"
          ></oib-form>
        </oib-box>

        <!-- History settings -->
        <oib-box formGroupName="history">
          <ng-template oibBoxTitle>
            <span
              translate="south.history.settings"
              [translateParams]="{ type: historyQuery.southType }"
              id="history-settings-title"
            ></span>
          </ng-template>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="south-max-read-interval" translate="south.history.max-read-interval"></label>
                <div class="input-group">
                  <input formControlName="maxReadInterval" id="south-max-read-interval" type="number" class="form-control" />
                  <span class="input-group-text" translate="common.unit.s"></span>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label class="form-label" for="south-read-delay" translate="south.history.read-delay"></label>
                <div class="input-group">
                  <input formControlName="readDelay" id="south-read-delay" type="number" class="form-control" />
                  <span class="input-group-text" translate="common.unit.ms"></span>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <div class="form-check form-switch padded">
                  <input formControlName="maxInstantPerItem" id="south-max-instant-per-item" type="checkbox" class="form-check-input" />
                  <label class="form-check-label" for="south-max-instant-per-item" translate="south.history.max-instant-per-item"></label>
                </div>
              </div>
            </div>
          </div>
        </oib-box>

        <!-- items -->
        <oib-history-query-items
          [historyQuery]="historyQuery"
          [southConnectorItemSchema]="southManifest.items"
          [scanModes]="scanModes"
        ></oib-history-query-items>
      </form>

      <div id="actions" class="mb-2 mt-3 d-flex justify-content-end">
        <div class="btn-group">
          <oib-save-button form="history-query-form" [state]="state"></oib-save-button>
          <button class="btn btn-cancel" translate="common.cancel" id="cancel-edit-button" oibBackButton></button>
        </div>
      </div>
    </div>
  </div>
</div>
