<div class="oib-padded-container">
  <div class="row justify-content-center">
    @if (southManifest && northManifest && form) {
      <div class="col-md-10 col-lg-8">
        <div class="d-flex">
          @if (mode === 'create') {
            <h1 translate="history-query.create-title"></h1>
          }
          @if (mode === 'edit' && historyQuery) {
            <h1 translate="history-query.edit-title" [translateParams]="{ name: historyQuery.name }"></h1>
          }
        </div>
        <form [formGroup]="form" (ngSubmit)="save()" id="history-query-form" class="mt-3">
          <div class="save-zone">
            <!-- General settings -->
            <oib-box boxTitle="south.general-settings" helpUrl="https://oibus.optimistik.com/docs/guide/history-queries">
              <div class="row">
                <!-- Name -->
                <div class="col-4">
                  <div class="form-group">
                    <label class="form-label" for="history-query-name" translate="history-query.name"></label>
                    <input formControlName="name" id="history-query-name" class="form-control" />
                    <val-errors controlName="name" />
                  </div>
                </div>
                <!-- Description -->
                <div class="col-5">
                  <div class="form-group">
                    <label class="form-label" for="history-query-description" translate="history-query.description"></label>
                    <input formControlName="description" id="history-query-description" class="form-control" />
                  </div>
                </div>
              </div>

              <!-- Date Range Selector -->
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <oib-date-range-selector
                      formControlName="dateRange"
                      [startLabel]="'history-query.start'"
                      [endLabel]="'history-query.end'"
                      [defaultRange]="'last-day'"
                    />
                    <val-errors controlName="dateRange" />
                  </div>
                </div>
              </div>
            </oib-box>

            <!-- Cache settings -->
            <oib-box
              boxTitle="north.caching.title"
              helpUrl="https://oibus.optimistik.com/docs/guide/north-connectors/common-settings#caching"
            >
              <div formGroupName="caching">
                <h5 class="mt-2" translate="north.caching.trigger.title"></h5>
                <div formGroupName="trigger" class="row">
                  <!-- Scan mode -->
                  <div class="col-4">
                    <div class="form-group">
                      <oib-oibus-scan-mode-form-control [allScanModes]="scanModes" [scanModeAttribute]="scanModeAttribute" />
                    </div>
                  </div>
                  <!-- Number of elements -->
                  <div class="col-4">
                    <div class="form-group">
                      <label class="form-label" for="number-of-elements" translate="north.caching.trigger.number-of-elements"></label>
                      <input type="number" formControlName="numberOfElements" id="number-of-elements" class="form-control" />
                      <val-errors controlName="numberOfElements" />
                    </div>
                  </div>
                  <!-- Number of files -->
                  <div class="col-4">
                    <div class="form-group">
                      <label class="form-label" for="number-of-files" translate="north.caching.trigger.number-of-files"></label>
                      <input type="number" formControlName="numberOfFiles" id="number-of-files" class="form-control" />
                      <val-errors controlName="numberOfFiles" />
                    </div>
                  </div>
                </div>
                <hr />
                <h5 translate="north.caching.throttling.title"></h5>
                <div formGroupName="throttling" class="row">
                  <!-- Run min delay -->
                  <div class="col-4">
                    <div class="form-group">
                      <label class="form-label" for="run-min-delay" translate="north.caching.throttling.run-min-delay"></label>
                      <div class="input-group">
                        <input type="number" formControlName="runMinDelay" id="run-min-delay" class="form-control" />
                        <span class="input-group-text" translate="common.unit.ms"></span>
                      </div>
                      <val-errors controlName="runMinDelay" />
                    </div>
                  </div>
                  <!-- Max send count -->
                  <div class="col-4">
                    <div class="form-group">
                      <label
                        class="form-label"
                        for="max-number-of-elements"
                        translate="north.caching.throttling.max-number-of-elements"
                      ></label>
                      <input type="number" formControlName="maxNumberOfElements" id="max-number-of-elements" class="form-control" />
                      <val-errors controlName="maxNumberOfElements" />
                    </div>
                  </div>
                  <!-- Max size -->
                  <div class="col-4">
                    <div class="form-group">
                      <label class="form-label" for="maxSize" translate="north.caching.throttling.max-size"></label>
                      <div class="input-group">
                        <input type="number" formControlName="maxSize" id="maxSize" class="form-control" />
                        <span class="input-group-text" translate="common.unit.MB"></span>
                      </div>
                      <val-errors controlName="maxSize" />
                    </div>
                  </div>
                </div>
                <hr />
                <h5 translate="north.caching.error.title"></h5>
                <div formGroupName="error" class="row">
                  <!-- Retry interval -->
                  <div class="col-4">
                    <div class="form-group">
                      <label class="form-label" for="retry-interval" translate="north.caching.error.retry-interval"></label>
                      <div class="input-group">
                        <input type="number" formControlName="retryInterval" id="retry-interval" class="form-control" />
                        <span class="input-group-text" translate="common.unit.ms"></span>
                      </div>
                      <val-errors controlName="retryInterval" />
                    </div>
                  </div>
                  <!-- Retry count -->
                  <div class="col-4">
                    <div class="form-group">
                      <label class="form-label" for="retry-count" translate="north.caching.error.retry-count"></label>
                      <input type="number" formControlName="retryCount" id="retry-count" class="form-control" />
                      <val-errors controlName="retryCount" />
                    </div>
                  </div>
                  <!-- Retention duration -->
                  <div class="col-4">
                    <div class="form-group">
                      <label class="form-label" for="error-retention-duration" translate="north.caching.error.retention-duration"></label>
                      <div class="input-group">
                        <input type="number" formControlName="retentionDuration" id="error-retention-duration" class="form-control" />
                        <span class="input-group-text" translate="common.unit.hr"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <h5 translate="north.caching.archive.title"></h5>
                <div formGroupName="archive" class="row">
                  <!-- Archive Enabled -->
                  <div class="col-4">
                    <div class="form-group">
                      <div class="form-check form-switch padded">
                        <label class="form-check-label" for="archive-enabled" translate="north.caching.archive.enabled"></label>
                        <input formControlName="enabled" id="archive-enabled" type="checkbox" class="form-check-input" />
                      </div>
                    </div>
                  </div>
                  <!-- Retention duration -->
                  <div class="col-4">
                    <div class="form-group">
                      <label
                        class="form-label"
                        for="archive-retention-duration"
                        translate="north.caching.archive.retention-duration"
                      ></label>
                      <div class="input-group">
                        <input type="number" formControlName="retentionDuration" id="archive-retention-duration" class="form-control" />
                        <span class="input-group-text" translate="common.unit.hr"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </oib-box>
            <oib-history-query-transformers
              [historyQuery]="historyQuery"
              [scanModes]="scanModes"
              [certificates]="certificates"
              [northManifest]="northManifest"
              [transformers]="transformers"
              [saveChangesDirectly]="true"
              (inMemoryTransformersWithOptions)="updateInMemoryTransformers($event)"
            />

            <!-- North settings -->
            <oib-box>
              <ng-template oibBoxTitle>
                <div class="d-flex justify-content-between align-items-center">
                  <span
                    translate="north.specific-settings"
                    [translateParams]="{ type: northManifest.id | oIBusNorthTypeEnum }"
                    id="north-specific-settings-title"
                  ></span>
                  <div>
                    <button
                      translate="north.test-connection.button"
                      type="button"
                      class="ms-3 btn btn-secondary btn-sm oib-box-btn"
                      id="test-connection-north"
                      (click)="test('north')"
                    ></button>
                    <oib-help [url]="'https://oibus.optimistik.com/docs/guide/north-connectors/' + northType" />
                  </div>
                </div>
              </ng-template>
              <div formGroupName="northSettings" class="row">
                <oib-oibus-object-form-control
                  [scanModes]="scanModes"
                  [certificates]="certificates"
                  [group]="form.controls.northSettings"
                  [objectAttribute]="northManifest.settings"
                />
              </div>
            </oib-box>

            <!-- South settings -->
            <oib-box>
              <ng-template oibBoxTitle>
                <div class="d-flex justify-content-between align-items-center">
                  <span
                    translate="history-query.south.specific-settings"
                    [translateParams]="{ type: southManifest.id | oIBusSouthTypeEnum }"
                    id="south-specific-settings-title"
                  ></span>
                  <div>
                    <button
                      translate="south.test-connection.button"
                      type="button"
                      class="ms-3 btn btn-secondary btn-sm oib-box-btn"
                      id="test-connection-south"
                      (click)="test('south')"
                    ></button>
                    <oib-help [url]="'https://oibus.optimistik.com/docs/guide/south-connectors/' + southType" />
                  </div>
                </div>
              </ng-template>
              <div formGroupName="southSettings" class="row">
                <oib-oibus-object-form-control
                  [scanModes]="scanModes"
                  [certificates]="certificates"
                  [group]="form.controls.southSettings"
                  [objectAttribute]="southManifest.settings"
                />
              </div>
            </oib-box>
          </div>
          <oib-history-query-items
            [historyId]="historyId"
            [historyQuery]="historyQuery"
            [southConnectorCommand]="southConnectorCommand"
            [southManifest]="southManifest"
            [saveChangesDirectly]="false"
            (inMemoryItems)="updateInMemoryItems($event)"
          />
        </form>
        <div id="actions" class="mt-2 mb-3 d-flex justify-content-end">
          <div class="btn-group">
            <button [oib-save-button]="state" form="history-query-form"></button>
            <button class="btn btn-cancel" translate="common.cancel" id="cancel-button" oibBackButton></button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
