<div class="oi-padded-container">
  <div class="d-flex justify-content-between">
    <div *ngIf="southConnector" class="oi-header-container">
      <h1 id="title" translate="south.title" [translateParams]="{ name: southConnector.name }">
        <span class="ms-2">
          <button class="btn btn-primary" id="edit-link" routerLink="edit">
            <i class="fa fa-pencil"></i>
            {{ 'south.edit' | translate }}
          </button>
        </span>
      </h1>
      <div id="description">{{ southConnector.description }}</div>
    </div>
  </div>
  <div *ngIf="southConnector" class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <h2><span translate="south.specific-settings" [translateParams]="{type: southConnector.type}"></span></h2>
      <div class="row" *ngFor="let row of southSettingsSchema">
        <ng-container *ngFor="let settings of row">
          <div *ngIf="shouldDisplayInput(settings)" [class]="settings.class || 'col'">
            <div class="mb-3">
              <span class="fw-bold">{{ settings.label }}</span>
              <span class="fw-bold">{{ 'common.colon-separator' | translate }}</span>
              <span>{{ settings.currentValue }}</span>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row">
        <h2>
          <span translate="south.items.title"></span>
          <span class="ms-2">
            <button class="btn btn-primary" id="create-modal" (click)="openCreationSouthItemModal()">
              <span class="fa fa-plus me-2"></span>
              <span translate="south.add"></span>
            </button>
          </span>
        </h2>
        <div class="col" *ngIf="southItems && southItemSchema">
          <div *ngIf="southItems.totalElements !== 0">
            <oib-pagination class="d-flex justify-content-end" [page]="southItems" [navigate]="true"></oib-pagination>
          </div>
          <oib-search-item *ngIf="searchParams" [searchParams]="searchParams" (search)="searchItem($event)"></oib-search-item>

          <ng-container>
            <div *ngIf="southItems.totalElements !== 0; else empty">
              <table class="table table-sm table-hover">
                <thead class="table-light">
                  <tr>
                    <th translate="south.items.name"></th>
                    <th translate="south.items.scan-mode"></th>
                    <ng-container *ngFor="let schema of southItemSchema.settings">
                      <th *ngIf="schema.readDisplay">{{ schema.label }}</th>
                    </ng-container>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of southItems.content">
                    <td>{{ item.name }}</td>
                    <td>{{ getScanMode(item.scanModeId) }}</td>
                    <ng-container *ngFor="let schema of southItemSchema.settings">
                      <td *ngIf="schema.readDisplay">{{ item.settings[schema.key] }}</td>
                    </ng-container>

                    <td class="text-nowrap">
                      <div class="pull-right">
                        <!-- Edit button -->
                        <a type="button" class="btn btn-link edit-link px-1 py-0" (click)="openEditSouthItemModal(item)">
                          <span class="fa fa-pencil"></span>
                        </a>
                        <!-- Delete button -->
                        <button type="button" class="btn btn-link delete-button px-1 py-0" (click)="deleteItem(item)">
                          <span class="fa fa-trash"></span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ng-template #empty>
              <div class="oi-details empty" translate="south.items.none"></div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
