<div class="oib-padded-container" *ngIf="northConnector">
  <div class="oib-header-container">
    <h1>
      <span translate="north.cache.title" [translateParams]="{name: northConnector.name}" id="title"></span>
      <button class="pull-right btn btn-cancel" translate="common.back" id="cancel-edit-button" oibBackButton></button>
    </h1>
  </div>
  <oib-error-files *ngIf="northConnector" [northConnector]="northConnector"></oib-error-files>
  <br />
  <oib-archive-files *ngIf="northConnector" [northConnector]="northConnector"></oib-archive-files>
</div>
