<div class="manifest-builder">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label" for="manifest-key" translate="configuration.oibus.manifest.transformers.manifest-builder.key"></label>
          <input type="text" class="form-control" formControlName="key" id="manifest-key" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label
            class="form-label"
            for="manifest-translation-key"
            translate="configuration.oibus.manifest.transformers.manifest-builder.translation-key"
          ></label>
          <input type="text" class="form-control" formControlName="translationKey" id="manifest-translation-key" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="form-label">&nbsp;</div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" formControlName="visible" id="manifest-visible" />
            <label
              class="form-check-label"
              for="manifest-visible"
              translate="configuration.oibus.manifest.transformers.manifest-builder.visible"
            ></label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="form-label">&nbsp;</div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" formControlName="wrapInBox" id="manifest-wrap-in-box" />
            <label
              class="form-check-label"
              for="manifest-wrap-in-box"
              translate="configuration.oibus.manifest.transformers.manifest-builder.wrap-in-box"
            ></label>
          </div>
        </div>
      </div>
    </div>

    <oib-box class="mt-3">
      <ng-template oibBoxTitle>
        <span translate="configuration.oibus.manifest.transformers.manifest-builder.attributes"></span>
      </ng-template>

      <div class="d-flex justify-content-end mb-3">
        <button type="button" class="btn btn-primary btn-sm" (click)="addAttribute()">
          <span class="fa fa-plus"></span>
          <span class="ms-1" translate="configuration.oibus.manifest.transformers.manifest-builder.add-attribute"></span>
        </button>
      </div>

      <div formArrayName="attributes">
        @for (attributeForm of attributesControls; track $index) {
          <div class="attribute-item position-relative" [formGroupName]="$index">
            <button type="button" class="btn btn-danger position-absolute" (click)="removeAttribute($index)" style="z-index: 10">
              <span class="fa fa-trash"></span>
            </button>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label
                    class="form-label"
                    for="attr-type-{{ $index }}"
                    translate="configuration.oibus.manifest.transformers.manifest-builder.type"
                  ></label>
                  <select class="form-select" formControlName="type" id="attr-type-{{ $index }}" (change)="onTypeChange(attributeForm)">
                    @for (type of availableTypes; track type) {
                      <option [value]="type">{{ type }}</option>
                    }
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label
                    class="form-label"
                    for="attr-key-{{ $index }}"
                    translate="configuration.oibus.manifest.transformers.manifest-builder.key"
                  ></label>
                  <input type="text" class="form-control" formControlName="key" id="attr-key-{{ $index }}" />
                  @if (attributeForm.get('key')?.invalid && attributeForm.get('key')?.touched) {
                    <div class="invalid-feedback d-block">
                      @if (attributeForm.get('key')?.errors?.['required']) {
                        <div>Key is required</div>
                      }
                      @if (attributeForm.get('key')?.errors?.['uniqueKey']) {
                        <div>Key must be unique within the same level</div>
                      }
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label
                    class="form-label"
                    for="attr-translation-key-{{ $index }}"
                    translate="configuration.oibus.manifest.transformers.manifest-builder.translation-key"
                  ></label>
                  <input type="text" class="form-control" formControlName="translationKey" id="attr-translation-key-{{ $index }}" />
                </div>
              </div>
            </div>

            @if (attributeForm.get('type')?.value === 'number') {
              <div class="row mt-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <label
                      class="form-label"
                      for="attr-default-value-{{ $index }}"
                      translate="configuration.oibus.manifest.transformers.manifest-builder.default-value"
                    ></label>
                    <input type="number" class="form-control" formControlName="defaultValue" id="attr-default-value-{{ $index }}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label
                      class="form-label"
                      for="attr-unit-{{ $index }}"
                      translate="configuration.oibus.manifest.transformers.manifest-builder.unit"
                    ></label>
                    <input type="text" class="form-control" formControlName="unit" id="attr-unit-{{ $index }}" />
                  </div>
                </div>
              </div>
            }

            @if (attributeForm.get('type')?.value === 'string' || attributeForm.get('type')?.value === 'string-select') {
              <div class="row mt-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <label
                      class="form-label"
                      for="attr-default-value-{{ $index }}"
                      translate="configuration.oibus.manifest.transformers.manifest-builder.default-value"
                    ></label>
                    <input type="text" class="form-control" formControlName="defaultValue" id="attr-default-value-{{ $index }}" />
                  </div>
                </div>
                @if (attributeForm.get('type')?.value === 'string-select') {
                  <div class="col-md-6">
                    <div class="form-group">
                      <label
                        class="form-label"
                        for="attr-selectable-values-{{ $index }}"
                        translate="configuration.oibus.manifest.transformers.manifest-builder.selectable-values"
                      ></label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="selectableValues"
                        id="attr-selectable-values-{{ $index }}"
                        placeholder="value1,value2,value3"
                      />
                    </div>
                  </div>
                }
              </div>
            }

            @if (attributeForm.get('type')?.value === 'boolean') {
              <div class="row mt-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <label
                      class="form-label"
                      for="attr-default-value-{{ $index }}"
                      translate="configuration.oibus.manifest.transformers.manifest-builder.default-value"
                    ></label>
                    <select class="form-select" formControlName="defaultValue" id="attr-default-value-{{ $index }}">
                      <option [ngValue]="true">true</option>
                      <option [ngValue]="false">false</option>
                    </select>
                  </div>
                </div>
              </div>
            }

            @if (attributeForm.get('type')?.value === 'code') {
              <div class="row mt-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <label
                      class="form-label"
                      for="attr-content-type-{{ $index }}"
                      translate="configuration.oibus.manifest.transformers.manifest-builder.content-type"
                    ></label>
                    <select class="form-select" formControlName="contentType" id="attr-content-type-{{ $index }}">
                      <option value="json">JSON</option>
                      <option value="sql">SQL</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label
                      class="form-label"
                      for="attr-default-value-{{ $index }}"
                      translate="configuration.oibus.manifest.transformers.manifest-builder.default-value"
                    ></label>
                    <input type="text" class="form-control" formControlName="defaultValue" id="attr-default-value-{{ $index }}" />
                  </div>
                </div>
              </div>
            }

            @if (attributeForm.get('type')?.value === 'scan-mode') {
              <div class="row mt-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <label
                      class="form-label"
                      for="attr-acceptable-type-{{ $index }}"
                      translate="configuration.oibus.manifest.transformers.manifest-builder.acceptable-type"
                    ></label>
                    <select class="form-select" formControlName="acceptableType" id="attr-acceptable-type-{{ $index }}">
                      <option value="POLL">POLL</option>
                      <option value="SUBSCRIPTION">SUBSCRIPTION</option>
                      <option value="SUBSCRIPTION_AND_POLL">SUBSCRIPTION_AND_POLL</option>
                    </select>
                  </div>
                </div>
              </div>
            }

            @if (attributeForm.get('type')?.value === 'timezone') {
              <div class="row mt-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <label
                      class="form-label"
                      for="attr-default-value-{{ $index }}"
                      translate="configuration.oibus.manifest.transformers.manifest-builder.default-value"
                    ></label>
                    <input type="text" class="form-control" formControlName="defaultValue" id="attr-default-value-{{ $index }}" />
                  </div>
                </div>
              </div>
            }

            @if (attributeForm.get('type')?.value === 'array') {
              <div class="row mt-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="form-label">&nbsp;</div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" formControlName="paginate" id="attr-paginate-{{ $index }}" />
                      <label
                        class="form-check-label"
                        for="attr-paginate-{{ $index }}"
                        translate="configuration.oibus.manifest.transformers.manifest-builder.paginate"
                      ></label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label
                      class="form-label"
                      for="attr-number-of-elements-{{ $index }}"
                      translate="configuration.oibus.manifest.transformers.manifest-builder.number-of-elements-per-page"
                    ></label>
                    <input
                      type="number"
                      class="form-control"
                      formControlName="numberOfElementPerPage"
                      id="attr-number-of-elements-{{ $index }}"
                    />
                  </div>
                </div>
              </div>
            }

            @if (attributeForm.get('type')?.value === 'object' || attributeForm.get('type')?.value === 'array') {
              <div class="row mt-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="form-label">&nbsp;</div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" formControlName="visible" id="attr-visible-{{ $index }}" />
                      <label
                        class="form-check-label"
                        for="attr-visible-{{ $index }}"
                        translate="configuration.oibus.manifest.transformers.manifest-builder.visible"
                      ></label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="form-label">&nbsp;</div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" formControlName="wrapInBox" id="attr-wrap-in-box-{{ $index }}" />
                      <label
                        class="form-check-label"
                        for="attr-wrap-in-box-{{ $index }}"
                        translate="configuration.oibus.manifest.transformers.manifest-builder.wrap-in-box"
                      ></label>
                    </div>
                  </div>
                </div>
              </div>
            }

            @if (attributeForm.get('type')?.value !== 'object' && attributeForm.get('type')?.value !== 'array') {
              <div class="row mt-2">
                <div class="col-md-4">
                  <div class="form-group">
                    <label
                      class="form-label"
                      for="attr-row-{{ $index }}"
                      translate="configuration.oibus.manifest.transformers.manifest-builder.row"
                    ></label>
                    <input type="number" class="form-control" formControlName="row" id="attr-row-{{ $index }}" />
                    @if (attributeForm.get('row')?.invalid && attributeForm.get('row')?.touched) {
                      <div class="invalid-feedback d-block">
                        @if (attributeForm.get('row')?.errors?.['min']) {
                          <div>Row must be 0 or greater</div>
                        }
                      </div>
                    }
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label
                      class="form-label"
                      for="attr-columns-{{ $index }}"
                      translate="configuration.oibus.manifest.transformers.manifest-builder.columns"
                    ></label>
                    <input type="number" class="form-control" formControlName="columns" id="attr-columns-{{ $index }}" />
                    @if (attributeForm.get('columns')?.invalid && attributeForm.get('columns')?.touched) {
                      <div class="invalid-feedback d-block">
                        @if (attributeForm.get('columns')?.errors?.['min']) {
                          <div>Columns must be at least 1</div>
                        }
                        @if (attributeForm.get('columns')?.errors?.['max']) {
                          <div>Columns cannot exceed 12</div>
                        }
                      </div>
                    }
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="form-label">&nbsp;</div>
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        formControlName="displayInViewMode"
                        id="attr-display-in-view-mode-{{ $index }}"
                      />
                      <label
                        class="form-check-label"
                        for="attr-display-in-view-mode-{{ $index }}"
                        translate="configuration.oibus.manifest.transformers.manifest-builder.display-in-view-mode"
                      ></label>
                    </div>
                  </div>
                </div>
              </div>
            }

            @if (attributeForm.get('type')?.value === 'object' || attributeForm.get('type')?.value === 'array') {
              <ng-container [ngTemplateOutlet]="nestedAttributesTemplate" [ngTemplateOutletContext]="{ parent: attributeForm }" />
            }
          </div>
        }
      </div>
    </oib-box>

    <div class="auto-save-info">
      <i class="fa fa-info-circle me-2"></i>
      <span translate="configuration.oibus.manifest.transformers.manifest-builder.auto-save-info"></span>
    </div>
  </form>
</div>

<ng-template #nestedAttributesTemplate let-parent="parent">
  <oib-box class="mt-3">
    <ng-template oibBoxTitle>
      <span translate="configuration.oibus.manifest.transformers.manifest-builder.nested-attributes"></span>
    </ng-template>

    <div class="d-flex justify-content-end mb-3">
      <button type="button" class="btn btn-secondary btn-sm" (click)="addNestedAttribute(parent)">
        <span class="fa fa-plus"></span>
        <span translate="configuration.oibus.manifest.transformers.manifest-builder.add-nested-attribute"></span>
      </button>
    </div>

    <div formArrayName="attributes">
      @for (nestedForm of getNestedAttributesControls(parent); track $index) {
        <div class="nested-attribute-item position-relative" [formGroupName]="$index">
          <button
            type="button"
            class="btn btn-danger position-absolute"
            (click)="removeNestedAttribute(parent, $index)"
            style="z-index: 10"
          >
            <span class="fa fa-trash"></span>
          </button>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label
                  class="form-label"
                  for="nested-type-{{ $index }}"
                  translate="configuration.oibus.manifest.transformers.manifest-builder.type"
                ></label>
                <select class="form-select" formControlName="type" id="nested-type-{{ $index }}" (change)="onTypeChange(nestedForm)">
                  @for (type of availableTypes; track type) {
                    <option [value]="type">{{ type }}</option>
                  }
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label
                  class="form-label"
                  for="nested-key-{{ $index }}"
                  translate="configuration.oibus.manifest.transformers.manifest-builder.key"
                ></label>
                <input type="text" class="form-control" formControlName="key" id="nested-key-{{ $index }}" />
                @if (nestedForm.get('key')?.invalid && nestedForm.get('key')?.touched) {
                  <div class="invalid-feedback d-block">
                    @if (nestedForm.get('key')?.errors?.['required']) {
                      <div>Key is required</div>
                    }
                    @if (nestedForm.get('key')?.errors?.['uniqueKey']) {
                      <div>Key must be unique within the same level</div>
                    }
                  </div>
                }
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label
                  class="form-label"
                  for="nested-translation-key-{{ $index }}"
                  translate="configuration.oibus.manifest.transformers.manifest-builder.translation-key"
                ></label>
                <input type="text" class="form-control" formControlName="translationKey" id="nested-translation-key-{{ $index }}" />
              </div>
            </div>
          </div>

          @if (nestedForm.get('type')?.value === 'string' || nestedForm.get('type')?.value === 'number') {
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="form-group">
                  <label
                    class="form-label"
                    for="nested-default-value-{{ $index }}"
                    translate="configuration.oibus.manifest.transformers.manifest-builder.default-value"
                  ></label>
                  <input
                    [type]="nestedForm.get('type')?.value === 'number' ? 'number' : 'text'"
                    class="form-control"
                    formControlName="defaultValue"
                    id="nested-default-value-{{ $index }}"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label
                    class="form-label"
                    for="nested-row-{{ $index }}"
                    translate="configuration.oibus.manifest.transformers.manifest-builder.row"
                  ></label>
                  <input type="number" class="form-control" formControlName="row" id="nested-row-{{ $index }}" />
                  @if (nestedForm.get('row')?.invalid && nestedForm.get('row')?.touched) {
                    <div class="invalid-feedback d-block">
                      @if (nestedForm.get('row')?.errors?.['min']) {
                        <div>Row must be 0 or greater</div>
                      }
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label
                    class="form-label"
                    for="nested-columns-{{ $index }}"
                    translate="configuration.oibus.manifest.transformers.manifest-builder.columns"
                  ></label>
                  <input type="number" class="form-control" formControlName="columns" id="nested-columns-{{ $index }}" />
                  @if (nestedForm.get('columns')?.invalid && nestedForm.get('columns')?.touched) {
                    <div class="invalid-feedback d-block">
                      @if (nestedForm.get('columns')?.errors?.['min']) {
                        <div>Columns must be at least 1</div>
                      }
                      @if (nestedForm.get('columns')?.errors?.['max']) {
                        <div>Columns cannot exceed 12</div>
                      }
                    </div>
                  }
                </div>
              </div>
            </div>
          }

          @if (nestedForm.get('type')?.value === 'object' || nestedForm.get('type')?.value === 'array') {
            <ng-container [ngTemplateOutlet]="nestedAttributesTemplate" [ngTemplateOutletContext]="{ parent: nestedForm }" />
          }
        </div>
      }
    </div>
  </oib-box>
</ng-template>
