<div>
  <div class="d-flex justify-content-between oib-box-title">
    <span translate="south.test-item.title"></span>
    <div>
      <button
        #testButton
        translate="south.test-item.test-button"
        id="test-item"
        class="btn btn-secondary btn-sm oib-box-btn m-0"
        [disabled]="isTestRunning"
        (click)="testItem()"
      >
        @if (isTestRunning) {
          <span class="fa fa-spinner fa-spin ms-2"></span>
        } @else {
          <span class="fa fa-check ms-2"></span>
        }
      </button>
      <button
        translate="south.test-item.cancel-button"
        id="cancel-test-item"
        class="btn btn-danger btn-sm oib-box-btn ms-3"
        [disabled]="!isTestRunning"
        (click)="cancelTesting()"
      ></button>
    </div>
  </div>

  <!-- history related settings -->
  @if (testingSettingsForm) {
    <form [formGroup]="testingSettingsForm" id="testing-settings-form">
      @if (supportsHistorySettings) {
        <div class="row form-group" formGroupName="history" id="history">
          <div class="col">
            <div class="form-group" id="startTime">
              <label class="col-auto col-form-label" translate="south.test-item.query-start"></label>
              <oib-datetimepicker formControlName="startTime" />
              <val-errors controlName="startTime" />
            </div>
          </div>
          <div class="col">
            <div class="form-group" id="endTime">
              <label class="col-auto col-form-label" translate="south.test-item.query-end"></label>
              <oib-datetimepicker formControlName="endTime" />
              <val-errors controlName="endTime" />
            </div>
          </div>
        </div>
      }
    </form>
  }
</div>

<oib-code-block height="30vh" #monacoEditor contentType="json" [readOnly]="true" />
