<div class="oib-padded-container" *ngIf="engineSettings">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <div class="oib-header-container d-flex align-items-center justify-content-between">
        <div class="d-flex">
          <div class="oib-block-title">
            <img class="oib-title-image pt-2" src="../assets/home/engine.svg" />
          </div>

          <h1 class="oib-title" translate="engine.title">
            <a class="btn btn-primary mx-2" id="edit-link" routerLink="edit">
              <i class="fa fa-pencil"></i>
            </a>
          </h1>
        </div>

        <div>
          <a class="btn btn-primary me-2" id="oianalytics-module" routerLink="oianalytics">
            <span class="fa fa-gear me-1" role="status" aria-hidden="true"></span>
            <span translate="engine.oianalytics"></span>
          </a>
          <button
            (click)="restart()"
            type="button"
            [disabled]="(shuttingDown.isPending | async) || (restarting.isPending | async)"
            class="btn btn-danger me-2"
            id="restart"
          >
            <span
              *ngIf="restarting.isPending | async"
              class="spinner-border spinner-border-sm me-1"
              role="status"
              aria-hidden="true"
            ></span>
            <span *ngIf="(restarting.isPending | async) === false" class="fa fa-rotate-right me-1" role="status" aria-hidden="true"></span>
            <span translate="engine.restart"></span>
          </button>
          <button
            type="button"
            [disabled]="(shuttingDown.isPending | async) || (restarting.isPending | async)"
            class="btn btn-danger"
            id="shutdown"
            (click)="shutdown()"
          >
            <span
              *ngIf="shuttingDown.isPending | async"
              class="spinner-border spinner-border-sm me-1"
              role="status"
              aria-hidden="true"
            ></span>
            <span *ngIf="(shuttingDown.isPending | async) === false" class="fa fa-stop me-1" role="status" aria-hidden="true"></span>
            <span translate="engine.shutdown"></span>
          </button>
        </div>
      </div>

      <!-- Engine metrics -->
      <oib-engine-metrics *ngIf="metrics" [metrics]="metrics"></oib-engine-metrics>

      <oib-box boxTitle="engine.general-settings.title">
        <table class="table table-sm table-hover oib-table mb-3">
          <tbody class="general-settings">
            <tr>
              <td translate="engine.general-settings.name"></td>
              <td>{{ engineSettings.name }}</td>
            </tr>
            <tr>
              <td translate="engine.general-settings.port"></td>
              <td>{{ engineSettings.port }}</td>
            </tr>
            <tr>
              <td translate="engine.general-settings.log-levels"></td>
              <td>
                <span
                  translate="engine.general-settings.console"
                  [translateParams]="{ level: engineSettings.logParameters.console.level }"
                ></span>
                <span class="mx-1">|</span>
                <span
                  translate="engine.general-settings.file"
                  [translateParams]="{ level: engineSettings.logParameters.file.level }"
                ></span>
                <span class="mx-1">|</span>
                <span
                  translate="engine.general-settings.database"
                  [translateParams]="{ level: engineSettings.logParameters.database.level }"
                ></span>
                <span class="mx-1">|</span>
                <span
                  translate="engine.general-settings.loki"
                  [translateParams]="{ level: engineSettings.logParameters.loki.level }"
                ></span>
                <span class="mx-1">|</span>
                <span translate="engine.general-settings.oia" [translateParams]="{ level: engineSettings.logParameters.oia.level }"></span>
              </td>
            </tr>
            <tr>
              <td translate="engine.proxy-settings.title"></td>
              <td
                *ngIf="engineSettings.proxyEnabled"
                translate="engine.proxy-settings.enabled-details"
                [translateParams]="{ port: engineSettings.proxyPort }"
              ></td>
              <td *ngIf="!engineSettings.proxyEnabled" translate="engine.proxy-settings.disabled-details"></td>
            </tr>
          </tbody>
        </table>
      </oib-box>

      <oib-scan-mode-list></oib-scan-mode-list>
      <div class="mt-2">
        <oib-ip-filter-list></oib-ip-filter-list>
      </div>
      <div class="mt-2">
        <oib-certificate-list></oib-certificate-list>
      </div>
      <div class="mt-2">
        <oib-external-source-list></oib-external-source-list>
      </div>
    </div>
  </div>
</div>
