<div class="oi-padded-container">
  <div class="d-flex justify-content-between">
    <div class="oi-header-container">
      <h1 translate="engine.title"></h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8" *ngIf="engineSettings">
      <div class="mb-3">
        <h2 id="name">
          {{ engineSettings.name }}
          <span class="ms-2">
            <button class="btn btn-primary" id="edit-link" routerLink="edit">
              <i class="fa fa-pencil"></i>
              {{ 'engine.edit' | translate }}
            </button>
          </span>
        </h2>
        <div class="mb-3" id="port">
          <span class="fw-bold">{{ 'engine.general-settings.port' | translate }}</span>
          <span class="fw-bold">{{ 'common.colon-separator' | translate }}</span>
          <span>{{ engineSettings.port }}</span>
        </div>
        <div class="row mb-3">
          <h3 translate="engine.logger.title"></h3>
          <div class="col" id="console-level">
            <span class="fw-bold">{{ 'engine.logger.console.title' | translate }}</span>
            <span class="fw-bold">{{ 'common.colon-separator' | translate }}</span>
            <span>{{ 'enums.log-levels.' + engineSettings.logParameters.console.level | translate }}</span>
          </div>
          <div class="col" id="file-level">
            <span class="fw-bold">{{ 'engine.logger.file.title' | translate }}</span>
            <span class="fw-bold">{{ 'common.colon-separator' | translate }}</span>
            <span>{{ 'enums.log-levels.' + engineSettings.logParameters.file.level | translate }}</span>
          </div>
          <div class="col" id="database-level">
            <span class="fw-bold">{{ 'engine.logger.database.title' | translate }}</span>
            <span class="fw-bold">{{ 'common.colon-separator' | translate }}</span>
            <span>{{ 'enums.log-levels.' + engineSettings.logParameters.database.level | translate }}</span>
          </div>
          <div class="col" id="loki-level">
            <span class="fw-bold">{{ 'engine.logger.loki.title' | translate }}</span>
            <span class="fw-bold">{{ 'common.colon-separator' | translate }}</span>
            <span>{{ 'enums.log-levels.' + engineSettings.logParameters.loki.level | translate }}</span>
          </div>
        </div>
        <div class="row mb-3">
          <h3 translate="engine.health-signal.title"></h3>
          <div class="col" id="health-logging">
            <span class="fw-bold">{{ 'engine.health-signal.logging.title' | translate }}</span>
            <span class="fw-bold">{{ 'common.colon-separator' | translate }}</span>
            <span *ngIf="engineSettings.healthSignal.logging.enabled">{{ 'common.enabled' | translate }}</span>
            <span *ngIf="!engineSettings.healthSignal.logging.enabled">{{ 'common.disabled' | translate }}</span>
          </div>
          <div class="col" id="health-http">
            <span class="fw-bold">{{ 'engine.health-signal.http.title' | translate }}</span>
            <span class="fw-bold">{{ 'common.colon-separator' | translate }}</span>
            <span *ngIf="engineSettings.healthSignal.http.enabled">{{ 'common.enabled' | translate }}</span>
            <span *ngIf="!engineSettings.healthSignal.http.enabled">{{ 'common.disabled' | translate }}</span>
          </div>
        </div>
      </div>
      <oib-proxy-list class="mb-3"></oib-proxy-list>
      <oib-scan-mode-list class="mb-3"></oib-scan-mode-list>
      <oib-ip-filter-list class="mb-3"></oib-ip-filter-list>
      <oib-external-source-list></oib-external-source-list>
    </div>
  </div>
</div>
