<div>
  <div class="row" *ngFor="let row of settingsSchema">
    <ng-container *ngFor="let settings of row">
      <div *ngIf="!this.form?.get(settings.key)?.disabled" [class]="settings.class || 'col'">
        <div class="form-group">
          <label *ngIf="settings.label && settings.type !== 'OibCheckbox'" [for]="settings.type + '-' + settings.key"
            >{{ settings.label }}</label
          >
          <input
            *ngIf="settings.type === 'OibText'"
            [formControlName]="settings.key"
            [id]="settings.type + '-' + settings.key"
            class="form-control"
          />
          <textarea
            *ngIf="settings.type === 'OibTextArea'"
            [formControlName]="settings.key"
            [id]="settings.type + '-' + settings.key"
            class="form-control"
          ></textarea>
          <oib-code-block
            *ngIf="settings.type === 'OibCodeBlock'"
            [key]="settings.key"
            [formControlName]="settings.key"
            [contentType]="settings.contentType"
          ></oib-code-block>
          <input
            *ngIf="settings.type === 'OibNumber'"
            type="number"
            [formControlName]="settings.key"
            [id]="settings.type + '-' + settings.key"
            class="form-control"
          />
          <select
            *ngIf="settings.type === 'OibSelect'"
            [formControlName]="settings.key"
            [id]="settings.type + '-' + settings.key"
            class="form-select mb-2 mr-sm-2"
          >
            <option *ngFor="let option of settings.options" [ngValue]="option">{{ option }}</option>
          </select>
          <div class="form-check form-switch" *ngIf="settings.type === 'OibCheckbox'">
            <input [formControlName]="settings.key" [id]="settings.type + '-' + settings.key" type="checkbox" class="form-check-input" />
            <label *ngIf="settings.label" [for]="settings.type + '-' + settings.key">{{ settings.label }}</label>
          </div>
          <input
            *ngIf="settings.type === 'OibSecret'"
            type="password"
            [formControlName]="settings.key"
            [id]="settings.type + '-' + settings.key"
            class="form-control"
          />
          <select
            *ngIf="settings.type === 'OibTimezone'"
            [formControlName]="settings.key"
            [id]="settings.type + '-' + settings.key"
            class="form-select mb-2 mr-sm-2"
          >
            <option *ngFor="let timezone of timezones" [ngValue]="timezone">{{ timezone }}</option>
          </select>
          <val-errors [controlName]="settings.key"></val-errors>
        </div>
      </div>
    </ng-container>
  </div>
</div>
