<ng-container>
  @for (row of settingsSchema; track row) {
    <div class="row">
      @for (setting of row; track setting) {
        @if (this.form.get(setting.key)?.enabled) {
          <div [class]="setting.class || 'col'">
            @if (setting.type !== 'OibFormGroup') {
              <div class="form-group">
                @if (setting.label && setting.type !== 'OibCheckbox' && setting.type !== 'OibArray') {
                  <label class="form-label" [for]="setting.type + '-' + setting.key">{{ setting.label }} </label>
                }
                @if (setting.type === 'OibText') {
                  <input [formControlName]="setting.key" [id]="setting.type + '-' + setting.key" class="form-control" />
                }
                @if (setting.type === 'OibTextArea') {
                  <textarea [formControlName]="setting.key" [id]="setting.type + '-' + setting.key" class="form-control"></textarea>
                }
                @if (setting.type === 'OibCodeBlock') {
                  <oib-code-block [key]="setting.key" [formControlName]="setting.key" [contentType]="setting.contentType" />
                }
                <!-- Input of type number with unit -->
                @if (setting.unitLabel && setting.type === 'OibNumber') {
                  <div class="input-group">
                    <input type="number" [formControlName]="setting.key" [id]="setting.type + '-' + setting.key" class="form-control" />
                    <span class="input-group-text" [translate]="'common.unit.' + setting.unitLabel"></span>
                  </div>
                }
                <!-- Input of type number without unit -->
                @if (setting.type === 'OibNumber' && !setting.unitLabel) {
                  <input type="number" [formControlName]="setting.key" [id]="setting.type + '-' + setting.key" class="form-control" />
                }
                @if (setting.type === 'OibSelect') {
                  <select [formControlName]="setting.key" [id]="setting.type + '-' + setting.key" class="form-select mb-2 mr-sm-2">
                    @if (!checkIfRequired(setting)) {
                      <option [ngValue]="null"></option>
                    }
                    @for (option of setting.options; track option) {
                      <option [ngValue]="option">{{ transform(option, setting.pipe) }}</option>
                    }
                  </select>
                }
                @if (setting.type === 'OibCertificate') {
                  <select [formControlName]="setting.key" [id]="setting.type + '-' + setting.key" class="form-select mb-2 mr-sm-2">
                    <option [ngValue]="null"></option>
                    @for (certificate of certificates; track certificate) {
                      <option [ngValue]="certificate.id">{{ certificate.name }}</option>
                    }
                  </select>
                }
                @if (setting.type === 'OibCheckbox') {
                  <div class="form-check form-switch padded">
                    <input
                      [formControlName]="setting.key"
                      [id]="setting.type + '-' + setting.key"
                      type="checkbox"
                      class="form-check-input"
                    />
                    @if (setting.label) {
                      <label class="form-check-label" [for]="setting.type + '-' + setting.key">{{ setting.label }}</label>
                    }
                  </div>
                }
                @if (setting.type === 'OibSecret') {
                  <input type="password" [formControlName]="setting.key" [id]="setting.type + '-' + setting.key" class="form-control" />
                }
                @if (setting.type === 'OibTimezone') {
                  <input
                    [id]="setting.type + '-' + setting.key"
                    class="form-control"
                    [formControlName]="setting.key"
                    [ngbTypeahead]="timezoneTypeahead"
                    [editable]="false"
                  />
                }
                @if (setting.type === 'OibArray') {
                  <oib-array
                    [formDescription]="setting.content"
                    [label]="setting.label"
                    [key]="setting.key"
                    [formControlName]="setting.key"
                  />
                }
                <val-errors [controlName]="setting.key" />
              </div>
            }
            @if (setting.type === 'OibFormGroup' && setting.content.length > 0 && getFormGroup(setting).enabled) {
              <div class="form-group">
                <label class="form-label" [for]="setting.type + '-' + setting.key">{{ setting.label }}</label>
                <oib-form
                  [formGroupName]="setting.key"
                  [form]="getFormGroup(setting)"
                  [settingsSchema]="settingsGroupedByRowByFormGroup.get(setting.key)!"
                  [scanModes]="scanModes"
                  [certificates]="certificates"
                />
              </div>
            }
          </div>
        }
      }
    </div>
  }
</ng-container>
