@if (notifications$ | async; as notifications) {
  @for (notification of notifications; track notification) {
    <ngb-toast
      [autohide]="true"
      [delay]="5000"
      (hidden)="close(notification)"
      class="text-light lead bump"
      [class.bg-danger]="notification.type === 'error'"
      [class.bg-success]="notification.type === 'success'"
    >
      @if (notification.message) {
        <span class="notification-content">{{ notification.message }}</span>
      } @else {
        <span class="notification-content" [translate]="notification.i18nKey!" [translateParams]="notification.i18nArgs"></span>
      }
    </ngb-toast>
  }
}
