name: Build OIBus binaries

on:
  workflow_dispatch:
  release:
    types: [ published ]

permissions:
  contents: write
  packages: write

jobs:
  build:
    name: Build for ${{ matrix.config['friendlyName'] }}
    runs-on: ${{ matrix.config['os'] }}
    strategy:
      matrix:
        config:
          - { friendlyName: 'MacOS arm64', os: 'macos-15', platform: 'macos-arm64', archiveName: 'oibus-macos_arm64', zip: 'zip -r' }
          - { friendlyName: 'MacOS x64', os: 'macos-15-intel', platform: 'macos-x64', archiveName: 'oibus-macos_x64', zip: 'zip -r' }
          - { friendlyName: 'Windows x64', os: 'windows-2025', platform: 'win-x64', archiveName: 'oibus-win_x64', zip: '7z a -tzip' }
          - { friendlyName: 'Linux x64', os: 'ubuntu-24.04', platform: 'linux-x64', archiveName: 'oibus-linux_x64', zip: 'zip -r' }
          - { friendlyName: 'Linux arm64', os: 'ubuntu-24.04-arm', platform: 'linux-arm64', archiveName: 'oibus-linux_arm64', zip: 'zip -r' }
    timeout-minutes: 25

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - name: Get release info
        id: release_info
        uses: actions/github-script@v8
        with:
          script: |
            const release = await github.rest.repos.getRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: context.payload.release.id
            });
            const tagName = release.data.tag_name.startsWith('v') ? release.data.tag_name.slice(1) : release.data.tag_name;
            core.setOutput("prerelease", release.data.prerelease);
            core.setOutput("tag_name", tagName);
            core.setOutput("release_name", release.data.tag_name);

      - name: Print release details
        run: |
          echo "Pre-release: ${{ steps.release_info.outputs.prerelease }}"
          echo "Tag name: ${{ steps.release_info.outputs.tag_name }}"

      - name: Setup environment
        uses: ./.github/actions/setup_environment
        with:
          cache_version: ${{ secrets.GH_ACTIONS_CACHE_KEY }}
          prerelease: ${{ steps.release_info.outputs.prerelease }}
          tag_name: ${{ steps.release_info.outputs.tag_name }}


      - name: Bundle OIBus frontend for ${{ matrix.config['friendlyName'] }}
        working-directory: ./frontend
        run: npm run build

      - name: Build OIBus launcher for ${{ matrix.config['friendlyName'] }}
        working-directory: ./launcher
        run: npm run build:${{ matrix.config['platform'] }}

      - name: Build OIBus binary for ${{ matrix.config['friendlyName'] }}
        working-directory: ./backend
        run: npm run build:${{ matrix.config['platform'] }}

      - name: Cache Google Cloud KMS Provider
        if: ${{ matrix.config['platform'] == 'win-x64' }}
        id: cache-kms
        uses: actions/cache@v5
        with:
          path: kmscng.zip
          # key includes version; if you change the version later, the cache invalidates automatically
          key: google-cloud-kms-provider-v1.3

      - name: Install Google Cloud KMS Provider
        if: ${{ matrix.config['platform'] == 'win-x64' }}
        shell: pwsh
        run: |
          $zipFile = "kmscng.zip"
          $extractPath = "kmscng_extracted"
          $url = "https://github.com/GoogleCloudPlatform/kms-integrations/releases/download/cng-v1.3/kmscng-1.3-windows-amd64.zip"
          
          # Check if we have the file from cache
          if (Test-Path $zipFile) {
              Write-Host "Cache Hit: Using existing installer."
          } else {
              Write-Host "Cache Miss: Downloading from $url..."
              Invoke-WebRequest $url -OutFile $zipFile
          }
          
          # Extract
          Write-Host "Extracting..."
          Expand-Archive -Path $zipFile -DestinationPath $extractPath -Force
          
          # Find MSI
          $msi = Get-ChildItem -Path $extractPath -Filter "*.msi" -Recurse | Select-Object -First 1 -ExpandProperty FullName
          
          if (-not $msi) { throw "Error: Could not find MSI file in the package." }
          
          # Install
          Write-Host "Installing MSI: $msi"
          Start-Process msiexec.exe -ArgumentList "/i `"$msi`" /quiet /norestart" -Wait
          Write-Host "Installation Complete."
      
      - name: Authenticate to Google Cloud
        if: ${{ matrix.config['platform'] == 'win-x64' }}
        id: auth
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_JSON }}

      - name: Sign OIBus binaries
        if: ${{ matrix.config['platform'] == 'win-x64' }}
        shell: pwsh
        env:
          CERT_BASE64_CONTENT: ${{ secrets.CERT }}
          CERT_PATH: "C:\\oibus.crt"
        run: |
          try {
              # 1. Decode Certificate
              $encodedBytes = [System.Convert]::FromBase64String("$env:CERT_BASE64_CONTENT")
              Set-Content -Path "$env:CERT_PATH" -AsByteStream -Value $encodedBytes
              
              # 2. Find the System x64 Signtool (Fixes "term not recognized")
              $signtool = Get-ChildItem -Path "C:\Program Files (x86)\Windows Kits" -Filter "signtool.exe" -Recurse | Where-Object { $_.FullName -like "*x64*" } | Select-Object -First 1 -ExpandProperty FullName
              
              if (-not $signtool) { throw "Could not find x64 signtool.exe on this runner." }
              Write-Host "Found Signtool at: $signtool"
        
              # 3. Sign OIBus binary
              & $signtool sign /debug /fd SHA256 /tr http://timestamp.comodoca.com /td SHA256 /f "$env:CERT_PATH" /csp "Google Cloud KMS Provider" /kc projects/oibus-dev/locations/global/keyRings/sectigo/cryptoKeys/202512-code-signing/cryptoKeyVersions/1 ./build/bin/${{ matrix.config['platform'] }}/binaries/oibus.exe
              
              # 4. Sign OIBus launcher
              & $signtool sign /debug /fd SHA256 /tr http://timestamp.comodoca.com /td SHA256 /f "$env:CERT_PATH" /csp "Google Cloud KMS Provider" /kc projects/oibus-dev/locations/global/keyRings/sectigo/cryptoKeys/202512-code-signing/cryptoKeyVersions/1 ./build/bin/${{ matrix.config['platform'] }}/oibus-launcher.exe
          }
            catch {
            Write-Error $_
            exit 1
          }
            finally {
            if (Test-Path "$env:CERT_PATH") { Remove-Item -Path "$env:CERT_PATH" -Force }
          }

      - name: Test OIBus runtime for ${{ matrix.config['friendlyName'] }}
        run: |
          cd build/bin/${{ matrix.config['platform'] }}
          ./oibus-launcher --config ../../../data-folder --version true

      - name: Package OIBus for ${{ matrix.config['friendlyName'] }}
        run: |
          cd build/bin/${{ matrix.config['platform'] }}
          ${{ matrix.config['zip'] }} ../${{ matrix.config['archiveName'] }}-${{ github.ref_name }}.zip .

      - name: Upload Artifact ${{ matrix.config['archiveName'] }}-${{ github.ref_name }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
        run:
          gh release upload ${{ github.ref_name }} ./build/bin/${{ matrix.config['archiveName'] }}-${{ github.ref_name }}.zip

      # --- WINDOWS SPECIFIC ---
      - name: Cache Inno Setup
        if: ${{ matrix.config['platform'] == 'win-x64' }}
        id: cache-inno
        uses: actions/cache@v5
        with:
          path: C:\is.exe
          key: inno-setup-6

      - name: Install InnoSetup
        if: ${{ matrix.config['platform'] == 'win-x64' }}
        shell: pwsh
        run: |
          if (-Not (Test-Path "C:\is.exe")) {
            Invoke-WebRequest -Uri https://jrsoftware.org/download.php/is.exe -OutFile C:\\is.exe
          }
          if (-Not (Test-Path "C:\Program Files (x86)\Inno Setup 6\iscc.exe")) {
            Start-Process -FilePath C:\\is.exe -ArgumentList "/VERYSILENT", "/SUPPRESSMSGBOXES", "/NORESTART" -Wait
          }

      - name: Package Windows installer
        if: ${{ matrix.config['platform'] == 'win-x64' }}
        shell: pwsh
        env:
          SIGN_TOOL_PATH: "${{ github.workspace }}\\build\\deps\\win-x64\\sign-kms.bat"
          CERT_BASE64_CONTENT: ${{ secrets.CERT }}
          CERT_PATH: "C:\\oibus.crt"
        working-directory: ./backend
        run: |
          try {
            $encodedBytes = [System.Convert]::FromBase64String("$env:CERT_BASE64_CONTENT")
            Set-Content -Path "$env:CERT_PATH" -AsByteStream -Value $encodedBytes
            $env:CERT_PATH = "$env:CERT_PATH"
            npm run build:win-setup-x64
          }
          finally {
            if (Test-Path "$env:CERT_PATH") {
              Remove-Item -Path "$env:CERT_PATH" -Force
            }
          }

      - name: Rename & Upload Windows installer
        if: ${{ matrix.config['platform'] == 'win-x64' }}
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
        run: |
          mv ./build/bin/win-setup-release/oibus-setup.exe ./build/bin/win-setup-release/${{ matrix.config['archiveName'] }}-setup-${{ github.ref_name }}.exe
          gh release upload ${{ github.ref_name }} ./build/bin/win-setup-release/${{ matrix.config['archiveName'] }}-setup-${{ github.ref_name }}.exe

    outputs:
      release_name: ${{ steps.release_info.outputs.release_name }}
      prerelease: ${{ steps.release_info.outputs.prerelease }}

  docker:
    name: 'Release OIBus docker container'
    needs: [ build ]
    uses: ./.github/workflows/docker.yml
    secrets: inherit
    with:
      tag: ${{ needs.build.outputs.release_name }}
      prerelease: ${{ needs.build.outputs.prerelease }}

  slack:
    name: 'Slack notification'
    needs: [ docker ]
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - name: Slack notification
        uses: kpritam/slack-job-status-action@v1
        with:
          job-status: ${{ needs.docker.result }}
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: oibus-ci