name: Run OIBus unit tests

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: [ "main", "release" ]
    paths-ignore: [ "docs/**", "deps/**", "**.md" ]
  pull_request:
    types: [ opened, synchronize, ready_for_review ]
    paths-ignore: [ "documentation/**", "deps/**", "**.md" ]


concurrency:
  # New commit on branch cancels running workflows of the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Run tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ macOS-latest, windows-latest, ubuntu-latest ]

    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup environment
        uses: ./.github/actions/setup_environment
        with:
          cache_version: ${{ secrets.GH_ACTIONS_CACHE_KEY }}

      - name: Run unit tests
        uses: ./.github/actions/unit_tests
