name: Release new OIBus version

on:
  push:
    branches:
      - stable

concurrency:
  # New commit on branch cancels running workflows of the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    name: 'Tag new version'
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          target-branch: stable
          config-file: .github/release-please-config.json
          manifest-file: .github/release-please-manifest.json

      - name: Checkout
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - name: Deploy documentation
        if: ${{ steps.release.outputs.release_created }}
        uses: ./.github/actions/deploy_documentation




          
          
