name: 'publish'

on:
  release:
    types: [published]
jobs:
  publish-executables:
    name: 'Publish executable packages'
    runs-on: ${{ matrix.config['os'] }}
    strategy:
      matrix:
        config:
          - { os: 'macos-latest',   platform: 'macos', archiveName: 'OIBus-macos.zip' }
          - { os: 'windows-latest', platform: 'win',   archiveName: 'OIBus-win32x64.zip', zip: '7z a -tzip' }
          - { os: 'ubuntu-latest',  platform: 'linux', archiveName: 'OIBus-linux.zip' }
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.14

      - name: Use npm
        run: |
          npm install -g npm@8.3.1
      - name: Package OIBus for ${{ matrix.config['platform'] }}
        id: pkg
        run: |
          npm ci
          npm run build-${{ matrix.config['platform'] }}
          cd dist/${{ matrix.config['platform'] }}
          ${{ matrix.config['zip'] }} -r ../oibus.zip .
      - uses: actions/github-script@v6
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const fs = require('fs')
            await github.rest.repos.uploadReleaseAsset({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              release_id: context.payload.release.id,
              name: '${{ matrix.config['archiveName'] }}',
              data: fs.readFileSync('./dist/oibus.zip')
            })
  publish-windows-installer:
    name: 'Publish windows installer'
    runs-on: windows-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.14

      - name: Use npm
        run: |
          npm install -g npm@8.3.1
      - name: Package OIBus for win
        id: pkg
        run: |
          npm ci
          npm run build-win
      - name: Build the installer
        run: |
          npm run build-win-setup
        working-directory: ./dist/win
        shell: cmd

      - uses: actions/github-script@v6
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const fs = require('fs')
            await github.rest.repos.uploadReleaseAsset({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              release_id: context.payload.release.id,
              name: 'OIBus-setup-win32x64.exe',
              data: fs.readFileSync('./dist/win-setup-release/oibus_setup.exe')
            })
