name: 'publish'

on:
  release:
    types: [published]
jobs:
  publish-all:
    name: 'Publish'
    runs-on: ${{ matrix.config['os'] }}
    strategy:
      matrix:
        config:
          - { os: 'macos-latest',   platform: 'macos', archiveName: 'OIBus-macos.zip',    zip: 'zip -r'     }
          - { os: 'windows-latest', platform: 'win',   archiveName: 'OIBus-win32x64.zip', zip: '7z a -tzip' }
          - { os: 'ubuntu-latest',  platform: 'linux', archiveName: 'OIBus-linux.zip',    zip: 'zip -r'     }
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.17.6

      - name: Use npm
        run: |
          npm install -g npm@7.23.0

      - name: Package OIBus for ${{ matrix.config['platform'] }}
        id: pkg
        run: |
          npm ci
          npm run build-${{ matrix.config['platform'] }}
          cd dist/${{ matrix.config['platform'] }}
          ${{ matrix.config['zip'] }} ../oibus.zip .

      - uses: actions/github-script@v4
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const fs = require('fs')

            await github.repos.uploadReleaseAsset({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              release_id: context.payload.release.id,
              name: '${{ matrix.config['archiveName'] }}',
              data: fs.readFileSync('./dist/oibus.zip')
            })
