name: Run OIBus tests

on: workflow_call

jobs:
  tests:
    name: Test on ${{ matrix.config['os'] }}
    runs-on: ${{ matrix.config['os'] }}
    strategy:
      matrix:
        config:
          - { os: 'macos-latest' }
          - { os: 'windows-latest' }
          - { os: 'ubuntu-latest' }
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.15

      - name: Setup backend environment
        uses: ./.github/actions/setup_backend_environment
        with:
          cache_version: ${{ secrets.GH_ACTIONS_CACHE_KEY }}

      - name: Setup frontend environment
        uses: ./.github/actions/setup_frontend_environment
        with:
          cache_version: ${{ secrets.GH_ACTIONS_CACHE_KEY }}

      - name: Run unit tests
        uses: ./.github/actions/unit_tests

      - name: Prepare integration test
        if: ${{ matrix.config['os'] == 'ubuntu-latest' }}
        working-directory: ./backend
        run: npm run test:setup-env

      - name: Wait for docker containers
        if: ${{ matrix.config['os'] == 'ubuntu-latest' }}
        uses: jakejarvis/wait-action@master
        with:
          time: '25s'

      - name: Integration test
        if: ${{ matrix.config['os'] == 'ubuntu-latest' }}
        working-directory: ./backend
        run: npm run test:integration
