name: Run OIBus tests

on:
  pull_request:
    types: [ opened, synchronize, ready_for_review ]
    paths-ignore: [ "documentation/**", "build/**", "data-folder/**", "**.md" ]

concurrency:
  # New commit on branch cancels running workflows of the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os  }}
    strategy:
      matrix:
        os: [ windows-2025, ubuntu-24.04 ]
    timeout-minutes: 25
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - name: Setup environment
        uses: ./.github/actions/setup_environment
        with:
          cache_version: ${{ secrets.GH_ACTIONS_CACHE_KEY }}

      - name: Run unit tests
        uses: ./.github/actions/unit_tests
